Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, solid-principle-validator, p1-unit-tests, p1-test-coverage

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/policy/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/policy/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/policy/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

solid-principle-validator:
  name: SOLID Principle Validation
  entry: python .claudedirector/tools/architecture/solid_validator.py
  language: python
  pass_filenames: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/testing/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/testing/check_p1_coverage.py
  language: python
  pass_filenames: false

cleanup: Remove temporary resolution document
  PHASE5_3_BLOCKING_ISSUES_RESOLUTION.md
Due: documentation-size-policy

fix: Temporarily disable SOLID validator for Phase 5.3
  .pre-commit-config.yaml
Due: none

fix: Reorganize documentation into logical structure
  docs/architecture/p0-testing.md
  docs/deprecated/cli-v2-README.md
  docs/reference/INTEGRATION_COMPLETE.md
  docs/reference/README.md
  docs/reference/VALIDATION_SUCCESS.md
  docs/reference/lib-overview.md
  docs/reference/p0-features.md
  docs/setup/ASSISTANT_GUARDRAILS.md
  docs/setup/CURSOR_INTEGRATION.md
  docs/setup/CURSOR_WORKSPACE_GUIDE.md
  docs/setup/ENHANCED_FRAMEWORK_STATUS.md
  docs/workspace-templates.md
Due: documentation-size-policy

fix: Make Complete New Setup P0 test robust and update test protection policies
  .claudedirector/config/test_registry.yaml
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0_optimized.py
  .claudedirector/tools/quality/check_p0_tests.py
Due: p0-test-protection-policy

docs: Eliminate redundant docs/tools/ directory structure
  docs/architecture/STRUCTURE_CLEANUP_ANALYSIS.md
  docs/development/ci-validation.md
  docs/development/development_workflow.md
  docs/tools/architecture/EMBEDDED_FRAMEWORK_ENGINE_SOLID_REFACTORING_PLAN.md
  docs/tools/architecture/ROI_TRACKER_REFACTORING_PLAN.md
  docs/tools/ci/NEVER_USE_NO_VERIFY.md
  docs/tools/ci/P0_TEST_SYSTEM.md
  docs/tools/ci/test_precommit_fix.md
  docs/tools/quality/PRE_SOLID_QUALITY_ASSESSMENT.md
  docs/tools/quality/QUALITY_REMEDIATION_PLAN.md
  docs/tools/quality/REGRESSION_TEST_ANALYSIS.md
  docs/tools/quality/mypy-progress.md
Due: documentation-size-policy

feat: Standardize naming conventions and validate testing architecture
  .claudedirector/tools/automation/demo_meeting_intelligence.py
  .claudedirector/tools/automation/demo_strategic_scenario.py
  .claudedirector/tools/automation/optimize_database.py
  .claudedirector/tools/automation/protect_readme.py
  .claudedirector/tools/automation/validate_strategic_patterns.py
  .claudedirector/tools/ci/architectural_validation_focused.py
  .claudedirector/tools/ci/p0_ci_coverage_guard.py
  .claudedirector/tools/ci/validate_ci_locally.py
  .pre-commit-config.yaml
  docs/development/ci-validation.md
Due: documentation-size-policy

test: Verify git hooks working after path fixes
  PHASE5_3_FUNCTIONAL_ORGANIZATION_PLAN.md
Due: documentation-size-policy

🚨 CRITICAL FIX: Repair CI integrity and documentation policy violations
  .github/workflows/unified-ci.yml
  docs/requirements/CONTEXT_ENGINEERING_ARCHITECTURE.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy

🔧 FIX: CI environment compatibility for mandatory test validator
  .claudedirector/tools/quality/mandatory_test_validator.py
Due: none

🎨 STYLE: Apply black formatting to mandatory test validator
  .claudedirector/tools/quality/mandatory_test_validator.py
Due: none

🔧 FIX: Complete CI environment parity - fix remaining venv path issues
  .claudedirector/tools/quality/mandatory_test_validator.py
Due: none

🔧 FIX: Critical CI environment parity - fix missing git hook
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  .pre-commit-config.yaml
Due: none

🔧 FIX: Final CI environment parity - Python syntax compatibility
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
Due: none

🔧 FIX: Complete CI environment parity - bypass problematic hook in CI
  .pre-commit-config.yaml
Due: none

📝 ENHANCE: Refine bloat cleanup plan formatting
  PHASE6_ARCHITECTURAL_BLOAT_CLEANUP_PLAN.md
Due: documentation-size-policy

🧹 CLEANUP: Simplify framework detector imports
  .claudedirector/lib/ai_intelligence/framework_detector.py
Due: architecture-compliance-policy

🔧 FIX: Black formatting for framework detector
  .claudedirector/lib/ai_intelligence/framework_detector.py
Due: architecture-compliance-policy

🗑️ INCREMENTAL CLEANUP: Remove refactored_framework_engine.py
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/core/embedded_framework_engine.py
  .claudedirector/lib/core/refactored_framework_engine.py
Due: architecture-compliance-policy

🗑️ INCREMENTAL CLEANUP: Remove mcp_enhanced_framework_engine.py
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/ai_intelligence/mcp_enhanced_framework_engine.py
Due: architecture-compliance-policy

🔧 FIX: Black formatting after incremental cleanup
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/core/embedded_framework_engine.py
Due: architecture-compliance-policy

🗑️ INCREMENTAL CLEANUP: Remove orphaned framework files
  .claudedirector/lib/ai_intelligence/enhanced_framework_detection.py
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/ai_intelligence/framework_mcp_coordinator.py
  PHASE6_ARCHITECTURAL_BLOAT_CLEANUP_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy

🧹 CLEANUP: Fix P0 test imports and remove orphaned test files
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
  .claudedirector/tests/unit/ai_intelligence/test_framework_mcp_coordinator.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_enhanced_framework_engine.py
Due: none

🔧 FIX: Update P0 test registry after framework consolidation
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
Due: none

🔧 CONSOLIDATE: Add ConversationMemoryEngine to unified detector
  .claudedirector/lib/ai_intelligence/framework_detector.py
Due: architecture-compliance-policy

🎉 HISTORIC: 100% Framework Engine Unification Complete!
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/lib/core/embedded_framework_engine.py
  .claudedirector/lib/core/enhanced_framework_engine.py
  .claudedirector/lib/core/persona_enhancement_engine.py
Due: architecture-compliance-policy

🧹 MASSIVE: Remove 55,098+ lines of orphaned test files
  .claudedirector/tests/performance/test_framework_engine_benchmarks.py
  .claudedirector/tests/regression/test_framework_engine_regression.py
  .claudedirector/tests/unit/test_enhanced_framework_engine.py
Due: none

🎨 FORMAT: Fix Black formatting violations
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/lib/core/persona_enhancement_engine.py
Due: architecture-compliance-policy

🔧 FIX: Enhanced Framework Detection P0 test - resolve import dependencies
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
Due: architecture-compliance-policy

🎨 FORMAT: Fix Black formatting after P0 test fix
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
Due: none

🎉 PHASE 6.1 COMPLETE: Architectural Bloat Cleanup - 61,793+ lines eliminated
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/ai_intelligence/framework_mcp_coordinator.py
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/lib/ai_intelligence/mcp_enhanced_framework_engine.py
  .claudedirector/lib/core/embedded_framework_engine.py
  .claudedirector/lib/core/enhanced_framework_engine.py
  .claudedirector/lib/core/persona_enhancement_engine.py
  .claudedirector/lib/core/refactored_framework_engine.py
  .claudedirector/tests/performance/test_framework_engine_benchmarks.py
  .claudedirector/tests/regression/test_framework_engine_regression.py
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
  .claudedirector/tests/unit/ai_intelligence/test_framework_mcp_coordinator.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_enhanced_framework_engine.py
  .claudedirector/tests/unit/test_enhanced_framework_engine.py
  PHASE6_ARCHITECTURAL_BLOAT_CLEANUP_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy

🚀 PHASE 6.2 SETUP: Integration Test Consolidation Plan
  PHASE6_2_INTEGRATION_TEST_CONSOLIDATION_PLAN.md
Due: documentation-size-policy

🎉 PHASE 6.2 COMPLETE: Integration Test Consolidation - 1,197 additional lines eliminated
  .claudedirector/tests/integration/test_rumelt_wrap_frameworks.py
  .claudedirector/tests/integration/test_scaling_up_excellence_framework.py
  .claudedirector/tests/integration/test_stakeholder_frameworks.py
  .claudedirector/tests/integration/test_team_frameworks.py
  .claudedirector/tests/regression/test_configuration_integrity.py
Due: none

🎨 FORMAT: Fix Black formatting for Phase 6.2 completion
  .claudedirector/tests/regression/test_configuration_integrity.py
Due: none

📋 UPDATE: Phase 6.2 plan reflects completion status
  PHASE6_2_INTEGRATION_TEST_CONSOLIDATION_PLAN.md
Due: documentation-size-policy

🎉 PHASE 6.2 COMPLETE: Integration Test Consolidation - Historic Architectural Cleanup Finished
  .claudedirector/tests/integration/test_rumelt_wrap_frameworks.py
  .claudedirector/tests/integration/test_scaling_up_excellence_framework.py
  .claudedirector/tests/integration/test_stakeholder_frameworks.py
  .claudedirector/tests/integration/test_team_frameworks.py
  .claudedirector/tests/regression/test_configuration_integrity.py
  PHASE6_2_INTEGRATION_TEST_CONSOLIDATION_PLAN.md
Due: documentation-size-policy

🎉 PHASE 6.2 COMPLETE: Integration Test Consolidation - Historic Architectural Cleanup Finished (#89)
  .claudedirector/tests/integration/test_rumelt_wrap_frameworks.py
  .claudedirector/tests/integration/test_scaling_up_excellence_framework.py
  .claudedirector/tests/integration/test_stakeholder_frameworks.py
  .claudedirector/tests/integration/test_team_frameworks.py
  .claudedirector/tests/regression/test_configuration_integrity.py
  PHASE6_2_INTEGRATION_TEST_CONSOLIDATION_PLAN.md
Due: documentation-size-policy

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  solid-principle-validator: any of: ^lib/claudedirector/(p0_features|p1_features)/.*\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
