Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

Path conditions:
  code-bloat-prevention: any of: \.py$
  code-bloat-prevention-secondary: any of: \.py$
  all-unit-tests: any of: ^\.claudedirector/(lib/.*\.py|tests/unit/.*\.py)$

docs(phase7): Complete unit test initiative - Phase 7 tracking (#175)
  .github/workflows/unified-ci.yml
  docs/development/specs/008-unit-test-fix/PHASE7_TRACKING.md
  docs/development/specs/008-unit-test-fix/plan.md
Due: none

test(sdk): Add performance benchmarks for Agent SDK optimizations
  .claudedirector/tests/performance/test_sdk_optimization_benchmarks.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

test(sdk): Add performance benchmarks for Agent SDK optimizations (#176)
  .claudedirector/tests/performance/test_sdk_optimization_benchmarks.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

docs(mcp): Initialize Phase 1 - Predictive Analytics Core planning
  docs/development/specs/002-mcp-server-enhancement/PHASE1_PLANNING.md
Due: none

docs(mcp): Fix spec 002 to follow standard naming convention
  docs/development/specs/002-mcp-server-enhancement/PHASE1_PLANNING.md
  docs/development/specs/002-mcp-server-enhancement/plan.md
Due: none

feat(ai): Enhance predictive analytics with PROJECT_SUCCESS + ROI modeling (Spec 002 FR2)
  .claudedirector/lib/ai_intelligence/predictive/prediction_models.py
  .claudedirector/lib/ai_intelligence/predictive/roi_modeling.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(ai): Replace PredictiveProcessor stub with real implementation (Spec 002 FR2)
  .claudedirector/lib/ai_intelligence/predictive_processor.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

test(ai): Add comprehensive unit tests for predictive modules (Spec 002 FR2)
  .claudedirector/tests/unit/ai_intelligence/test_prediction_models.py
  .claudedirector/tests/unit/ai_intelligence/test_roi_modeling.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

test(ai): Add integration tests for PredictiveProcessor (Spec 002 FR2)
  .claudedirector/tests/unit/ai_intelligence/test_predictive_processor.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

refactor: consolidate ROI investment type enums (BLOAT_PREVENTION)
  .claudedirector/lib/ai_intelligence/predictive/roi_modeling.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/roi_investment_tracker.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/roi_tracker/models/roi_models.py
  .claudedirector/lib/p0_features/shared/models/__init__.py
  .claudedirector/lib/p0_features/shared/models/investment_types.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(mcp): MCP Server Enhancement - Phase 1 (Predictive Analytics Core) (#177)
  .claudedirector/lib/ai_intelligence/predictive/prediction_models.py
  .claudedirector/lib/ai_intelligence/predictive/roi_modeling.py
  .claudedirector/lib/ai_intelligence/predictive_processor.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/roi_investment_tracker.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/roi_tracker/models/roi_models.py
  .claudedirector/lib/p0_features/shared/models/__init__.py
  .claudedirector/lib/p0_features/shared/models/investment_types.py
  .claudedirector/tests/unit/ai_intelligence/test_prediction_models.py
  .claudedirector/tests/unit/ai_intelligence/test_predictive_processor.py
  .claudedirector/tests/unit/ai_intelligence/test_roi_modeling.py
  docs/development/specs/002-mcp-server-enhancement/plan.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(spec): Add rolling 90-day allocation report specification
  docs/development/specs/003-rolling-90day-allocation-report/plan.md
  docs/development/specs/003-rolling-90day-allocation-report/readme.md
  docs/development/specs/003-rolling-90day-allocation-report/spec.md
Due: none

feat(spec): Add tasks.md with detailed TDD task breakdown
  docs/development/specs/003-rolling-90day-allocation-report/tasks.md
Due: none

feat(reporting): Task 0.1.1 - Create duration-agnostic JiraReporter base class (TDD GREEN)
  .claudedirector/lib/reporting/jira_reporter.py
  .claudedirector/tests/unit/reporting/test_jira_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(reporting): Task 0.1.2 (partial) - Extract StrategicAnalyzer methods to jira_reporter
  .claudedirector/lib/reporting/jira_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(reporting): Task 0.1.2 COMPLETE - Backward compatibility established (ADR-004)
  .claudedirector/lib/reporting/weekly_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

fix(reporting): CRITICAL - Remove PII and eliminate code duplication
  .claudedirector/lib/reporting/jira_reporter.py
  .claudedirector/lib/reporting/weekly_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(phase-1): Foundation & Security complete - PII prevention + allocation models
  .claudedirector/lib/reporting/allocation_models.py
  .claudedirector/lib/reporting/jira_reporter.py
  .claudedirector/tests/security/test_pii_prevention.py
  .claudedirector/tests/unit/reporting/test_allocation_models.py
  .gitignore
  docs/SECURITY.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

fix(ci): Formatting fixes for pre-commit hooks
  .claudedirector/tests/unit/reporting/test_jira_reporter.py
  docs/development/specs/003-rolling-90day-allocation-report/readme.md
  docs/development/specs/003-rolling-90day-allocation-report/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

fix(ci): Black formatting for weekly_reporter.py
  .claudedirector/lib/reporting/weekly_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

fix(ci): Black 24.4.2 formatting for weekly_reporter.py
  .claudedirector/lib/reporting/weekly_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(phase-1): Add JQL allocation config template
  .claudedirector/config/jira-allocation-config.template.yaml
  .gitignore
Due: none

fix(ci): End-of-file fix for jira-allocation-config template
  .claudedirector/config/jira-allocation-config.template.yaml
Due: none

docs: Mark Phase 1 as complete in tasks.md
  docs/development/specs/003-rolling-90day-allocation-report/tasks.md
Due: none

feat(phase-2): Task 2.1.1 RED - Create AllocationCalculator tests (TDD)
  .claudedirector/tests/unit/reporting/test_allocation_calculator.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(phase-2): Task 2.1.1 - Add AllocationCalculator stub for CI
  .claudedirector/lib/reporting/allocation_calculator.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

fix(phase-2): Mock config dependencies in tests for CI compatibility
  .claudedirector/tests/unit/reporting/test_allocation_calculator.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

chore: Apply black formatting to test_allocation_calculator.py
  .claudedirector/tests/unit/reporting/test_allocation_calculator.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

fix(bloat-prevention): Eliminate StrategicAnalyzer duplication
  .claudedirector/lib/reporting/weekly_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

chore: Apply black formatting to weekly_reporter.py
  .claudedirector/lib/reporting/weekly_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(phase-2): Task 2.1.1 GREEN - Implement AllocationCalculator (TDD GREEN)
  .claudedirector/lib/reporting/allocation_calculator.py
  .claudedirector/tests/unit/reporting/test_allocation_calculator.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(phase-2): Rolling 90-Day Allocation Report - Phase 2.1 Complete
  .claudedirector/config/jira-allocation-config.template.yaml
  .claudedirector/lib/reporting/allocation_calculator.py
  .claudedirector/lib/reporting/allocation_models.py
  .claudedirector/lib/reporting/jira_reporter.py
  .claudedirector/lib/reporting/weekly_reporter.py
  .claudedirector/tests/security/test_pii_prevention.py
  .claudedirector/tests/unit/reporting/test_allocation_calculator.py
  .claudedirector/tests/unit/reporting/test_allocation_models.py
  .claudedirector/tests/unit/reporting/test_jira_reporter.py
  .gitignore
  docs/SECURITY.md
  docs/development/specs/003-rolling-90day-allocation-report/plan.md
  docs/development/specs/003-rolling-90day-allocation-report/readme.md
  docs/development/specs/003-rolling-90day-allocation-report/spec.md
  docs/development/specs/003-rolling-90day-allocation-report/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests

feat(phase-2.2): Allocation Report Generation - Spec and Planning
  docs/development/specs/004-allocation-report-generation/readme.md
  docs/development/specs/004-allocation-report-generation/spec.md
Due: none

docs: Resolve spec numbering duplication + Update Phase 2.1 completion status
  docs/development/specs/003-rolling-90day-allocation-report/tasks.md
  docs/development/specs/004-allocation-report-generation/tasks.md
  docs/development/specs/009-personal-retrospective-clean/README.md
  docs/development/specs/009-personal-retrospective-clean/plan.md
  docs/development/specs/009-personal-retrospective-clean/spec.md
  docs/development/specs/009-personal-retrospective-clean/tasks.md
  docs/development/specs/010-weekly-report-agent-phase2/README.md
  docs/development/specs/010-weekly-report-agent-phase2/specification.md
  docs/development/specs/010-weekly-report-agent-phase2/tasks.md
  docs/development/specs/011-cursorrules-validation-phase1/README.md
  docs/development/specs/011-cursorrules-validation-phase1/plan.md
  docs/development/specs/011-cursorrules-validation-phase1/spec.md
  docs/development/specs/011-cursorrules-validation-phase1/tasks.md
Due: none

feat(phase-2.2): AllocationReportGenerator TDD GREEN - 30/30 tests passing
  .claudedirector/lib/reporting/allocation_report_generator.py
  .claudedirector/tests/unit/reporting/test_allocation_report_generator.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, all-unit-tests
