Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

readme-content-protection:
  name: üõ°Ô∏è README CONTENT PROTECTION (Content-Aware)
  entry: python3 .claudedirector/tools/ci/readme_content_protection.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

code-bloat-prevention:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - STRICT ENFORCEMENT
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

code-bloat-prevention-secondary:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - SECONDARY CHECK
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

feat: Duplication Elimination Consolidation - 100% Architectural Compliance (#161)
  .claudedirector/demo_enhanced_diego.py
  .claudedirector/demo_multi_persona.py
  .claudedirector/tools/automation/demo_meeting_intelligence.py
  .claudedirector/tools/automation/demo_strategic_scenario.py
  .claudedirector/tools/automation/persona_chat_demo.py
  .claudedirector/tools/demo/phase7_demo.py
  .claudedirector/tools/demo/phase7_week2_demo.py
  .claudedirector/tools/demo/phase7_week3_demo.py
  .claudedirector/tools/quality/validate_net_reduction.py
  data/schemas/schema.sql
  docs/architecture/BLOAT_PREVENTION_SYSTEM.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/specs/005-duplication-elimination-consolidation/plan.md
  docs/development/specs/005-duplication-elimination-consolidation/spec.md
  docs/development/specs/005-duplication-elimination-consolidation/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

feat: implement GitHub Spec-Kit constitutional integration
  SPEC_KIT_CONSTITUTIONAL_INTEGRATION.md
  templates/plan-template.md
  templates/spec-template.md
  templates/tasks-template.md
Due: documentation-size-policy

fix: align Spec-Kit templates with PROJECT_STRUCTURE.md and BLOAT_PREVENTION_SYSTEM.md
  templates/foundation-template.md
  templates/plan-template.md
  templates/spec-template.md
  templates/tasks-template.md
Due: documentation-size-policy

feat: GitHub Spec-Kit Constitutional Integration (#162)
  SPEC_KIT_CONSTITUTIONAL_INTEGRATION.md
  templates/foundation-template.md
  templates/plan-template.md
  templates/spec-template.md
  templates/tasks-template.md
Due: documentation-size-policy

fix: reorganize Spec-Kit integration files according to PROJECT_STRUCTURE.md
  .claudedirector/config/constitution.md
  .claudedirector/templates/foundation-template.md
  .claudedirector/templates/plan-template.md
  .claudedirector/templates/spec-template.md
  .claudedirector/templates/tasks-template.md
  docs/architecture/SPEC_KIT_CONSTITUTIONAL_INTEGRATION.md
Due: documentation-size-policy

fix: reorganize Spec-Kit integration files according to PROJECT_STRUCTURE.md (#163)
  .claudedirector/config/constitution.md
  .claudedirector/templates/foundation-template.md
  .claudedirector/templates/plan-template.md
  .claudedirector/templates/spec-template.md
  .claudedirector/templates/tasks-template.md
  docs/architecture/SPEC_KIT_CONSTITUTIONAL_INTEGRATION.md
Due: documentation-size-policy

docs: add constitutional development prompts guide
  docs/DEVELOPMENT_POLICY.md
  docs/GETTING_STARTED.md
  docs/development/guides/CONSTITUTIONAL_DEVELOPMENT_PROMPTS.md
Due: documentation-size-policy

feat: simplify constitutional development prompts with automatic MCP activation
  docs/GETTING_STARTED.md
  docs/development/guides/CONSTITUTIONAL_DEVELOPMENT_PROMPTS.md
Due: documentation-size-policy

chore: clean up working directory changes
  .claudedirector/lib/reporting/weekly_reporter.py
  .cursor/commands/generate-weekly-report.md
  leadership-workspace/strategy/PLATFORM_STRATEGY_TEMPLATE.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: update additional documentation for simplified constitutional development prompts
  docs/development/SEQUENTIAL_THINKING_ENFORCEMENT.md
  docs/development/guides/DEVELOPMENT_WORKFLOW.md
  docs/development/guides/MCP_INTEGRATION.md
Due: documentation-size-policy

feat: simplify constitutional development prompts with automatic MCP activation (#165)
  .claudedirector/lib/reporting/weekly_reporter.py
  .cursor/commands/generate-weekly-report.md
  docs/DEVELOPMENT_POLICY.md
  docs/GETTING_STARTED.md
  docs/development/SEQUENTIAL_THINKING_ENFORCEMENT.md
  docs/development/guides/CONSTITUTIONAL_DEVELOPMENT_PROMPTS.md
  docs/development/guides/DEVELOPMENT_WORKFLOW.md
  docs/development/guides/MCP_INTEGRATION.md
  leadership-workspace/strategy/PLATFORM_STRATEGY_TEMPLATE.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: add generate-weekly-report command documentation
  .cursor/commands/generate-weekly-report.md
Due: documentation-size-policy

test: add E2E tests for generate-weekly-report cursor command
  .claudedirector/tests/integration/test_weekly_report_cursor_command.py
  .claudedirector/tests/regression/p0_blocking/test_cursorrules_validation_p0.py
  .cursorrules
Due: code-bloat-prevention, code-bloat-prevention-secondary, p0-test-protection-policy

feat: add generate-weekly-report cursor command (#166)
  .claudedirector/tests/integration/test_weekly_report_cursor_command.py
  .claudedirector/tests/regression/p0_blocking/test_cursorrules_validation_p0.py
  .cursor/commands/generate-weekly-report.md
  .cursorrules
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, p0-test-protection-policy

feat: Add Agent SDK selective integration specification (007)
  README.md
  docs/architecture/ADR-018-CLAUDE-AGENT-SDK-EVALUATION.md
  docs/development/specs/007-agent-sdk-integration/plan.md
  docs/development/specs/007-agent-sdk-integration/spec.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-001-prompt-caching.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-002-error-handling.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-003-benchmarking.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-004-mcp-compatibility.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-005-mcp-coordinator.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-006-integration-tests.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-007-sdk-monitoring.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-008-review-process.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-009-documentation.md
  docs/development/specs/SEQUENTIAL-THINKING-SDK-INTEGRATION.md
Due: readme-content-protection, documentation-size-policy

feat(task-001): Implement SDK-inspired prompt caching optimization
  .claudedirector/lib/performance/prompt_cache_optimizer.py
  .claudedirector/tests/unit/performance/test_prompt_cache_optimizer.py
  docs/development/specs/007-agent-sdk-integration/TASK-001-COMPLETION-REPORT.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat(integration): Complete SDK-inspired prompt caching integration
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/performance/cache_manager.py
  .claudedirector/tests/integration/test_prompt_cache_integration.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

fix: restore README.md content to fix Complete New Setup P0 test
  README.md
Due: readme-content-protection, documentation-size-policy

fix(config): Eliminate hard-coded values and fix PROJECT_STRUCTURE.md compliance
  .claudedirector/lib/config/__init__.py
  .claudedirector/lib/config/performance_config.py
  .claudedirector/lib/performance/cache_manager.py
  .claudedirector/lib/performance/prompt_cache_optimizer.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: restore README.md content accidentally deleted in previous commit
  README.md
Due: readme-content-protection, documentation-size-policy

feat: Add Agent SDK selective integration specification (007) (#167)
  .claudedirector/lib/config/__init__.py
  .claudedirector/lib/config/performance_config.py
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/performance/cache_manager.py
  .claudedirector/lib/performance/prompt_cache_optimizer.py
  .claudedirector/tests/integration/test_prompt_cache_integration.py
  .claudedirector/tests/unit/performance/test_prompt_cache_optimizer.py
  docs/architecture/ADR-018-CLAUDE-AGENT-SDK-EVALUATION.md
  docs/development/specs/007-agent-sdk-integration/TASK-001-COMPLETION-REPORT.md
  docs/development/specs/007-agent-sdk-integration/plan.md
  docs/development/specs/007-agent-sdk-integration/spec.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-001-prompt-caching.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-002-error-handling.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-003-benchmarking.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-004-mcp-compatibility.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-005-mcp-coordinator.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-006-integration-tests.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-007-sdk-monitoring.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-008-review-process.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-009-documentation.md
  docs/development/specs/SEQUENTIAL-THINKING-SDK-INTEGRATION.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: Black formatting for SDK Enhanced Manager
  .claudedirector/config/performance_config.py
  .claudedirector/lib/core/sdk_enhanced_manager.py
  .claudedirector/lib/integration/mcp_sdk_enhancements.py
  .claudedirector/tests/unit/core/test_sdk_enhanced_manager.py
  README.md
  docs/development/specs/007-agent-sdk-integration/TASK-002-REDESIGN-SUMMARY.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-001-prompt-caching.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-002-error-handling.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: Restore README.md from emergency backup
  README.md
Due: readme-content-protection, documentation-size-policy

docs: Remove temporary TASK-002-REDESIGN-SUMMARY.md
  docs/development/specs/007-agent-sdk-integration/TASK-002-REDESIGN-SUMMARY.md
Due: documentation-size-policy

style: apply Black formatting to SDK error handling files
  .claudedirector/config/performance_config.py
  .claudedirector/lib/config/__init__.py
  .claudedirector/lib/config/performance_config.py
  .claudedirector/lib/core/sdk_enhanced_manager.py
  .claudedirector/lib/integration/mcp_sdk_enhancements.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

fix: eliminate duplicate performance_config.py and remaining hard-coded values
  .claudedirector/config/__init__.py
  .claudedirector/config/performance_config.py
  .claudedirector/lib/config/__init__.py
  .claudedirector/lib/config/performance_config.py
  .claudedirector/lib/integration/mcp_sdk_enhancements.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

fix: resolve import paths and document CI coverage gap
  .claudedirector/lib/core/sdk_enhanced_manager.py
  .claudedirector/lib/integration/mcp_sdk_enhancements.py
  .pre-commit-config.yaml
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: remove redundant completion reports and outdated test results
  README.md
  docs/development/specs/007-agent-sdk-integration/TASK-001-COMPLETION-REPORT.md
Due: readme-content-protection, documentation-size-policy

docs: remove completed task spec and update CI validation documentation
  docs/development/CI_VALIDATION_SYSTEM.md
  docs/development/ci-validation.md
  docs/development/specs/004-retrospective-command-integration-fix.md
Due: documentation-size-policy

fix: delete 3 zombie tests and 2 dead code files
  .claudedirector/lib/automation/daily_planning_config.py
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/tests/unit/agents/test_weekly_report_agent.py
  .claudedirector/tests/unit/automation/test_daily_planning_manager.py
  .claudedirector/tests/unit/integration/test_task_004_unified_bridge_enhancement.py
  .pre-commit-config.yaml
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

fix: whitelist SDK extension pattern imports in architecture validator
  .claudedirector/tools/quality/check_architecture.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

feat: Task 002 - SDK Error Categorization Enhancement (#168)
  .claudedirector/config/__init__.py
  .claudedirector/config/performance_config.py
  .claudedirector/lib/automation/daily_planning_config.py
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/config/__init__.py
  .claudedirector/lib/core/sdk_enhanced_manager.py
  .claudedirector/lib/integration/mcp_sdk_enhancements.py
  .claudedirector/tests/unit/agents/test_weekly_report_agent.py
  .claudedirector/tests/unit/automation/test_daily_planning_manager.py
  .claudedirector/tests/unit/core/test_sdk_enhanced_manager.py
  .claudedirector/tests/unit/integration/test_task_004_unified_bridge_enhancement.py
  .claudedirector/tools/quality/check_architecture.py
  .pre-commit-config.yaml
  README.md
  docs/development/CI_VALIDATION_SYSTEM.md
  docs/development/ci-validation.md
  docs/development/specs/004-retrospective-command-integration-fix.md
  docs/development/specs/007-agent-sdk-integration/TASK-001-COMPLETION-REPORT.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-001-prompt-caching.md
  docs/development/specs/007-agent-sdk-integration/tasks/task-002-error-handling.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: Add spec 008 - Fix broken unit tests
  docs/development/specs/008-unit-test-fix/plan.md
  docs/development/specs/008-unit-test-fix/spec.md
  docs/development/specs/008-unit-test-fix/tasks/task-001-fix-collection-errors.md
  docs/development/specs/008-unit-test-fix/tasks/task-002-categorize-failing-tests.md
  docs/development/specs/008-unit-test-fix/tasks/task-003-enable-all-tests-hook.md
Due: documentation-size-policy

Path conditions:
  readme-content-protection: any of: ^README\.md$
  code-bloat-prevention: any of: \.py$
  code-bloat-prevention-secondary: any of: \.py$
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
