Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

readme-content-protection:
  name: üõ°Ô∏è README CONTENT PROTECTION (Content-Aware)
  entry: python3 .claudedirector/tools/ci/readme_content_protection.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

code-bloat-prevention:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - STRICT ENFORCEMENT
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

code-bloat-prevention-secondary:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - SECONDARY CHECK
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

docs: Clean up Phase 9.5 documentation - Remove redundant files
  docs/phases/009-architecture-evolution/phase9.5-completion-summary.md
  docs/phases/009-architecture-evolution/phase9.5-consolidation-analysis.md
  docs/phases/009-architecture-evolution/phase9.5-implementation-plan.md
  docs/phases/009-architecture-evolution/phase9.5-strategic-intelligence-consolidation-spec.md
Due: documentation-size-policy

feat: Phase 9.5 Strategic Intelligence Consolidation Complete - Eliminated 1,398 lines of redundant functionality while maintaining 39/39 P0 tests passing
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/external_tool_coordinator.py
  .claudedirector/lib/strategic_intelligence/ml_workflow.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/spec_kit_integrator.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_spec_workflow_p0.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: readme-content-protection, documentation-size-policy

docs: Phase 9.6 True Bloat Elimination Planning Complete
  README.md
  docs/phases/009-architecture-evolution/phase9.6-implementation-plan.md
  docs/phases/009-architecture-evolution/phase9.6-task-tracker.md
  docs/phases/009-architecture-evolution/phase9.6-true-bloat-elimination-spec.md
Due: readme-content-protection, documentation-size-policy

feat: SOLID Decomposition Complete - 501 Lines Eliminated + 100% SOLID Compliance
  .claudedirector/lib/ai_intelligence/decision_processor.py
  .claudedirector/lib/personas/__init__.py
  .claudedirector/lib/personas/challenge_framework.py
  .claudedirector/lib/personas/conversation_manager.py
  .claudedirector/lib/personas/persona_manager.py
  .claudedirector/lib/personas/response_generator.py
  .claudedirector/lib/personas/unified_persona_engine_lightweight.py
  .claudedirector/tests/regression/p0_blocking/test_persona_challenge_p0.py
  README.md
  docs/phases/009-architecture-evolution/p0-recovery-plan.md
  docs/phases/009-architecture-evolution/phase9.6-task-tracker.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: P0 Compatibility Layer Complete - 37/39 Tests Passing
  .claudedirector/lib/ai_intelligence/unified_ai_engine.py
  .claudedirector/lib/core/base_manager.py
  .claudedirector/lib/personas/persona_manager.py
  .claudedirector/lib/personas/unified_persona_engine.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Conversation Quality P0 FIXED - 38/39 P0 Tests Passing
  .claudedirector/lib/personas/challenge_framework.py
  .claudedirector/lib/personas/persona_manager.py
  .claudedirector/lib/personas/unified_persona_engine.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Challenge Accuracy BREAKTHROUGH - 86.7% Achieved!
  .claudedirector/lib/personas/challenge_framework.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

feat: 100% P0 COMPLIANCE ACHIEVED! 🎉
  .claudedirector/lib/personas/challenge_framework.py
  .claudedirector/lib/personas/persona_manager.py
  .claudedirector/lib/personas/unified_persona_engine.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

cleanup: Remove architectural bloat run_all_p0_tests.py
  run_all_p0_tests.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

wip: Partial P0 test fixes - Phase 12 fully working
  .claudedirector/tests/regression/p0_blocking/test_conversational_analytics_p0.py
  .claudedirector/tests/regression/p0_blocking/test_lightweight_fallback.py
  .claudedirector/tests/regression/p0_blocking/test_magic_mcp_visual.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_integration_p0.py
  .claudedirector/tests/regression/p0_blocking/test_phase12_always_on_mcp.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_ml_workflow_p0.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, p0-test-protection-policy

fix: CI environment compatibility for P0 tests - URGENT CI VALIDATION
  .claudedirector/tests/regression/p0_blocking/test_lightweight_fallback.py
  .claudedirector/tests/regression/p0_blocking/test_magic_mcp_visual.py
  .claudedirector/tests/regression/p0_blocking/test_phase12_always_on_mcp.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix: FINAL Conversation Tracking P0 CI compatibility - complete solution
  .claudedirector/tests/regression/p0_blocking/test_conversation_tracking.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix: FINAL Conversation Tracking P0 CI compatibility + README restoration
  README.md
Due: readme-content-protection, documentation-size-policy

fix: BREAKTHROUGH - Complete Conversation Tracking P0 CI compatibility with comprehensive database schema
  .claudedirector/tests/regression/p0_blocking/test_conversation_tracking.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix: CRITICAL CI SUCCESS - Add SUCCESS RATE format for GitHub CI validation
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

cleanup: Remove completed phase documentation
  docs/phases/008-manager-dry-consolidation/CONSOLIDATION_ANALYSIS.md
  docs/phases/008-manager-dry-consolidation/plan.md
  docs/phases/008-manager-dry-consolidation/spec.md
  docs/phases/008-manager-dry-consolidation/tasks.md
  docs/phases/009-architecture-evolution/p0-complex-failures-specs.md
  docs/phases/009-architecture-evolution/p0-recovery-plan.md
  docs/phases/009-architecture-evolution/phase9.5-consolidation-analysis.md
  docs/phases/009-architecture-evolution/phase9.5-implementation-plan.md
  docs/phases/009-architecture-evolution/phase9.5-strategic-intelligence-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.6-implementation-plan.md
  docs/phases/009-architecture-evolution/phase9.6-prevention-strengthening-spec.md
  docs/phases/009-architecture-evolution/phase9.6-task-tracker.md
  docs/phases/009-architecture-evolution/phase9.6-true-bloat-elimination-spec.md
Due: documentation-size-policy

feat: Phase 1 Foundation Infrastructure + Architectural Corrections
  .claudedirector/docs/development/guides/CONTEXT7_MCP_UTILIZATION.md
  .claudedirector/templates/spec-kit-template.md
  .claudedirector/tools/enforcement/audit_logger.py
  .claudedirector/tools/enforcement/base_enforcement.py
  .claudedirector/tools/enforcement/config_manager.py
  .claudedirector/tools/enforcement/cursor_claude_enforcer.py
  .claudedirector/tools/enforcement/cursor_integration.py
  .claudedirector/tools/enforcement/error_recovery.py
  .claudedirector/tools/enforcement/install_hard_enforcement.py
  .claudedirector/tools/git-hooks/pre-commit-hard-enforcement
  docs/development/SEQUENTIAL_THINKING_ENFORCEMENT.md
  docs/development/enforcement-tasks/README.md
  docs/development/enforcement-tasks/foundation-infrastructure-tasks.md
  docs/development/real-time-enforcement-system-plan.md
  docs/development/real-time-enforcement-system-spec.md
  docs/development/real-time-enforcement-system-tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix: P0 test compliance - Sequential Thinking and Context7 validation
  .claudedirector/tests/regression/p0_blocking/test_context7_utilization_p0.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
  .claudedirector/tools/enforcement/audit_logger.py
  .claudedirector/tools/enforcement/base_enforcement.py
  .claudedirector/tools/enforcement/config_manager.py
  .claudedirector/tools/enforcement/cursor_claude_enforcer.py
  .claudedirector/tools/enforcement/cursor_integration.py
  .claudedirector/tools/enforcement/error_recovery.py
  .claudedirector/tools/enforcement/install_hard_enforcement.py
  docs/development/enforcement-tasks/README.md
  docs/development/enforcement-tasks/foundation-infrastructure-tasks.md
  docs/development/real-time-enforcement-system-tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, p0-test-protection-policy

style: Apply Black formatting to consolidation changes
  .claudedirector/lib/core/validation/unified_prevention_engine.py
  .claudedirector/templates/spec-kit-template.md
  .claudedirector/tools/enforcement/audit_logger.py
  .claudedirector/tools/enforcement/base_enforcement.py
  .claudedirector/tools/enforcement/config_manager.py
  .claudedirector/tools/enforcement/cursor_claude_enforcer.py
  .claudedirector/tools/enforcement/cursor_integration.py
  .claudedirector/tools/enforcement/error_recovery.py
  .claudedirector/tools/enforcement/install_hard_enforcement.py
  .claudedirector/tools/git-hooks/pre-commit-hard-enforcement
  .claudedirector/tools/hooks/unified_validation_hook.py
  README.md
  docs/development/enforcement-tasks/README.md
  docs/development/enforcement-tasks/foundation-infrastructure-tasks.md
  docs/development/real-time-enforcement-system-plan.md
  docs/development/real-time-enforcement-system-spec.md
  docs/development/real-time-enforcement-system-tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Phase 2 P0 Integration - Complete AI Intelligence Protection
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_unified_ai_engine_p0.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_decision_pipeline.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy, p0-test-protection-policy

fix: Update CI P0 protection for 41 tests (Phase 2 integration)
  .claudedirector/tools/p0_protection/mandatory_p0_gates.py
  .github/workflows/p0-protection-enforcement.yml
Due: code-bloat-prevention, code-bloat-prevention-secondary

fix: Critical CI fixes - P0 count and Python version
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .github/workflows/unified-ci.yml
Due: code-bloat-prevention, code-bloat-prevention-secondary

docs: Update Feature Status Matrix - Phase 2 P0 Integration Complete
  docs/requirements/FEATURE_STATUS_MATRIX.md
Due: documentation-size-policy

docs: Critical PRD-Feature Matrix Alignment + README Value Prop Fix
  README.md
  docs/requirements/FEATURE_STATUS_MATRIX.md
Due: readme-content-protection, documentation-size-policy

ux: Transform Getting Started into user-friendly experience
  README.md
Due: readme-content-protection, documentation-size-policy

Path conditions:
  readme-content-protection: any of: ^README\.md$
  code-bloat-prevention: any of: \.py$
  code-bloat-prevention-secondary: any of: \.py$
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
