Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

style: Apply Black formatting to resolve CI validation
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/integrated_visualization_workflow.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/mcp/strategic_python_server.py
Due: architecture-compliance-policy

Phase 7: Complete documentation package ready for PR
  docs/phases/PHASE7_IMPLEMENTATION_PLAN.md
  docs/phases/PHASE7_RISK_MANAGEMENT.md
  docs/phases/PHASE7_TECHNICAL_STORIES.md
  docs/phases/PHASE7_USER_STORIES.md
Due: documentation-size-policy

Phase 7 Week 1: Missing Chart Types Implementation
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  docs/phases/completed/PYTHON_MCP_IMPLEMENTATION_ROADMAP.md
  docs/phases/completed/PYTHON_MCP_INTEGRATION_PLAN.md
  docs/phases/completed/PYTHON_MCP_PHASE1_TECHNICAL_SPECS.md
  docs/phases/completed/PYTHON_MCP_PHASE2_TECHNICAL_SPECS.md
  docs/phases/completed/PYTHON_MCP_TECHNICAL_SPECIFICATIONS.md
  phase7_demo.py
Due: documentation-size-policy, architecture-compliance-policy

🛡️ Security Scanner Fix + Architecture Compliance
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/tools/ci/ci_diagnostic_local.txt
  .claudedirector/tools/demo/phase7_demo.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/demo/generated/demo_alvaro_roi_dashboard.html
  docs/demo/generated/demo_leadership_dashboard.html
  docs/demo/generated/phase7_martin_architecture_health.html
  docs/demo/generated/phase7_martin_service_performance.html
  docs/demo/generated/phase7_martin_technical_debt.html
  docs/demo/generated/phase7_rachel_component_adoption.html
  docs/demo/generated/phase7_rachel_design_debt.html
  docs/demo/generated/phase7_rachel_maturity.html
  docs/phases/PYTHON_MCP_IMPLEMENTATION_ROADMAP.md
  docs/phases/PYTHON_MCP_INTEGRATION_PLAN.md
  docs/phases/PYTHON_MCP_PHASE1_TECHNICAL_SPECS.md
  docs/phases/PYTHON_MCP_PHASE2_TECHNICAL_SPECS.md
  docs/phases/PYTHON_MCP_TECHNICAL_SPECIFICATIONS.md
Due: documentation-size-policy, architecture-compliance-policy

📋 Restore Phase 7 Documentation
  docs/phases/PHASE7_TECHNICAL_STORIES.md
  docs/phases/PHASE7_USER_STORIES.md
Due: documentation-size-policy

📋 Phase 7 Documentation Accuracy & CI Validation
  .claudedirector/tools/demo/phase7_demo.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/demo/generated/demo_alvaro_roi_dashboard.html
  docs/demo/generated/demo_leadership_dashboard.html
  docs/demo/generated/phase7_martin_architecture_health.html
  docs/demo/generated/phase7_martin_service_performance.html
  docs/demo/generated/phase7_martin_technical_debt.html
  docs/demo/generated/phase7_rachel_component_adoption.html
  docs/demo/generated/phase7_rachel_design_debt.html
  docs/demo/generated/phase7_rachel_maturity.html
  docs/phases/PHASE7_IMPLEMENTATION_PLAN.md
  docs/phases/completed/LEGACY_PHASE7_STRATEGIC_AI_DEVELOPMENT_PLAN.md
Due: documentation-size-policy

🎨 Black Formatting Fix
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/tools/demo/phase7_demo.py
Due: architecture-compliance-policy

🔧 Fix trailing whitespace in Phase 7 technical stories
  docs/phases/PHASE7_TECHNICAL_STORIES.md
Due: documentation-size-policy

🎯 Phase 7 Week 2: PRD Alignment - Chat-Only Interface
  docs/phases/PHASE7_IMPLEMENTATION_PLAN.md
  docs/phases/PHASE7_TECHNICAL_STORIES.md
  docs/phases/PHASE7_USER_STORIES.md
Due: documentation-size-policy

Phase 7 Week 2 Complete: Real-Time Conversational Analytics
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_analytics_workflow.py
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/tests/regression/p0_blocking/test_conversational_analytics_p0.py
  .claudedirector/tools/ci/updated-pre-push-hook.sh
  .claudedirector/tools/demo/phase7_week2_demo.py
  docs/phases/PHASE7_IMPLEMENTATION_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

Fix Black formatting for Phase 7 Week 2 files
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/conversational_analytics_workflow.py
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/tests/regression/p0_blocking/test_conversational_analytics_p0.py
  .claudedirector/tools/demo/phase7_week2_demo.py
Due: architecture-compliance-policy, p0-test-protection-policy

feat: Phase 7 Week 3 - Real MCP Integration with Zero Setup Compliance
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/conversational_analytics_workflow.py
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_integration_p0.py
  .claudedirector/tools/demo/phase7_week3_demo.py
  docs/phases/PHASE7_IMPLEMENTATION_PLAN.md
  docs/phases/PHASE7_WEEK3_ZERO_SETUP_INTEGRATION_PLAN.md
  docs/setup/REAL_DATA_INTEGRATION_GUIDE.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

style: Fix Black formatting violations for Week 3 MCP integration
  .claudedirector/lib/mcp/conversational_analytics_workflow.py
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_integration_p0.py
  .claudedirector/tools/demo/phase7_week3_demo.py
Due: architecture-compliance-policy, p0-test-protection-policy

Phase 7 Week 1: Enhanced Visualization Capabilities - Missing Chart Types (#109)
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_analytics_workflow.py
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/tests/regression/p0_blocking/test_conversational_analytics_p0.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_integration_p0.py
  .claudedirector/tools/ci/ci_diagnostic_local.txt
  .claudedirector/tools/ci/updated-pre-push-hook.sh
  .claudedirector/tools/demo/phase7_demo.py
  .claudedirector/tools/demo/phase7_week2_demo.py
  .claudedirector/tools/demo/phase7_week3_demo.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/demo/generated/demo_alvaro_roi_dashboard.html
  docs/demo/generated/demo_leadership_dashboard.html
  docs/phases/PHASE7_IMPLEMENTATION_PLAN.md
  docs/phases/PHASE7_TECHNICAL_STORIES.md
  docs/phases/PHASE7_USER_STORIES.md
  docs/phases/PHASE7_WEEK3_ZERO_SETUP_INTEGRATION_PLAN.md
  docs/phases/completed/LEGACY_PHASE7_STRATEGIC_AI_DEVELOPMENT_PLAN.md
  docs/phases/completed/PYTHON_MCP_IMPLEMENTATION_ROADMAP.md
  docs/phases/completed/PYTHON_MCP_INTEGRATION_PLAN.md
  docs/phases/completed/PYTHON_MCP_PHASE1_TECHNICAL_SPECS.md
  docs/phases/completed/PYTHON_MCP_PHASE2_TECHNICAL_SPECS.md
  docs/phases/completed/PYTHON_MCP_TECHNICAL_SPECIFICATIONS.md
  docs/setup/REAL_DATA_INTEGRATION_GUIDE.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: Phase 7 Week 4 - Advanced Interactivity Implementation Plan
  docs/phases/PHASE7_WEEK4_ADVANCED_INTERACTIVITY_PLAN.md
Due: documentation-size-policy

style: apply Black formatting to performance test fix
  .claudedirector/integrations/real_data_config.json
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tools/setup/github_sso_setup_guide.py
  .claudedirector/tools/setup/real_data_integration_wizard.py
Due: architecture-compliance-policy

refactor: clean up data integration setup files
  .claudedirector/integrations/real_data_config.json
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/tools/setup/github_sso_setup_guide.py
  .claudedirector/tools/setup/real_data_integration_wizard.py
Due: architecture-compliance-policy

docs: complete Phase 7 documentation consolidation and policy compliance
  docs/phases/PHASE7_WEEK4_ADVANCED_INTERACTIVITY_PLAN.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_ADVANCED.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_CHAT.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_CORE.md
  docs/phases/PHASE7_WEEK4_USER_STORIES.md
  docs/phases/completed/PHASE7_IMPLEMENTATION_PLAN.md
  docs/phases/completed/PHASE7_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE7_USER_STORIES.md
Due: documentation-size-policy

style: Fix Black formatting for Phase 7 Week 4 files
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/chart_interaction_types.py
  .claudedirector/lib/mcp/chat_embedded_interactivity.py
  .claudedirector/lib/mcp/integrated_interactive_visualization.py
  .claudedirector/lib/mcp/interactive_chart_engine.py
  .claudedirector/lib/mcp/interactive_enhancement_addon.py
  .claudedirector/tests/regression/p0_blocking/test_interactive_charts_p0.py
  .claudedirector/tools/automation/generate-weekly-report-claude.sh
  REFACTORING_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

cleanup: Complete removal of deprecated DRY-violating components
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/chart_interaction_types.py
  .claudedirector/lib/mcp/chat_embedded_interactivity.py
  .claudedirector/lib/mcp/integrated_interactive_visualization.py
  .claudedirector/lib/mcp/interactive_chart_engine.py
  .claudedirector/tests/regression/p0_blocking/test_interactive_charts_p0.py
Due: architecture-compliance-policy, p0-test-protection-policy

style: Fix Black formatting for final cleanup
  .claudedirector/lib/mcp/__init__.py
Due: architecture-compliance-policy

style: Fix Black formatting for P0 performance fix
  .claudedirector/lib/mcp/interactive_enhancement_addon.py
Due: architecture-compliance-policy

docs: Complete Phase 7 Week 4 user stories and technical stories documentation update
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_CORE.md
  docs/phases/PHASE7_WEEK4_USER_STORIES.md
  docs/phases/completed/PHASE7_USER_STORIES.md
Due: documentation-size-policy

fix: Removed unnecessary document from root directory
  REFACTORING_PLAN.md
Due: documentation-size-policy

fix: Resolved issue with test bloat detection
  .claudedirector/tools/architecture/bloat_prevention_hook.py
Due: none

fix: Resolve P0 Complete New Setup race condition identified via MCP Sequential analysis
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0_optimized.py
Due: p0-test-protection-policy

Phase 7 Week 4: Advanced Interactivity - Interactive Data Exploration (#110)
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/interactive_enhancement_addon.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0_optimized.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/automation/generate-weekly-report-claude.sh
  docs/phases/PHASE7_WEEK4_ADVANCED_INTERACTIVITY_PLAN.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_ADVANCED.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_CHAT.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_CORE.md
  docs/phases/PHASE7_WEEK4_USER_STORIES.md
  docs/phases/completed/PHASE7_IMPLEMENTATION_PLAN.md
  docs/phases/completed/PHASE7_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE7_USER_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Remove obsolete PHASE7_WEEK3_ZERO_SETUP_INTEGRATION_PLAN.md
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/chat_context_manager.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  docs/phases/PHASE7B_CHAT_INTEGRATION_PLAN.md
  docs/phases/PHASE7_WEEK3_ZERO_SETUP_INTEGRATION_PLAN.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_CHAT.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 7B Chat Integration + Complete Infrastructure Fixes
  .claudedirector/lib/mcp/constants.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
Due: architecture-compliance-policy

docs: Update Phase 7B documentation to completion status
  docs/phases/PHASE7B_CHAT_INTEGRATION_PLAN.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_CHAT.md
Due: documentation-size-policy

feat: Phase 7B Chat Integration - Complete Implementation with Infrastructure Fixes (#111)
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/chat_context_manager.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  docs/phases/PHASE7B_CHAT_INTEGRATION_PLAN.md
  docs/phases/PHASE7_WEEK3_ZERO_SETUP_INTEGRATION_PLAN.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES_CHAT.md
Due: documentation-size-policy, architecture-compliance-policy

docs: Update Phase 7 status - Phase 7A & 7B complete, Phase 7C ready
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE7_IMPLEMENTATION_PLAN.md
Due: documentation-size-policy

Phase 7C: Advanced Features Foundation Implementation
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/cross_chart_linking_engine.py
  .claudedirector/lib/mcp/drilldown_navigation_engine.py
Due: architecture-compliance-policy

Fix Black formatting - Phase 7C component styling
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/cross_chart_linking_engine.py
  .claudedirector/lib/mcp/drilldown_navigation_engine.py
  README.md
  docs/CAPABILITIES.md
  docs/GETTING_STARTED.md
Due: documentation-size-policy, architecture-compliance-policy

Phase7c advanced features (#112)
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/cross_chart_linking_engine.py
  .claudedirector/lib/mcp/drilldown_navigation_engine.py
  README.md
  docs/CAPABILITIES.md
  docs/GETTING_STARTED.md
  docs/phases/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE7_IMPLEMENTATION_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy

Phase 1: Database Architecture Unification - Complete
  .claudedirector/lib/core/database.py
  .claudedirector/lib/core/database_migration.py
  .claudedirector/lib/core/unified_database.py
  docs/development/PHASE1_ARCHITECTURAL_PLAN.md
  docs/development/TECHNICAL_STORIES_PHASE1.md
Due: documentation-size-policy, architecture-compliance-policy

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
