Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, solid-principle-validator, p1-unit-tests, p1-test-coverage

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  solid-principle-validator: any of: ^lib/claudedirector/(p0_features|p1_features)/.*\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$

MAJOR UPDATE: Rewrite technical dependencies to leverage existing MCP + framework infrastructure
  docs/requirements/ADVANCED_AI_INTELLIGENCE_TECHNICAL_DEPENDENCIES.md
Due: documentation-size-policy

Establish proper versioning strategy for user-facing features only
  docs/VERSIONING_STRATEGY.md
  docs/requirements/ADVANCED_AI_INTELLIGENCE_TECHNICAL_DEPENDENCIES.md
Due: documentation-size-policy

Fix Black formatting for P0 coverage validator
  .claudedirector/tools/ci/validate_p0_coverage.py
Due: none

🎯 Versioning Strategy Cleanup: User-Facing Features Only (#68)
  .claudedirector/tools/ci/validate_p0_coverage.py
  .claudedirector/tools/security/enhanced_security_scanner.py
  docs/VERSIONING_STRATEGY.md
  docs/requirements/ADVANCED_AI_INTELLIGENCE_TECHNICAL_DEPENDENCIES.md
  docs/requirements/ADVANCED_AI_INTELLIGENCE_USER_STORIES.md
Due: documentation-size-policy

FORMAT: Black formatting for AI Intelligence files
  .claudedirector/lib/ai_intelligence/__init__.py
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/tests/integration/test_ai_intelligence_integration.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/business_critical/test_ai_intelligence_p0.py
  .claudedirector/tests/unit/ai_intelligence/test_decision_orchestrator.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_decision_pipeline.py
Due: architecture-compliance-policy, p0-test-protection-policy

TEST: SOLID Validation Pattern Fix
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/lib/transparency/integrated_transparency.py
  .claudedirector/tests/integration/test_cursor_integration_comprehensive.py
  .pre-commit-config.yaml
Due: architecture-compliance-policy

COMPLETE: Phase 1 Decision Intelligence + SOLID Enforcement
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/tools/architecture/solid_validator.py
  .pre-commit-config.yaml
  docs/development/SOLID_REFACTORING_TASK.md
Due: documentation-size-policy, architecture-compliance-policy

FIX: Black formatting for Phase 1 completion
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/transparency/integrated_transparency.py
  .claudedirector/tools/architecture/solid_validator.py
Due: architecture-compliance-policy

PHASE 1: Advanced AI Intelligence - Decision Intelligence Orchestration (#69)
  .claudedirector/lib/ai_intelligence/__init__.py
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/lib/transparency/integrated_transparency.py
  .claudedirector/tests/integration/test_ai_intelligence_integration.py
  .claudedirector/tests/integration/test_cursor_integration_comprehensive.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/business_critical/test_ai_intelligence_p0.py
  .claudedirector/tests/unit/ai_intelligence/test_decision_orchestrator.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_decision_pipeline.py
  .claudedirector/tools/architecture/solid_validator.py
  .pre-commit-config.yaml
  docs/development/SOLID_REFACTORING_TASK.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

FEAT: Phase 2 - MCPEnhancedFrameworkEngine + Cleanup
  .claudedirector/analysis/CODEBASE_CLEANUP_STRATEGY.md
  .claudedirector/lib/ai_intelligence/mcp_enhanced_framework_engine.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_enhanced_framework_engine.py
  .claudedirector/tools/cleanup/automated_cleanup.py
  .claudedirector/tools/cleanup/fix_import_paths.py
  .claudedirector/tools/cleanup/systematic_cleanup_plan.md
  docs/development/PHASE2_FRAMEWORK_ENGINE_PLAN.md
  docs/development/phase4/PHASE4_3_ARCHIVE_CLEANUP_STRATEGY.md
  docs/development/phase4/PHASE4_4_ROOT_CLEANUP_STRATEGY.md
  docs/development/phase4/PHASE4_DATA_MIGRATION_PLAN.md
  docs/development/phase4/PHASE4_FOLDER_STRUCTURE_ANALYSIS.md
Due: documentation-size-policy, architecture-compliance-policy

FIX: Black formatting for Phase 2 MCPEnhancedFrameworkEngine
  .claudedirector/lib/ai_intelligence/mcp_enhanced_framework_engine.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_enhanced_framework_engine.py
Due: architecture-compliance-policy

FEAT: Phase 2 FINAL - Complete AI Intelligence Implementation
  .claudedirector/lib/ai_intelligence/enhanced_framework_detection.py
  .claudedirector/lib/ai_intelligence/framework_mcp_coordinator.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
  .claudedirector/tests/unit/ai_intelligence/test_framework_mcp_coordinator.py
  .claudedirector/tools/ai-cleanup/README.md
  docs/architecture/TESTING_ARCHITECTURE.md
  docs/development/PHASE2_FRAMEWORK_ENGINE_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy

Phase 2: Framework Engine Enhancement - MCP Integration (#70)
  .claudedirector/analysis/CODEBASE_CLEANUP_STRATEGY.md
  .claudedirector/lib/ai_intelligence/enhanced_framework_detection.py
  .claudedirector/lib/ai_intelligence/framework_mcp_coordinator.py
  .claudedirector/lib/ai_intelligence/mcp_enhanced_framework_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
  .claudedirector/tests/unit/ai_intelligence/test_framework_mcp_coordinator.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_enhanced_framework_engine.py
  .claudedirector/tools/ai-cleanup/README.md
  .claudedirector/tools/cleanup/automated_cleanup.py
  .claudedirector/tools/cleanup/fix_import_paths.py
  .claudedirector/tools/cleanup/systematic_cleanup_plan.md
  docs/architecture/TESTING_ARCHITECTURE.md
  docs/development/PHASE2_FRAMEWORK_ENGINE_PLAN.md
  docs/development/phase4/PHASE4_3_ARCHIVE_CLEANUP_STRATEGY.md
  docs/development/phase4/PHASE4_4_ROOT_CLEANUP_STRATEGY.md
  docs/development/phase4/PHASE4_DATA_MIGRATION_PLAN.md
  docs/development/phase4/PHASE4_FOLDER_STRUCTURE_ANALYSIS.md
Due: documentation-size-policy, architecture-compliance-policy

FEAT: Complete 25+ Strategic Frameworks - 100% Framework Coverage Achieved
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/tests/regression/user_journeys/framework_attribution/test_framework_detection.py
Due: architecture-compliance-policy

Complete 25+ Strategic Frameworks - 100% Framework Coverage Achieved (#71)
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/tests/regression/user_journeys/framework_attribution/test_framework_detection.py
Due: architecture-compliance-policy

style: apply Black formatting to resolve pre-push validation
  .claudedirector/tools/setup/setup_meeting_intelligence.py
  .claudedirector/tools/setup/setup_smart_git.py
  .claudedirector/tools/setup/setup_stakeholder_management.py
  .claudedirector/tools/setup/setup_task_tracking.py
  bin/claudedirector
Due: none

feat: complete P0 test reorganization and architectural cleanup
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/__init__.py
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/test_memory_performance.py
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/test_stakeholder_intelligence.py
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/test_strategic_context.py
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/test_user_configuration.py
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tests/regression/p0_blocking/test_configuration_persistence.py
  .claudedirector/tests/regression/p0_blocking/test_conversation_quality.py
  .claudedirector/tests/regression/p0_blocking/test_conversation_tracking.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_transparency.py
  .claudedirector/tests/regression/p0_blocking/test_roi_tracking.py
  .claudedirector/tests/regression/p0_blocking/test_security.py
  .claudedirector/tests/regression/p0_blocking/test_setup_feature.py
  .claudedirector/tests/regression/p0_high_priority/test_cli_functionality.py
  .claudedirector/tests/regression/p0_high_priority/test_cursor_integration.py
  .claudedirector/tests/regression/p0_high_priority/test_first_run_wizard.py
  .github/workflows/p0-mandatory-tests.yml
  docs/architecture/TEST_REORGANIZATION_COMPLETED.md
  docs/architecture/TEST_REORGANIZATION_PLAN.md
Due: documentation-size-policy

fix: quote Python versions in CI matrix to prevent YAML parsing as float
  .github/workflows/p0-mandatory-tests.yml
Due: none

docs: remove temporary test reorganization documentation
  docs/architecture/TEST_REORGANIZATION_COMPLETED.md
  docs/architecture/TEST_REORGANIZATION_PLAN.md
Due: documentation-size-policy

fix: update CI to Python 3.11+ to match dependency requirements
  .github/workflows/p0-mandatory-tests.yml
  requirements.txt
Due: none

fix: update CI workflow paths after test reorganization
  .github/workflows/p0-mandatory-tests.yml
Due: none

fix: align CI/local environment configuration
  .github/scripts/validate_environment.py
  .github/workflows/p0-mandatory-tests.yml
Due: none

fix: add database initialization to CI workflow
  .github/workflows/p0-mandatory-tests.yml
Due: none

fix: resolve Black formatting CI/local configuration mismatch
  .claudedirector/config/.pre-commit-config.yaml
  .claudedirector/tests/regression/p0_blocking/test_mcp_transparency.py
  .claudedirector/tests/regression/p0_blocking/test_setup_feature.py
  .github/scripts/validate_environment.py
Due: none

fix: Correct project root path detection in setup modules (#72)
  .claudedirector/config/.pre-commit-config.yaml
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/__init__.py
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/test_memory_performance.py
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/test_stakeholder_intelligence.py
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/test_strategic_context.py
  .claudedirector/tests/regression/p0_blocking/memory_context_modules/test_user_configuration.py
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tests/regression/p0_blocking/test_configuration_persistence.py
  .claudedirector/tests/regression/p0_blocking/test_conversation_quality.py
  .claudedirector/tests/regression/p0_blocking/test_conversation_tracking.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_transparency.py
  .claudedirector/tests/regression/p0_blocking/test_roi_tracking.py
  .claudedirector/tests/regression/p0_blocking/test_security.py
  .claudedirector/tests/regression/p0_blocking/test_setup_feature.py
  .claudedirector/tests/regression/p0_high_priority/test_cli_functionality.py
  .claudedirector/tests/regression/p0_high_priority/test_cursor_integration.py
  .claudedirector/tests/regression/p0_high_priority/test_first_run_wizard.py
  .claudedirector/tools/setup/setup_meeting_intelligence.py
  .claudedirector/tools/setup/setup_smart_git.py
  .claudedirector/tools/setup/setup_stakeholder_management.py
  .claudedirector/tools/setup/setup_task_tracking.py
  .github/scripts/validate_environment.py
  .github/workflows/p0-mandatory-tests.yml
  bin/claudedirector
  requirements.txt
Due: none

feat: sync Enhanced Framework Detection interface fix to development branch
  .claudedirector/lib/core/enhanced_framework_engine.py
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
Due: architecture-compliance-policy

feat: Context Engineering Documentation & Priority 1 Implementation Readiness (#73)
  .claudedirector/lib/core/enhanced_framework_engine.py
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
Due: architecture-compliance-policy

cleanup: Remove Redundant Bridge Files - DRY Complete
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/lib/context_engineering/conversation_layer.py
  .claudedirector/lib/context_engineering/learning_layer.py
  .claudedirector/lib/context_engineering/legacy_bridge.py
  .claudedirector/lib/context_engineering/organizational_layer.py
  .claudedirector/lib/context_engineering/stakeholder_layer.py
  .claudedirector/lib/context_engineering/strategic_layer.py
  .claudedirector/lib/core/enhanced_framework_engine.py
  .claudedirector/lib/integration/__init__.py
  .claudedirector/lib/integration/unified_bridge.py
  .claudedirector/lib/intelligence/__init__.py
  .claudedirector/lib/memory/MIGRATION_NOTICE.md
  .claudedirector/lib/memory/__init__.py
  .claudedirector/tests/integration/test_context_engineering_phase1.py
  docs/development/guides/CONTEXT_ENGINEERING_DEVELOPMENT.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, architecture-compliance-policy

cleanup: Remove Unnecessary Migration Files
  .claudedirector/lib/context_engineering/legacy_bridge.py
  .claudedirector/lib/memory/MIGRATION_NOTICE.md
  .claudedirector/lib/phase4_conversation_intelligence.py
  .claudedirector/tests/integration/test_phase4_conversation_intelligence.py
  .claudedirector/tests/integration/test_phase4_main_integration.py
  docs/architecture/OVERVIEW.md
Due: documentation-size-policy, architecture-compliance-policy

docs: Update Context Engineering requirements doc to reflect Phase 1 completion
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy

feat: Context Engineering Phase 1 + Library Cleanup (#74)
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/lib/context_engineering/conversation_layer.py
  .claudedirector/lib/context_engineering/learning_layer.py
  .claudedirector/lib/context_engineering/organizational_layer.py
  .claudedirector/lib/context_engineering/stakeholder_layer.py
  .claudedirector/lib/context_engineering/strategic_layer.py
  .claudedirector/lib/core/enhanced_framework_engine.py
  .claudedirector/lib/integration/__init__.py
  .claudedirector/lib/integration/unified_bridge.py
  .claudedirector/lib/intelligence/__init__.py
  .claudedirector/lib/memory/__init__.py
  .claudedirector/lib/phase4_conversation_intelligence.py
  .claudedirector/tests/integration/test_context_engineering_phase1.py
  .claudedirector/tests/integration/test_phase4_conversation_intelligence.py
  .claudedirector/tests/integration/test_phase4_main_integration.py
  docs/architecture/OVERVIEW.md
  docs/development/guides/CONTEXT_ENGINEERING_DEVELOPMENT.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, architecture-compliance-policy

docs: Add Context Engineering Phase 2 development plan
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2_PLAN.md
Due: documentation-size-policy

feat: Implement workspace integration for Context Engineering Phase 2.1
  .claudedirector/lib/context_engineering/workspace_integration.py
  requirements.txt
Due: architecture-compliance-policy
