Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$

CRITICAL: Fix Predictive Analytics P0 test for GitHub CI
  .claudedirector/lib/ai_intelligence/predictive_analytics_engine.py
  .claudedirector/lib/core/unified_database.py
Due: architecture-compliance-policy

Format fixes: All 37/37 P0 tests passing locally
  .claudedirector/lib/ai_intelligence/predictive_analytics_engine.py
  .claudedirector/lib/core/unified_database.py
Due: architecture-compliance-policy

Document comprehensive Phase 2 & 3 cleanup strategy
  docs/development/PHASE2_PHASE3_CLEANUP_TODOS.md
Due: documentation-size-policy

Phase 1: Database Architecture Unification Complete (#113)
  .claudedirector/lib/ai_intelligence/predictive_analytics_engine.py
  .claudedirector/lib/core/database.py
  .claudedirector/lib/core/database_migration.py
  .claudedirector/lib/core/unified_database.py
  docs/development/PHASE1_ARCHITECTURAL_PLAN.md
  docs/development/PHASE2_PHASE3_CLEANUP_TODOS.md
  docs/development/TECHNICAL_STORIES_PHASE1.md
Due: documentation-size-policy, architecture-compliance-policy

Phase 2: Engine Consolidation - Major Migration Success
  .claudedirector/lib/context_engineering/stakeholder_intelligence_unified.py
  .claudedirector/lib/context_engineering/strategic_memory_manager.py
  .claudedirector/lib/core/hybrid_compatibility.py
  PHASE1_COMPLETION_SUMMARY.md
  PHASE2_PROGRESS.md
  docs/development/PHASE2_ENGINE_MIGRATION_PLAN.md
  docs/development/PHASE2_HYBRID_DATABASE_MIGRATION.md
Due: documentation-size-policy, architecture-compliance-policy

Fix black formatting for Phase 2 engine consolidation
  .claudedirector/lib/context_engineering/stakeholder_intelligence_unified.py
  .claudedirector/lib/context_engineering/strategic_memory_manager.py
  .claudedirector/lib/core/hybrid_compatibility.py
  docs/development/PHASE2_ENGINE_MIGRATION_PLAN.md
  docs/development/PHASE2_HYBRID_DATABASE_MIGRATION.md
Due: documentation-size-policy, architecture-compliance-policy

Phase 2B: P0 Feature Migration SUCCESS - MCP Sequential7
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_value_calculator.py
Due: architecture-compliance-policy

Fix black formatting for Phase 2B migration
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_value_calculator.py
Due: architecture-compliance-policy

Phase 2C: Final Cleanup & Import Migration SUCCESS
  .claudedirector/lib/platform_core/multi_tenant_manager.py
  .claudedirector/lib/utils/cache.py
  .claudedirector/lib/workflows/strategic_workflow_engine.py
  PHASE2_PROGRESS.md
  docs/development/PHASE2C_FINAL_CLEANUP_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy

Fix black formatting for Phase 2C final cleanup
  .claudedirector/lib/platform_core/multi_tenant_manager.py
  .claudedirector/lib/utils/cache.py
  .claudedirector/lib/workflows/strategic_workflow_engine.py
Due: architecture-compliance-policy

Fix whitespace and end-of-file formatting for Phase 2C
  PHASE2_PROGRESS.md
  docs/development/PHASE2C_FINAL_CLEANUP_PLAN.md
Due: documentation-size-policy

Fix trailing whitespace in documentation files
  PHASE2_PROGRESS.md
  docs/CHANGELOG.md
Due: documentation-size-policy

Phase 2D: Safe Legacy Cleanup - Database Architecture Consolidation
  .claudedirector/lib/core/database_types.py
  .claudedirector/lib/core/hybrid_compatibility.py
  .claudedirector/lib/core/unified_database.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_value_calculator.py
  .claudedirector/lib/p0_features/shared/database_manager/__init__.py
  .claudedirector/lib/p0_features/shared/database_manager/analytics_pipeline.py
  .claudedirector/lib/p0_features/shared/database_manager/db_base.py
  .claudedirector/lib/p0_features/shared/database_manager/hybrid_engine.py
  .claudedirector/lib/p0_features/shared/database_manager/migration_strategy.py
  .claudedirector/lib/p0_features/shared/database_manager/semantic_search_engine.py
  .claudedirector/lib/p0_features/shared/database_manager/sqlite_ai_optimizer.py
Due: architecture-compliance-policy

Fix black formatting for Phase 2D cleanup
  .claudedirector/lib/core/database_types.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_value_calculator.py
Due: architecture-compliance-policy

Phase 2: Engine Consolidation - Systematic Database Migration (#114)
  .claudedirector/lib/context_engineering/stakeholder_intelligence_unified.py
  .claudedirector/lib/context_engineering/strategic_memory_manager.py
  .claudedirector/lib/core/database_types.py
  .claudedirector/lib/core/hybrid_compatibility.py
  .claudedirector/lib/core/unified_database.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_value_calculator.py
  .claudedirector/lib/p0_features/shared/database_manager/__init__.py
  .claudedirector/lib/p0_features/shared/database_manager/analytics_pipeline.py
  .claudedirector/lib/p0_features/shared/database_manager/db_base.py
  .claudedirector/lib/p0_features/shared/database_manager/hybrid_engine.py
  .claudedirector/lib/p0_features/shared/database_manager/migration_strategy.py
  .claudedirector/lib/p0_features/shared/database_manager/semantic_search_engine.py
  .claudedirector/lib/p0_features/shared/database_manager/sqlite_ai_optimizer.py
  .claudedirector/lib/platform_core/multi_tenant_manager.py
  .claudedirector/lib/utils/cache.py
  .claudedirector/lib/workflows/strategic_workflow_engine.py
  README.md
  docs/CHANGELOG.md
  docs/development/PHASE2C_FINAL_CLEANUP_PLAN.md
  docs/development/PHASE2_ENGINE_MIGRATION_PLAN.md
  docs/development/PHASE2_HYBRID_DATABASE_MIGRATION.md
  docs/phases/PHASE2_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

Phase 3 Initialization: Advanced Platform Evolution Planning
  docs/phases/PHASE3_ADVANCED_PLATFORM_EVOLUTION_PLAN.md
  docs/phases/completed/PHASE2_COMPLETE_SUMMARY.md
Due: documentation-size-policy

Phase 3 Strategic Pivot: Focus on Architectural Cleanup Over Features
  docs/phases/PHASE3_ADVANCED_PLATFORM_EVOLUTION_PLAN.md
  docs/phases/PHASE3_ARCHITECTURAL_CLEANUP_PLAN.md
Due: documentation-size-policy

Phase 3A: Comprehensive Technical Stories with SOLID Compliance Framework
  docs/phases/PHASE3A_TECHNICAL_STORIES.md
Due: documentation-size-policy

Phase 3A.1.2: Complete ML Pattern Engine Type Extraction with P0 Integration
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/ml_pattern_engine.py
  .claudedirector/lib/context_engineering/ml_pattern_types.py
Due: architecture-compliance-policy

Phase 3A: Create progress tracking document and cleanup completed phases
  docs/phases/PHASE3A_PROGRESS.md
  docs/phases/completed/PHASE2_PROGRESS.md
Due: documentation-size-policy

Cleanup: Move outdated Phase 7 documents to completed directory
  docs/phases/completed/PHASE7B_CHAT_INTEGRATION_PLAN.md
  docs/phases/completed/PHASE7_WEEK4_ADVANCED_INTERACTIVITY_PLAN.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_ADVANCED.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_CHAT.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_CORE.md
  docs/phases/completed/PHASE7_WEEK4_USER_STORIES.md
Due: documentation-size-policy

Format: Apply Black formatting to ML pattern engine files
  .claudedirector/lib/context_engineering/ml_pattern_engine.py
  .claudedirector/lib/context_engineering/ml_pattern_types.py
  README.md
Due: documentation-size-policy, architecture-compliance-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: documentation-size-policy

Update: Phase 3A.1.2 completion status and recent completion log
  README.md
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy

Phase 3A.1.3: Complete Feature Extractors Directory Structure - SOLID Compliance
  .claudedirector/lib/context_engineering/feature_extractors/__init__.py
  .claudedirector/lib/context_engineering/feature_extractors/communication_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/contextual_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/network_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/team_feature_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/temporal_extractor.py
  .claudedirector/lib/context_engineering/ml_pattern_engine.py
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

Phase 3A.1.4 COMPLETE: ML Pattern Engine Decomposition Success
  .claudedirector/lib/context_engineering/feature_extractors/communication_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/contextual_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/network_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/team_feature_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/temporal_extractor.py
  .claudedirector/lib/context_engineering/ml_models/__init__.py
  .claudedirector/lib/context_engineering/ml_models/collaboration_classifier.py
  .claudedirector/lib/context_engineering/ml_models/collaboration_scorer.py
  .claudedirector/lib/context_engineering/ml_models/ml_pattern_engine.py
  .claudedirector/lib/context_engineering/ml_models/risk_assessment_engine.py
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 3A.2.1-2.2 - Extract visualization types and persona template manager
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/visualization_components/__init__.py
  .claudedirector/lib/mcp/visualization_components/persona_template_manager.py
  .claudedirector/lib/mcp/visualization_types.py
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 3A.3.1 - Extract stakeholder intelligence types for SOLID compliance
  .claudedirector/lib/context_engineering/stakeholder_intelligence_types.py
  .claudedirector/lib/context_engineering/stakeholder_intelligence_unified.py
  PHASE3A_EVALUATION_REPORT.md
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 3A.3.3 + Comprehensive Architectural Re-evaluation - 9.2/10 EXCEPTIONAL
  .claudedirector/lib/context_engineering/stakeholder_components/__init__.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_intelligence.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_layer_memory.py
  PHASE3A_COMPREHENSIVE_ARCHITECTURE_EVALUATION.md
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

docs: Remove Phase 3A evaluation documents as requested
  PHASE3A_COMPREHENSIVE_ARCHITECTURE_EVALUATION.md
  PHASE3A_EVALUATION_REPORT.md
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy

feat: Phase 3A.3.4 SOLID Stakeholder Intelligence Transformation - EXCEPTIONAL 9.4/10
  .claudedirector/lib/context_engineering/stakeholder_components/__init__.py
  .claudedirector/lib/context_engineering/stakeholder_components/content_processor.py
  .claudedirector/lib/context_engineering/stakeholder_components/relationship_analyzer.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_detection_engine.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_repository.py
  .claudedirector/lib/context_engineering/stakeholder_intelligence_unified.py
  docs/phases/PHASE3A_COMPREHENSIVE_DRY_SOLID_EVALUATION.md
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 3A.3.4 Final SOLID Transformation Refinements
  .claudedirector/lib/context_engineering/stakeholder_components/__init__.py
  .claudedirector/lib/context_engineering/stakeholder_components/content_processor.py
  .claudedirector/lib/context_engineering/stakeholder_components/relationship_analyzer.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_detection_engine.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_repository.py
  .claudedirector/lib/context_engineering/stakeholder_intelligence_unified.py
  docs/phases/PHASE3A_COMPREHENSIVE_DRY_SOLID_EVALUATION.md
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 3A.3.4 Final SOLID Transformation Refinements
  .claudedirector/lib/context_engineering/stakeholder_components/__init__.py
  .claudedirector/lib/context_engineering/stakeholder_components/content_processor.py
  .claudedirector/lib/context_engineering/stakeholder_components/relationship_analyzer.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_detection_engine.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_repository.py
  .claudedirector/lib/context_engineering/stakeholder_intelligence_unified.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/phases/PHASE3A_COMPREHENSIVE_DRY_SOLID_EVALUATION.md
  docs/phases/PHASE3A_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 3A.3.5 Wrapper Class Dead Code Elimination - 66% TOTAL REDUCTION!
  .claudedirector/lib/context_engineering/stakeholder_components/__init__.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_intelligence.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_layer_memory.py
Due: architecture-compliance-policy

Phase 3A: Architectural Cleanup + 66% Stakeholder Intelligence Reduction - COMPLETED
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/feature_extractors/__init__.py
  .claudedirector/lib/context_engineering/feature_extractors/communication_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/contextual_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/network_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/team_feature_extractor.py
  .claudedirector/lib/context_engineering/feature_extractors/temporal_extractor.py
  .claudedirector/lib/context_engineering/ml_models/__init__.py
  .claudedirector/lib/context_engineering/ml_models/collaboration_classifier.py
  .claudedirector/lib/context_engineering/ml_models/collaboration_scorer.py
  .claudedirector/lib/context_engineering/ml_models/ml_pattern_engine.py
  .claudedirector/lib/context_engineering/ml_models/risk_assessment_engine.py
  .claudedirector/lib/context_engineering/ml_pattern_types.py
  .claudedirector/lib/context_engineering/stakeholder_components/__init__.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_processor.py
  .claudedirector/lib/context_engineering/stakeholder_components/stakeholder_repository.py
  .claudedirector/lib/context_engineering/stakeholder_intelligence_types.py
  .claudedirector/lib/context_engineering/stakeholder_intelligence_unified.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/visualization_components/__init__.py
  .claudedirector/lib/mcp/visualization_components/persona_template_manager.py
  .claudedirector/lib/mcp/visualization_types.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/phases/PHASE3A_PROGRESS.md
  docs/phases/PHASE3A_TECHNICAL_STORIES.md
  docs/phases/PHASE3_ARCHITECTURAL_CLEANUP_PLAN.md
  docs/phases/completed/PHASE2_COMPLETE_SUMMARY.md
  docs/phases/completed/PHASE2_PROGRESS.md
  docs/phases/completed/PHASE7B_CHAT_INTEGRATION_PLAN.md
  docs/phases/completed/PHASE7_WEEK4_ADVANCED_INTERACTIVITY_PLAN.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_ADVANCED.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_CHAT.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_CORE.md
  docs/phases/completed/PHASE7_WEEK4_USER_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

fix: Complete Phase 3B documentation with pre-commit formatting
  docs/phases/PHASE3B_IMPLEMENTATION_OVERVIEW.md
  docs/phases/PHASE3B_PURE_CODE_REDUCTION_SPRINT.md
  docs/phases/PHASE3B_TECHNICAL_STORIES.md
  docs/phases/PHASE3B_WEEK1_EXECUTION.md
  docs/phases/PHASE3B_WEEK2_EXECUTION.md
  docs/phases/PHASE3B_WEEK3_EXECUTION.md
Due: documentation-size-policy
