Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

readme-content-protection:
  name: üõ°Ô∏è README CONTENT PROTECTION (Content-Aware)
  entry: python3 .claudedirector/tools/ci/readme_content_protection.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

code-bloat-prevention:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - STRICT ENFORCEMENT
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

code-bloat-prevention-secondary:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - SECONDARY CHECK
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

ux: Add copy-pasteable installation commands to Getting Started
  README.md
Due: readme-content-protection, documentation-size-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: readme-content-protection, documentation-size-policy

fix: Restore missing git installation commands to README
  README.md
Due: readme-content-protection, documentation-size-policy

feat: MANDATORY spec-kit enforcement and process compliance (#136)
  .claudedirector/docs/development/guides/CONTEXT7_MCP_UTILIZATION.md
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/lib/core/validation/unified_prevention_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tests/regression/p0_blocking/test_context7_utilization_p0.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
  .claudedirector/tests/regression/p0_blocking/test_unified_ai_engine_p0.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_decision_pipeline.py
  .claudedirector/tools/hooks/unified_validation_hook.py
  .claudedirector/tools/p0_protection/mandatory_p0_gates.py
  .github/workflows/p0-protection-enforcement.yml
  .github/workflows/unified-ci.yml
  README.md
  docs/development/SEQUENTIAL_THINKING_ENFORCEMENT.md
  docs/requirements/FEATURE_STATUS_MATRIX.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: Development Process Enforcement Specifications
  .claudedirector/templates/spec-kit-template.md
  README.md
  docs/development/guides/enforcement-gap-resolution-spec.md
Due: readme-content-protection, documentation-size-policy

style: Apply Black code formatting to proactive compliance system
  .claudedirector/lib/core/unified_factory.py
  .claudedirector/lib/core/validation/integrated_process_enforcer.py
  .claudedirector/lib/core/validation/proactive_compliance_engine.py
  .claudedirector/tests/regression/p0_blocking/test_proactive_compliance_p0.py
  README.md
  docs/development/guides/proactive-code-generation-compliance-overview.md
  docs/development/guides/proactive-code-generation-implementation-plan.md
  docs/development/guides/proactive-code-generation-process-enforcement.md
  docs/development/guides/proactive-code-generation-technical-architecture.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

style: Apply Black code formatting to proactive compliance system + README fix
  README.md
Due: readme-content-protection, documentation-size-policy

docs: Fix broken cross-references in proactive compliance specifications
  docs/development/guides/proactive-code-generation-compliance-overview.md
  docs/development/guides/proactive-code-generation-process-enforcement.md
Due: documentation-size-policy

feat: Development Process Enforcement Specifications - Address Systematic Failures (#139)
  .claudedirector/lib/core/unified_factory.py
  .claudedirector/lib/core/validation/integrated_process_enforcer.py
  .claudedirector/lib/core/validation/proactive_compliance_engine.py
  .claudedirector/templates/spec-kit-template.md
  .claudedirector/tests/regression/p0_blocking/test_proactive_compliance_p0.py
  docs/development/guides/enforcement-gap-resolution-spec.md
  docs/development/guides/proactive-code-generation-compliance-overview.md
  docs/development/guides/proactive-code-generation-implementation-plan.md
  docs/development/guides/proactive-code-generation-process-enforcement.md
  docs/development/guides/proactive-code-generation-technical-architecture.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Update proactive compliance system status - Phase 1 Complete, Phase 2 Active
  docs/development/guides/proactive-code-generation-compliance-overview.md
  docs/development/guides/proactive-code-generation-implementation-plan.md
Due: documentation-size-policy

specs: Add comprehensive Phase 2 specifications - SOLIDTemplateEngine & StructureAwarePlacementEngine
  docs/development/guides/phase2-development-tasks.md
  docs/development/guides/phase2-solid-template-engine-spec.md
Due: documentation-size-policy

refactor: Apply user-provided formatting and adjustments to Phase 2 components
  .claudedirector/lib/core/generation/__init__.py
  .claudedirector/lib/core/generation/solid_template_engine.py
  .claudedirector/lib/core/generation/structure_aware_placement_engine.py
  .claudedirector/lib/core/unified_factory.py
  .claudedirector/tests/integration/test_phase2_generation_integration.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_phase2_generation_compliance_p0.py
  .claudedirector/tests/unit/core/generation/test_solid_template_engine.py
  .claudedirector/tests/unit/core/generation/test_structure_aware_placement_engine.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

refactor: Apply user-accepted changes to duplication fix
  .claudedirector/lib/core/generation/__init__.py
  .claudedirector/lib/core/generation/basic_solid_template_engine.py
  .claudedirector/lib/core/generation/solid_template_engine.py
  .claudedirector/lib/core/unified_factory.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: Update PROJECT_STRUCTURE.md and BLOAT_PREVENTION_SYSTEM.md for Phase 2
  docs/architecture/BLOAT_PREVENTION_SYSTEM.md
  docs/architecture/PROJECT_STRUCTURE.md
Due: documentation-size-policy

style: Apply user-accepted formatting improvements to Phase 2 components
  .claudedirector/config/placement_rules.yaml
  .claudedirector/lib/core/generation/__init__.py
  .claudedirector/lib/core/generation/placement_config_loader.py
  .claudedirector/lib/core/generation/structure_aware_placement_engine.py
  README.md
  docs/development/guides/phase2-proactive-code-generation-guide.md
  docs/development/guides/proactive-code-generation-compliance-overview.md
  docs/development/guides/proactive-code-generation-implementation-plan.md
  docs/development/guides/proactive-code-generation-process-enforcement.md
  docs/development/guides/proactive-code-generation-technical-architecture.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

Phase 2: SOLIDTemplateEngine & Structure-Aware Placement - Proactive Code Generation Compliance (#140)
  .claudedirector/config/placement_rules.yaml
  .claudedirector/lib/core/generation/__init__.py
  .claudedirector/lib/core/generation/basic_solid_template_engine.py
  .claudedirector/lib/core/generation/placement_config_loader.py
  .claudedirector/lib/core/generation/solid_template_engine.py
  .claudedirector/lib/core/generation/structure_aware_placement_engine.py
  .claudedirector/lib/core/unified_factory.py
  .claudedirector/tests/integration/test_phase2_generation_integration.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_phase2_generation_compliance_p0.py
  .claudedirector/tests/unit/core/generation/test_solid_template_engine.py
  .claudedirector/tests/unit/core/generation/test_structure_aware_placement_engine.py
  docs/architecture/BLOAT_PREVENTION_SYSTEM.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/guides/phase2-development-tasks.md
  docs/development/guides/phase2-proactive-code-generation-guide.md
  docs/development/guides/phase2-solid-template-engine-spec.md
  docs/development/guides/proactive-code-generation-compliance-overview.md
  docs/development/guides/proactive-code-generation-implementation-plan.md
  docs/development/guides/proactive-code-generation-process-enforcement.md
  docs/development/guides/proactive-code-generation-technical-architecture.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: Add AI Process Compliance Interceptor specification
  docs/development/guides/ai-process-compliance-interceptor-spec.md
Due: documentation-size-policy

fix: Complete P0 test suite - achieve 100% pass rate
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/lib/ai_intelligence/unified_ai_engine.py
  .claudedirector/lib/core/validation/ai_process_interceptor.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

style: Apply Black formatting to ai_process_interceptor.py
  .claudedirector/lib/core/validation/ai_process_interceptor.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

cleanup: Delete AI Process Interceptor - provides no enforcement value
  .claudedirector/lib/core/validation/ai_process_interceptor.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

cleanup: Remove non-functional AI self-enforcement systems
  .claudedirector/lib/core/unified_factory.py
  .claudedirector/lib/core/validation/integrated_process_enforcer.py
  .claudedirector/lib/core/validation/proactive_compliance_engine.py
  .claudedirector/tests/integration/test_phase2_generation_integration.py
  .claudedirector/tests/regression/p0_blocking/test_proactive_compliance_p0.py
  .claudedirector/tests/unit/core/generation/test_structure_aware_placement_engine.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy, p0-test-protection-policy

docs: update OVERVIEW.md with AI compliance incapability learnings
  docs/architecture/OVERVIEW.md
Due: documentation-size-policy

cleanup: Complete AI behavioral promise bloat removal - eliminate predictive intelligence (883 lines)
  .claudedirector/lib/ai_intelligence/__init__.py
  .claudedirector/lib/ai_intelligence/decision_processor.py
  .claudedirector/lib/ai_intelligence/predictive_engine.py
  .claudedirector/lib/ai_intelligence/predictive_processor.py
  .claudedirector/lib/ai_intelligence/unified_ai_engine.py
  .claudedirector/lib/core/unified_factory.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_enhanced_predictive_intelligence_p0.py
  .claudedirector/tests/regression/p0_blocking/test_unified_ai_engine_p0.py
  .cursorrules
  README.md
  docs/architecture/OVERVIEW.md
  docs/development/AI_SELF_ENFORCEMENT_PREVENTION_GUIDELINES.md
  docs/development/AI_TRUST_FRAMEWORK.md
  docs/development/UNIFIED_AI_ENGINE_REMOVAL_RATIONALE.md
  docs/development/guides/VALIDATION_CLEANUP_IMPLEMENTATION_GUIDE.md
  docs/development/guides/ai-process-compliance-interceptor-spec.md
  docs/development/guides/validation-system-cleanup-spec.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

config: Update .cursorrules for AI Trust Framework compliance - remove Phase 4 references
  .cursorrules
Due: none

docs: Clean up obsolete PR #141 documentation and finalize dual platform integration
  .claudedirector/lib/core/unified_factory.py
  .cursorrules
  CLAUDE.md
  docs/architecture/OVERVIEW.md
  docs/development/guides/VALIDATION_CLEANUP_IMPLEMENTATION_GUIDE.md
  docs/development/guides/enforcement-gap-resolution-spec.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

🚨 CRITICAL: AI Process Compliance Interceptor - Emergency Process Fix (#141)
  .claudedirector/lib/ai_intelligence/__init__.py
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/decision_processor.py
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/lib/ai_intelligence/predictive_engine.py
  .claudedirector/lib/ai_intelligence/predictive_processor.py
  .claudedirector/lib/ai_intelligence/unified_ai_engine.py
  .claudedirector/lib/core/unified_factory.py
  .claudedirector/lib/core/validation/integrated_process_enforcer.py
  .claudedirector/lib/core/validation/proactive_compliance_engine.py
  .claudedirector/tests/integration/test_phase2_generation_integration.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_enhanced_predictive_intelligence_p0.py
  .claudedirector/tests/regression/p0_blocking/test_proactive_compliance_p0.py
  .claudedirector/tests/regression/p0_blocking/test_unified_ai_engine_p0.py
  .claudedirector/tests/unit/core/generation/test_structure_aware_placement_engine.py
  .cursorrules
  CLAUDE.md
  docs/architecture/OVERVIEW.md
  docs/development/AI_SELF_ENFORCEMENT_PREVENTION_GUIDELINES.md
  docs/development/AI_TRUST_FRAMEWORK.md
  docs/development/UNIFIED_AI_ENGINE_REMOVAL_RATIONALE.md
  docs/development/guides/enforcement-gap-resolution-spec.md
  docs/development/guides/validation-system-cleanup-spec.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

fix: Apply black formatting to weekly_reporter.py
  .claudedirector/lib/reporting/weekly_reporter.py
  README.md
  docs/development/guides/conversation-persistence-recovery-spec.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Complete Phase A conversation persistence implementation
  .claudedirector/lib/core/database_schema_validator.py
  .claudedirector/lib/core/simple_database_validator.py
  .claudedirector/lib/reporting/weekly_reporter.py
  README.md
  docs/development/guides/conversation-persistence-phase-a-complete.md
  docs/development/guides/conversation-persistence-prd-alignment-recommendations.md
  docs/development/guides/conversation-persistence-recovery-spec.md
  docs/development/guides/viable-conversation-metrics-analysis.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

Path conditions:
  readme-content-protection: any of: ^README\.md$
  code-bloat-prevention: any of: \.py$
  code-bloat-prevention-secondary: any of: \.py$
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
