Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$

🧠 PHASE 11: Enhanced Predictive Intelligence Foundation
  .claudedirector/lib/ai_intelligence/__init__.py
  .claudedirector/lib/ai_intelligence/predictive_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_enhanced_predictive_intelligence_p0.py
  PHASE11_ADVANCED_AI_INTELLIGENCE_PLAN.md
  docs/phases/completed/PHASE10_FINAL_ARCHITECTURE_POLISH_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🎨 Black formatting compliance for Phase 11 foundation
  .claudedirector/lib/ai_intelligence/predictive_engine.py
  .claudedirector/tests/regression/p0_blocking/test_enhanced_predictive_intelligence_p0.py
Due: architecture-compliance-policy, p0-test-protection-policy

🎨 BLACK FORMATTING: Post-documentation update cleanup
  .claudedirector/tests/regression/p0_blocking/test_enhanced_predictive_intelligence_p0.py
  docs/CHANGELOG.md
  docs/TECHNICAL_INDEX.md
  docs/architecture/OVERVIEW.md
  docs/requirements/FEATURE_STATUS_MATRIX.md
Due: documentation-size-policy, p0-test-protection-policy

📚 PHASE 11 DOCUMENT UPDATE: Foundation Success Achieved
  PHASE11_ADVANCED_AI_INTELLIGENCE_PLAN.md
Due: documentation-size-policy

🧠 Phase 11: Advanced AI Intelligence - P1 Enhanced Predictive Engine (#94)
  .claudedirector/lib/ai_intelligence/__init__.py
  .claudedirector/lib/ai_intelligence/predictive_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_enhanced_predictive_intelligence_p0.py
  PHASE11_ADVANCED_AI_INTELLIGENCE_PLAN.md
  docs/CHANGELOG.md
  docs/TECHNICAL_INDEX.md
  docs/architecture/OVERVIEW.md
  docs/phases/completed/PHASE10_FINAL_ARCHITECTURE_POLISH_PLAN.md
  docs/requirements/FEATURE_STATUS_MATRIX.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🔧 PHASE 12 DESIGN: MCP-by-Default Integration - Final Version
  PHASE12_MCP_BY_DEFAULT_DESIGN.md
Due: documentation-size-policy

🎨 CODE FORMATTING: Black auto-formatting for Phase 12 implementation
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/core/complexity_analyzer.py
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/lib/core/enhanced_persona_manager.py
  .claudedirector/lib/core/visual_template_manager.py
  .claudedirector/lib/cursor_transparency_bridge.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_transparency.py
  PHASE12_MCP_BY_DEFAULT_DESIGN.md
  PHASE12_TECHNICAL_STORIES.md
  PHASE12_USER_STORIES.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
Due: documentation-size-policy, architecture-compliance-policy

🎨 FIX: Black formatting compliance for Phase 12 implementation
  .claudedirector/config/test_registry.yaml
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/lib/core/enhanced_persona_manager.py
  .claudedirector/lib/core/lightweight_fallback.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_lightweight_fallback.py
  .claudedirector/tests/regression/p0_blocking/test_magic_mcp_visual.py
  .claudedirector/tests/regression/p0_blocking/test_phase12_always_on_mcp.py
  docs/CHANGELOG.md
  docs/TECHNICAL_INDEX.md
  docs/architecture/OVERVIEW.md
  docs/requirements/FEATURE_STATUS_MATRIX.md
Due: documentation-size-policy, architecture-compliance-policy

🔧 FIX: Legacy import error in CI validation scripts
  .claudedirector/tools/ci/pre-push-ci-validation.sh
  .claudedirector/tools/ci/updated-pre-push-hook.sh
Due: none

🧹 CLEANUP: Move completed Phase 11 & 12 documentation to proper location
  docs/phases/completed/PHASE11_ADVANCED_AI_INTELLIGENCE_PLAN.md
  docs/phases/completed/PHASE12_MCP_BY_DEFAULT_DESIGN.md
  docs/phases/completed/PHASE12_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE12_USER_STORIES.md
Due: documentation-size-policy

�� RELEASE: Phase 12 Always-On MCP Enhancement (ClaudeDirector v3.5.0)
  .claudedirector/config/test_registry.yaml
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/core/complexity_analyzer.py
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/lib/core/enhanced_persona_manager.py
  .claudedirector/lib/core/lightweight_fallback.py
  .claudedirector/lib/core/visual_template_manager.py
  .claudedirector/lib/cursor_transparency_bridge.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_lightweight_fallback.py
  .claudedirector/tests/regression/p0_blocking/test_magic_mcp_visual.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_transparency.py
  .claudedirector/tests/regression/p0_blocking/test_phase12_always_on_mcp.py
  .claudedirector/tools/ci/pre-push-ci-validation.sh
  .claudedirector/tools/ci/updated-pre-push-hook.sh
  PHASE12_MCP_BY_DEFAULT_DESIGN.md
  PHASE12_TECHNICAL_STORIES.md
  PHASE12_USER_STORIES.md
  docs/CHANGELOG.md
  docs/TECHNICAL_INDEX.md
  docs/architecture/OVERVIEW.md
  docs/phases/completed/PHASE11_ADVANCED_AI_INTELLIGENCE_PLAN.md
  docs/phases/completed/PHASE12_MCP_BY_DEFAULT_DESIGN.md
  docs/phases/completed/PHASE12_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE12_USER_STORIES.md
  docs/requirements/FEATURE_STATUS_MATRIX.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
Due: documentation-size-policy, architecture-compliance-policy

📝 DOC IMPROVEMENT: Comprehensive README & Getting Started accuracy updates
  README.md
  docs/GETTING_STARTED.md
Due: documentation-size-policy

📝 PRODUCTION: Documentation Accuracy & User Experience Improvements
  README.md
  docs/GETTING_STARTED.md
Due: documentation-size-policy

fix: Apply Black formatting to Phase 13 ML components
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ml_intelligence/__init__.py
  .claudedirector/lib/ml_intelligence/ml_prediction_router.py
  PHASE11_ADVANCED_AI_INTELLIGENCE_PLAN.md
  PHASE12_MCP_BY_DEFAULT_DESIGN.md
  PHASE12_TECHNICAL_STORIES.md
  PHASE12_USER_STORIES.md
  PHASE13_ML_ENHANCED_INTELLIGENCE_PLAN.md
  PHASE13_TECHNICAL_STORIES.md
  PHASE13_USER_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

fix: restore critical P0 enforcement infrastructure
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ml_intelligence/__init__.py
  .claudedirector/lib/ml_intelligence/ml_prediction_router.py
  .claudedirector/tools/ci/mandatory_test_validator.py
  .claudedirector/tools/ci/readme-pre-stash-protection.sh
  .claudedirector/tools/ci/readme-protection.sh
  .pre-commit-config.yaml
  PHASE11_ADVANCED_AI_INTELLIGENCE_PLAN.md
  PHASE12_MCP_BY_DEFAULT_DESIGN.md
  PHASE12_TECHNICAL_STORIES.md
  PHASE12_USER_STORIES.md
  PHASE13_ML_ENHANCED_INTELLIGENCE_PLAN.md
  PHASE13_TECHNICAL_STORIES.md
  PHASE13_USER_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

fix: implement P0 AI Intelligence fallback mode
  .claudedirector/lib/core/constants/transparency_config.py
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tools/ci/mandatory_test_validator.py
Due: architecture-compliance-policy

fix: resolve import path and formatting issues
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
Due: architecture-compliance-policy

🧠 Phase 13: ML Enhanced Intelligence - Advanced Predictive Analytics Integration (#97)
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/core/constants/transparency_config.py
  .claudedirector/lib/ml_intelligence/__init__.py
  .claudedirector/lib/ml_intelligence/ml_prediction_router.py
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tools/ci/mandatory_test_validator.py
  .claudedirector/tools/ci/readme-pre-stash-protection.sh
  .claudedirector/tools/ci/readme-protection.sh
  .pre-commit-config.yaml
  PHASE11_ADVANCED_AI_INTELLIGENCE_PLAN.md
  PHASE12_MCP_BY_DEFAULT_DESIGN.md
  PHASE12_TECHNICAL_STORIES.md
  PHASE12_USER_STORIES.md
  PHASE13_ML_ENHANCED_INTELLIGENCE_PLAN.md
  PHASE13_TECHNICAL_STORIES.md
  PHASE13_USER_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

style: apply Black formatting to test imports
  .claudedirector/lib/context_engineering/workspace_monitor_unified.py
  .claudedirector/tests/p0_features/conftest.py
  .claudedirector/tests/p0_features/unit/ai_pipeline/test_decision_intelligence.py
  .claudedirector/tests/p0_features/unit/ai_pipeline/test_predictive_analytics.py
  docs/development/guides/TECH_DEBT_CLEANUP_SPRINT.md
Due: documentation-size-policy, architecture-compliance-policy

fix: CRITICAL P0 validation system bug - ignored HIGH priority failures
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  docs/development/guides/TECH_DEBT_CLEANUP_SPRINT.md
Due: documentation-size-policy

style: apply Black formatting to SOLID compliance changes
  .claudedirector/lib/core/config.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
Due: architecture-compliance-policy

fix: resolve legacy memory module reference in pyproject.toml
  .claudedirector/lib/pyproject.toml
Due: none

refactor: organize Phase 13 documentation from root to completed phases
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/phases/completed/PHASE13_ML_ENHANCED_INTELLIGENCE_PLAN.md
  docs/phases/completed/PHASE13_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE13_USER_STORIES.md
Due: documentation-size-policy

fix: disable deprecated CLI entry point to resolve memory import error
  .claudedirector/lib/pyproject.toml
Due: none

docs: finalize tech debt cleanup sprint documentation
  docs/development/guides/TECH_DEBT_CLEANUP_SPRINT.md
Due: documentation-size-policy

🧹 Complete Tech Debt Cleanup Sprint: P0 Infrastructure + SOLID Compliance (#98)
  .claudedirector/lib/context_engineering/workspace_monitor_unified.py
  .claudedirector/lib/core/config.py
  .claudedirector/lib/pyproject.toml
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tests/p0_features/conftest.py
  .claudedirector/tests/p0_features/unit/ai_pipeline/test_decision_intelligence.py
  .claudedirector/tests/p0_features/unit/ai_pipeline/test_predictive_analytics.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/development/guides/TECH_DEBT_CLEANUP_SPRINT.md
  docs/phases/completed/PHASE13_ML_ENHANCED_INTELLIGENCE_PLAN.md
  docs/phases/completed/PHASE13_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE13_USER_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

feat: initiate Phase 14 Strategic Development & Platform Maturity
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/phases/PHASE14_STRATEGIC_DEVELOPMENT_PLAN.md
Due: documentation-size-policy

feat: create comprehensive Phase 14 user and technical stories
  docs/phases/PHASE14_TECHNICAL_STORIES.md
  docs/phases/PHASE14_USER_STORIES.md
Due: documentation-size-policy

style: apply Black formatting to Phase 14 ML pipeline components
  .claudedirector/lib/ai_intelligence/mcp_enhanced_ml_pipeline.py
  .claudedirector/lib/ai_intelligence/performance_optimized_ml_pipeline.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_enhanced_ml_pipeline_p0.py
  .claudedirector/tests/regression/p0_blocking/test_performance_optimized_ml_pipeline_p0.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
Due: architecture-compliance-policy, p0-test-protection-policy

feat: create comprehensive Phase 14 user and technical stories
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  .pre-commit-config.yaml
  docs/architecture/BLOAT_PREVENTION_SYSTEM.md
  docs/phases/PHASE14_TECHNICAL_STORIES.md
  docs/phases/PHASE14_USER_STORIES.md
Due: documentation-size-policy

feat: MCP-Enhanced Code Bloat Prevention System (#101)
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  .pre-commit-config.yaml
  docs/architecture/BLOAT_PREVENTION_SYSTEM.md
  docs/phases/PHASE14_STRATEGIC_DEVELOPMENT_PLAN.md
  docs/phases/PHASE14_TECHNICAL_STORIES.md
  docs/phases/PHASE14_USER_STORIES.md
Due: documentation-size-policy

feat: Phase 14 Track 1 - Proper Architectural Integration
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/ai_intelligence/mcp_enhanced_ml_pipeline.py
  .claudedirector/lib/ai_intelligence/performance_optimized_ml_pipeline.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_enhanced_ml_pipeline_p0.py
  .claudedirector/tests/regression/p0_blocking/test_performance_optimized_ml_pipeline_p0.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  .pre-commit-config.yaml
  docs/architecture/BLOAT_PREVENTION_SYSTEM.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🚀 Phase 14: Strategic Development & Platform Maturity (#100)
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/ai_intelligence/mcp_enhanced_ml_pipeline.py
  .claudedirector/lib/ai_intelligence/performance_optimized_ml_pipeline.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_enhanced_ml_pipeline_p0.py
  .claudedirector/tests/regression/p0_blocking/test_performance_optimized_ml_pipeline_p0.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  .pre-commit-config.yaml
Due: architecture-compliance-policy, p0-test-protection-policy
