Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, cursorrules-validation, p1-unit-tests, p1-test-coverage

Path conditions:
  code-bloat-prevention: any of: \.py$
  code-bloat-prevention-secondary: any of: \.py$
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  cursorrules-validation: any of: ^\.cursorrules$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$

feat: Phase 1 complete - Fix all 5 unit test collection errors
  .claudedirector/lib/performance/prompt_cache_optimizer.py
  .claudedirector/lib/utils/__init__.py
  .claudedirector/tests/unit/test_complexity_analyzer.py
  .claudedirector/tests/unit/test_mcp_use_client.py
  .claudedirector/tests/unit/test_persona_activation_engine.py
  README.md
  docs/development/specs/008-unit-test-fix/PHASE1-ANALYSIS.md
  docs/development/specs/008-unit-test-fix/PHASE1-COMPLETION.md
  docs/development/specs/008-unit-test-fix/tasks/task-001-fix-collection-errors.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: Restore README.md content - Fix P0 Complete New Setup test
  README.md
Due: documentation-size-policy

feat: Phase 2 Progress - Fix 27 unit tests (Category A)
  .claudedirector/lib/core/complexity_analyzer.py
  .claudedirector/tests/unit/test_complexity_analyzer.py
  .claudedirector/tests/unit/test_config.py
  docs/development/specs/008-unit-test-fix/PHASE2-ANALYSIS.md
  docs/development/specs/008-unit-test-fix/PHASE2-PROGRESS.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: Add absolute README.md protection to prevent git index deletion
  .pre-commit-config.yaml
Due: none

feat: Category A unit test fixes - 60% pass rate achieved
  .claudedirector/tests/unit/ai_intelligence/test_decision_orchestrator.py
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_decision_pipeline.py
  .claudedirector/tests/unit/test_meeting_intelligence.py
  .claudedirector/tests/unit/test_stakeholder_ai_detection.py
  .claudedirector/tests/unit/test_stakeholder_intelligence.py
  .claudedirector/tests/unit/test_task_ai_detection.py
  .claudedirector/tests/unit/test_task_intelligence.py
  .claudedirector/tests/unit/test_template_engine.py
  docs/development/specs/008-unit-test-fix/CATEGORY-A-COMPLETION.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

docs: Clean up unit test fix spec - consolidate Phase docs into tasks
  docs/development/specs/008-unit-test-fix/PHASE1-ANALYSIS.md
  docs/development/specs/008-unit-test-fix/PHASE1-COMPLETION.md
  docs/development/specs/008-unit-test-fix/PHASE2-ANALYSIS.md
  docs/development/specs/008-unit-test-fix/PHASE2-PROGRESS.md
  docs/development/specs/008-unit-test-fix/tasks/task-001-fix-collection-errors.md
  docs/development/specs/008-unit-test-fix/tasks/task-002-categorize-failing-tests.md
Due: documentation-size-policy

fix: Python syntax error in pre-commit-ai-cleanup - f-string backslash
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
Due: none

Fix broken unit tests - Enable comprehensive test coverage (#169)
  .claudedirector/lib/core/complexity_analyzer.py
  .claudedirector/lib/performance/prompt_cache_optimizer.py
  .claudedirector/lib/utils/__init__.py
  .claudedirector/tests/unit/ai_intelligence/test_decision_orchestrator.py
  .claudedirector/tests/unit/ai_intelligence/test_enhanced_framework_detection.py
  .claudedirector/tests/unit/ai_intelligence/test_mcp_decision_pipeline.py
  .claudedirector/tests/unit/test_complexity_analyzer.py
  .claudedirector/tests/unit/test_config.py
  .claudedirector/tests/unit/test_mcp_use_client.py
  .claudedirector/tests/unit/test_meeting_intelligence.py
  .claudedirector/tests/unit/test_persona_activation_engine.py
  .claudedirector/tests/unit/test_stakeholder_ai_detection.py
  .claudedirector/tests/unit/test_stakeholder_intelligence.py
  .claudedirector/tests/unit/test_task_ai_detection.py
  .claudedirector/tests/unit/test_task_intelligence.py
  .claudedirector/tests/unit/test_template_engine.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  .pre-commit-config.yaml
  docs/development/specs/008-unit-test-fix/CATEGORY-A-COMPLETION.md
  docs/development/specs/008-unit-test-fix/plan.md
  docs/development/specs/008-unit-test-fix/spec.md
  docs/development/specs/008-unit-test-fix/tasks/task-001-fix-collection-errors.md
  docs/development/specs/008-unit-test-fix/tasks/task-002-categorize-failing-tests.md
  docs/development/specs/008-unit-test-fix/tasks/task-003-enable-all-tests-hook.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: Add Category B & C task specifications for unit test fixes
  docs/development/specs/008-unit-test-fix/tasks/task-004-category-b-moderate-fixes.md
  docs/development/specs/008-unit-test-fix/tasks/task-005-category-c-error-fixes.md
Due: documentation-size-policy

fix: Add architectural compliance to Tasks 004 & 005 - TESTING_ARCHITECTURE + BLOAT_PREVENTION
  docs/development/specs/008-unit-test-fix/TASKS-004-005-COMPLIANCE-REVIEW.md
  docs/development/specs/008-unit-test-fix/tasks/task-004-category-b-moderate-fixes.md
  docs/development/specs/008-unit-test-fix/tasks/task-005-category-c-error-fixes.md
Due: documentation-size-policy

docs: Complete Task 004 Phase 0 & 1 - Architecture validation + triage analysis
  docs/development/specs/008-unit-test-fix/TASK-004-IMPLEMENTATION-PLAN.md
Due: documentation-size-policy

test: Rewrite test_decision_orchestrator.py for Phase 5.2.4 ultra-lightweight facade
  .claudedirector/tests/unit/ai_intelligence/test_decision_orchestrator.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

test: Rewrite test_solid_template_engine.py for simplified API
  .claudedirector/tests/unit/core/generation/test_solid_template_engine.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

docs: Add Phase 2 Priorities 1 & 2 completion summary
  docs/development/specs/008-unit-test-fix/PHASE2-PRIORITY-1-2-COMPLETION.md
Due: documentation-size-policy

feat: Add shared test fixture infrastructure (Phase 1.1 & 1.2)
  .claudedirector/tests/unit/ai_intelligence/conftest.py
  .claudedirector/tests/unit/conftest.py
  .claudedirector/tests/unit/context_engineering/conftest.py
  .claudedirector/tests/unit/core/conftest.py
  .claudedirector/tests/unit/mcp/conftest.py
  .claudedirector/tests/unit/performance/conftest.py
  docs/development/specs/008-unit-test-fix/UNIT-TEST-ARCHITECTURAL-REVIEW.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

docs: Phase 1.3 - Document fixture architecture compliance
  .claudedirector/tests/unit/conftest.py
  .claudedirector/tests/unit/core/generation/test_solid_template_engine.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

docs: Update Phase 1 completion status in architectural review
  docs/development/specs/008-unit-test-fix/UNIT-TEST-ARCHITECTURAL-REVIEW.md
Due: documentation-size-policy

docs: Add Unit Test Standards section to TESTING_ARCHITECTURE.md
  docs/architecture/TESTING_ARCHITECTURE.md
Due: documentation-size-policy

docs: Delete temporary progress docs and consolidate findings
  docs/development/specs/008-unit-test-fix/CATEGORY-A-COMPLETION.md
  docs/development/specs/008-unit-test-fix/PHASE2-PRIORITY-1-2-COMPLETION.md
  docs/development/specs/008-unit-test-fix/TASK-004-IMPLEMENTATION-PLAN.md
  docs/development/specs/008-unit-test-fix/TASKS-004-005-COMPLIANCE-REVIEW.md
  docs/development/specs/008-unit-test-fix/UNIT-TEST-ARCHITECTURAL-REVIEW.md
  docs/development/specs/008-unit-test-fix/plan.md
Due: documentation-size-policy

refactor: Move 10 root-level unit tests to component-specific directories
  .claudedirector/tests/unit/ai_intelligence/test_ai_detection_core.py
  .claudedirector/tests/unit/ai_intelligence/test_complexity_analyzer.py
  .claudedirector/tests/unit/context_engineering/test_meeting_intelligence.py
  .claudedirector/tests/unit/context_engineering/test_stakeholder_ai_detection.py
  .claudedirector/tests/unit/context_engineering/test_stakeholder_intelligence.py
  .claudedirector/tests/unit/context_engineering/test_task_ai_detection.py
  .claudedirector/tests/unit/context_engineering/test_task_intelligence.py
  .claudedirector/tests/unit/core/generation/test_template_commands.py
  .claudedirector/tests/unit/core/generation/test_template_engine.py
  .claudedirector/tests/unit/core/test_database.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

refactor: Phase 3 - Clean up ephemeral test files and non-compliant directories
  .claudedirector/tests/unit/agents/__init__.py
  .claudedirector/tests/unit/context_engineering/test_personal_retrospective_agent.py
  .claudedirector/tests/unit/mcp/test_task_002_analytics_enhancement.py
  .claudedirector/tests/unit/mcp/test_weekly_reporter_mcp_integration.py
  .claudedirector/tests/unit/performance/test_task_003_cache_enhancement.py
  .claudedirector/tests/unit/reporting/__init__.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

docs: Phase 4 - Complete Option A architectural cleanup with validation
  docs/development/specs/008-unit-test-fix/OPTION-A-COMPLETION-SUMMARY.md
  docs/development/specs/008-unit-test-fix/plan.md
Due: documentation-size-policy

Fix broken unit tests - Categories B & C (71 failing + 29 errors) (#170)
  .claudedirector/tests/unit/agents/__init__.py
  .claudedirector/tests/unit/ai_intelligence/conftest.py
  .claudedirector/tests/unit/ai_intelligence/test_ai_detection_core.py
  .claudedirector/tests/unit/ai_intelligence/test_complexity_analyzer.py
  .claudedirector/tests/unit/ai_intelligence/test_decision_orchestrator.py
  .claudedirector/tests/unit/conftest.py
  .claudedirector/tests/unit/context_engineering/conftest.py
  .claudedirector/tests/unit/context_engineering/test_meeting_intelligence.py
  .claudedirector/tests/unit/context_engineering/test_personal_retrospective_agent.py
  .claudedirector/tests/unit/context_engineering/test_stakeholder_ai_detection.py
  .claudedirector/tests/unit/context_engineering/test_stakeholder_intelligence.py
  .claudedirector/tests/unit/context_engineering/test_task_ai_detection.py
  .claudedirector/tests/unit/context_engineering/test_task_intelligence.py
  .claudedirector/tests/unit/core/conftest.py
  .claudedirector/tests/unit/core/generation/test_solid_template_engine.py
  .claudedirector/tests/unit/core/generation/test_template_commands.py
  .claudedirector/tests/unit/core/generation/test_template_engine.py
  .claudedirector/tests/unit/core/test_database.py
  .claudedirector/tests/unit/mcp/conftest.py
  .claudedirector/tests/unit/mcp/test_task_002_analytics_enhancement.py
  .claudedirector/tests/unit/mcp/test_weekly_reporter_mcp_integration.py
  .claudedirector/tests/unit/performance/conftest.py
  .claudedirector/tests/unit/performance/test_task_003_cache_enhancement.py
  .claudedirector/tests/unit/reporting/__init__.py
  docs/architecture/TESTING_ARCHITECTURE.md
  docs/development/specs/008-unit-test-fix/CATEGORY-A-COMPLETION.md
  docs/development/specs/008-unit-test-fix/OPTION-A-COMPLETION-SUMMARY.md
  docs/development/specs/008-unit-test-fix/plan.md
  docs/development/specs/008-unit-test-fix/tasks/task-004-category-b-moderate-fixes.md
  docs/development/specs/008-unit-test-fix/tasks/task-005-category-c-error-fixes.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

docs: Phase 5 kickoff - Categories B & C test fixes
  docs/development/specs/008-unit-test-fix/PHASE5-KICKOFF.md
Due: documentation-size-policy

fix(tests): Fix test_database.py + production DatabaseManager bugs
  .claudedirector/lib/core/database.py
  .claudedirector/tests/unit/core/test_database.py
  docs/development/specs/008-unit-test-fix/PHASE5-ANALYSIS.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix(tests): Fix test_sdk_enhanced_manager.py + error pattern bugs
  .claudedirector/config/performance_config.py
  .claudedirector/lib/core/sdk_enhanced_manager.py
  .claudedirector/tests/unit/core/test_sdk_enhanced_manager.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

fix(tests): Fix architectural enforcement tests + comprehensive review
  .claudedirector/tests/unit/core/test_sdk_enhanced_manager.py
  docs/development/specs/008-unit-test-fix/PHASE5-ARCHITECTURAL-REVIEW.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix(tests): Fix AI detection core tests (5 failures -> 0)
  .claudedirector/tests/unit/ai_intelligence/test_ai_detection_core.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

docs(phase5): Add comprehensive progress tracking
  docs/development/specs/008-unit-test-fix/PHASE5-PROGRESS-SUMMARY.md
Due: documentation-size-policy

fix(tests): Fix MCP query pattern classification (substring bug)
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/tests/unit/mcp/test_mcp_enhancements.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

fix(tests): Add mock patterns/rules to placement engine tests
  .claudedirector/tests/unit/core/generation/test_structure_aware_placement_engine.py
Due: code-bloat-prevention, code-bloat-prevention-secondary
