Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

readme-content-protection:
  name: üõ°Ô∏è README CONTENT PROTECTION (Content-Aware)
  entry: python3 .claudedirector/tools/ci/readme_content_protection.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

code-bloat-prevention:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - STRICT ENFORCEMENT
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

code-bloat-prevention-secondary:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - SECONDARY CHECK
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

fix: restore README.md after cleanup hook deletion
  README.md
Due: readme-content-protection, documentation-size-policy

Feature/phase c squashed merge (#147)
  .claudedirector/lib/context_engineering/analytics_engine.py
  .claudedirector/lib/integration/unified_bridge.py
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/lib/performance/cache_manager.py
  .claudedirector/tests/integration/test_task_005_comprehensive_mcp_enhancements.py
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tests/unit/integration/test_task_004_unified_bridge_enhancement.py
  .claudedirector/tests/unit/mcp/test_mcp_enhancements.py
  .claudedirector/tests/unit/mcp/test_task_002_analytics_enhancement.py
  .claudedirector/tests/unit/performance/test_task_003_cache_enhancement.py
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/specs/002-mcp-server-enhancement/contracts/predictive_analytics_core.md
  docs/development/specs/002-mcp-server-enhancement/contracts/predictive_analytics_specialized.md
  docs/development/specs/002-mcp-server-enhancement/contracts/predictive_analytics_validation.md
  docs/development/specs/002-mcp-server-enhancement/contracts/server_orchestration_interface.md
  docs/development/specs/002-mcp-server-enhancement/plan.md
  docs/development/specs/002-mcp-server-enhancement/spec.md
  docs/development/specs/002-mcp-server-enhancement/tasks-revised.md
  docs/development/specs/002-mcp-server-enhancement/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: readme-content-protection, documentation-size-policy

Feature/phase c squashed merge (#147)
  .claudedirector/lib/agents/__init__.py
  .claudedirector/lib/agents/weekly_report_agent.py
  .claudedirector/lib/context_engineering/analytics_engine.py
  .claudedirector/lib/integration/unified_bridge.py
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/lib/performance/cache_manager.py
  .claudedirector/tests/integration/test_task_005_comprehensive_mcp_enhancements.py
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tests/unit/integration/test_task_004_unified_bridge_enhancement.py
  .claudedirector/tests/unit/mcp/test_mcp_enhancements.py
  .claudedirector/tests/unit/mcp/test_task_002_analytics_enhancement.py
  .claudedirector/tests/unit/performance/test_task_003_cache_enhancement.py
  README.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/specs/002-mcp-server-enhancement/contracts/predictive_analytics_core.md
  docs/development/specs/002-mcp-server-enhancement/contracts/predictive_analytics_specialized.md
  docs/development/specs/002-mcp-server-enhancement/contracts/predictive_analytics_validation.md
  docs/development/specs/002-mcp-server-enhancement/contracts/server_orchestration_interface.md
  docs/development/specs/002-mcp-server-enhancement/plan.md
  docs/development/specs/002-mcp-server-enhancement/spec.md
  docs/development/specs/002-mcp-server-enhancement/tasks-revised.md
  docs/development/specs/002-mcp-server-enhancement/tasks.md
  docs/development/specs/003-weekly-report-agent/plan.md
  docs/development/specs/003-weekly-report-agent/spec.md
  docs/development/specs/003-weekly-report-agent/tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Weekly Report Generation Agent - Strategic Platform Automation
  docs/development/specs/003-weekly-report-agent/plan.md
  docs/development/specs/003-weekly-report-agent/spec.md
  docs/development/specs/003-weekly-report-agent/tasks.md
Due: documentation-size-policy

Phase 1: Weekly Report Agent Foundation Complete
  .claudedirector/config/weekly_report_config.yaml.template
  .claudedirector/lib/agents/__init__.py
  .claudedirector/lib/agents/weekly_report_agent.py
  .claudedirector/lib/core/types.py
  .claudedirector/tests/unit/agents/__init__.py
  .claudedirector/tests/unit/agents/test_weekly_report_agent.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

refactor: Leverage existing weekly_reporter.py logic in WeeklyReportAgent
  .claudedirector/config/weekly_report_config.yaml.template
  .claudedirector/lib/agents/__init__.py
  .claudedirector/lib/agents/weekly_report_agent.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

feat: Weekly Report Agent Phase 1 - Foundation Architecture Complete (#150)
  .claudedirector/config/weekly_report_config.yaml.template
  .claudedirector/lib/agents/__init__.py
  .claudedirector/lib/agents/weekly_report_agent.py
  .claudedirector/lib/core/types.py
  .claudedirector/tests/unit/agents/__init__.py
  .claudedirector/tests/unit/agents/test_weekly_report_agent.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

feat: Weekly Report Agent Phase 2 Stage 2.1 - Enhanced Data Collection Complete
  .claudedirector/lib/reporting/weekly_reporter.py
  README.md
  docs/development/specs/003-weekly-report-agent-phase2/architecture-design.md
  docs/development/specs/003-weekly-report-agent-phase2/cycle-time-explanation.md
  docs/development/specs/003-weekly-report-agent-phase2/implementation-summary.md
  docs/development/specs/003-weekly-report-agent-phase2/plan.md
  docs/development/specs/003-weekly-report-agent-phase2/spec.md
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

🚨 CRITICAL FIX: AI Cleanup Hook exemption bypass causing README.md deletion
  README.md
Due: readme-content-protection, documentation-size-policy

docs: Update Phase 2.1 completion status in tasks.md
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: documentation-size-policy

docs: Split oversized tasks.md into focused documentation files
  .claudedirector/lib/reporting/weekly_reporter.py
  .claudedirector/lib/reporting/weekly_reporter_mcp_bridge.py
  .claudedirector/tests/unit/reporting/__init__.py
  .claudedirector/tests/unit/reporting/test_weekly_reporter_mcp_integration.py
  README.md
  docs/development/specs/003-weekly-report-agent-phase2/bloat-prevention-validation.md
  docs/development/specs/003-weekly-report-agent-phase2/mcp-integration-design.md
  docs/development/specs/003-weekly-report-agent-phase2/phase-2-1-completed.md
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: Update Phase 2.1.5 completion status in tasks index
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: documentation-size-policy

🧹 CLEANUP: Remove legacy weekly report migration artifacts
  .claudedirector/tools/automation/MIGRATION_SUMMARY.md
  .claudedirector/tools/automation/README_PYTHON_MIGRATION.md
  .claudedirector/tools/automation/requirements.txt
  .claudedirector/tools/automation/run_weekly_report.sh
Due: documentation-size-policy

🧹 CLEANUP: Remove obsolete weekly report test file
  .claudedirector/tests/automation/test_weekly_report.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

CRITICAL: Fix README.md protection and eliminate duplicate AI cleanup hooks
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  README.md
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix: Performance P0 test CPU tolerance for pre-commit environment
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tests/regression/business_critical/test_performance.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

README: Restore proper ClaudeDirector README.md content
  README.md
Due: readme-content-protection, documentation-size-policy

fix: Apply Black formatting to bulletproof README protection system
  .claudedirector/config/ai_cleanup_config.yaml
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/lib/reporting/weekly_reporter.py
  .claudedirector/lib/reporting/weekly_reporter_mcp_bridge.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

feat: Phase 2.2 Business Intelligence + CRITICAL README Protection Fix
  .claudedirector/lib/reporting/conversational_business_intelligence.py
  .claudedirector/lib/reporting/weekly_reporter_chat_integration.py
  .claudedirector/tests/phase2_2_integration_test.py
  .claudedirector/tools/architecture/phase2_2_validation.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  docs/development/specs/003-weekly-report-agent-phase2/phase-2-2-business-intelligence.md
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: removed unnecessary bloat
  .claudedirector/tools/architecture/phase2_2_validation.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

feat: Complete Phase 2.2 Chat-Based Business Intelligence Implementation
  .claudedirector/lib/reporting/conversational_business_intelligence.py
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: Eliminate Documentation Bloat - 92% Reduction (2304→182 lines)
  README.md
  docs/development/specs/003-weekly-report-agent-phase2/README.md
  docs/development/specs/003-weekly-report-agent-phase2/architecture-design.md
  docs/development/specs/003-weekly-report-agent-phase2/bloat-prevention-validation.md
  docs/development/specs/003-weekly-report-agent-phase2/cycle-time-explanation.md
  docs/development/specs/003-weekly-report-agent-phase2/implementation-summary.md
  docs/development/specs/003-weekly-report-agent-phase2/mcp-integration-design.md
  docs/development/specs/003-weekly-report-agent-phase2/phase-2-1-completed.md
  docs/development/specs/003-weekly-report-agent-phase2/phase-2-2-business-intelligence.md
  docs/development/specs/003-weekly-report-agent-phase2/plan.md
  docs/development/specs/003-weekly-report-agent-phase2/spec.md
  docs/development/specs/003-weekly-report-agent-phase2/specification.md
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: readme-content-protection, documentation-size-policy

feat: Weekly Report Agent Phase 2 Stage 2.1 - Enhanced Data Collection & Monte Carlo Forecasting (#151)
  .claudedirector/config/ai_cleanup_config.yaml
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/lib/reporting/conversational_business_intelligence.py
  .claudedirector/lib/reporting/weekly_reporter.py
  .claudedirector/lib/reporting/weekly_reporter_chat_integration.py
  .claudedirector/lib/reporting/weekly_reporter_mcp_bridge.py
  .claudedirector/tests/automation/test_weekly_report.py
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tests/phase2_2_integration_test.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tests/unit/reporting/__init__.py
  .claudedirector/tests/unit/reporting/test_weekly_reporter_mcp_integration.py
  .claudedirector/tools/automation/MIGRATION_SUMMARY.md
  .claudedirector/tools/automation/README_PYTHON_MIGRATION.md
  .claudedirector/tools/automation/requirements.txt
  .claudedirector/tools/automation/run_weekly_report.sh
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  docs/development/specs/003-weekly-report-agent-phase2/README.md
  docs/development/specs/003-weekly-report-agent-phase2/specification.md
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Weekly Report Agent Phase 2 Stage 2.1 - Enhanced Data Collection & Monte Carlo Forecasting (#151)
  .claudedirector/config/ai_cleanup_config.yaml
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/lib/reporting/conversational_business_intelligence.py
  .claudedirector/lib/reporting/weekly_reporter.py
  .claudedirector/lib/reporting/weekly_reporter_chat_integration.py
  .claudedirector/lib/reporting/weekly_reporter_mcp_bridge.py
  .claudedirector/tests/automation/test_weekly_report.py
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tests/phase2_2_integration_test.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tests/unit/reporting/__init__.py
  .claudedirector/tests/unit/reporting/test_weekly_reporter_mcp_integration.py
  .claudedirector/tools/automation/MIGRATION_SUMMARY.md
  .claudedirector/tools/automation/README_PYTHON_MIGRATION.md
  .claudedirector/tools/automation/requirements.txt
  .claudedirector/tools/automation/run_weekly_report.sh
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  docs/development/specs/003-weekly-report-agent-phase2/README.md
  docs/development/specs/003-weekly-report-agent-phase2/specification.md
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
  docs/development/weekly-retrospective-system/architectural-compliance.md
  docs/development/weekly-retrospective-system/constitution.md
  docs/development/weekly-retrospective-system/implementation-plan.md
  docs/development/weekly-retrospective-system/specification.md
  docs/development/weekly-retrospective-system/tasks-phase1.md
  docs/development/weekly-retrospective-system/tasks-phase2.md
  docs/development/weekly-retrospective-system/tasks-phase3.md
  docs/development/weekly-retrospective-system/tasks-phase4.md
  docs/development/weekly-retrospective-system/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Weekly Retrospective System - Complete Infrastructure Extensions
  .claudedirector/config/schemas/retrospective_schema.sql
  .claudedirector/lib/config/user_config.py
  .claudedirector/lib/context_engineering/analytics_engine.py
  .claudedirector/lib/core/database.py
  .claudedirector/lib/core/validation.py
  .claudedirector/lib/mcp/mcp_integration_manager.py
  .claudedirector/lib/reporting/weekly_reporter_chat_integration.py
  docs/development/weekly-retrospective-system/tasks-phase1.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

refactor: Weekly Retrospective System - Final Documentation Refinements
  docs/development/weekly-retrospective-system/README.md
  docs/development/weekly-retrospective-system/architectural-compliance.md
  docs/development/weekly-retrospective-system/constitution.md
  docs/development/weekly-retrospective-system/implementation-plan.md
  docs/development/weekly-retrospective-system/specification.md
  docs/development/weekly-retrospective-system/tasks-future-phases.md
  docs/development/weekly-retrospective-system/tasks-phase1.md
  docs/development/weekly-retrospective-system/tasks-phase2.md
  docs/development/weekly-retrospective-system/tasks-phase3.md
  docs/development/weekly-retrospective-system/tasks-phase4.md
  docs/development/weekly-retrospective-system/tasks.md
Due: documentation-size-policy

docs: Update Weekly Retrospective System spec - DRY compliance analysis
  docs/development/weekly-retrospective-system/README.md
  docs/development/weekly-retrospective-system/tasks-phase1.md
Due: documentation-size-policy

style: Code formatting improvements - Black auto-formatting
  .claudedirector/lib/reporting/retrospective_enabled_chat_reporter.py
  .claudedirector/tests/integration/test_retrospective_dry_compliance.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

feat: Weekly Retrospective System - Final implementation updates
  .claudedirector/lib/reporting/retrospective_enabled_chat_reporter.py
  .claudedirector/lib/reporting/weekly_reporter_chat_integration.py
  docs/development/weekly-retrospective-system/README.md
  docs/development/weekly-retrospective-system/tasks-phase1.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

refactor: BLOAT_PREVENTION compliance - Extract components & remove JIRA dependencies
  .claudedirector/lib/config/jira_config.py
  .claudedirector/lib/core/models.py
  .claudedirector/lib/integration/jira_client.py
  .claudedirector/lib/reporting/conversational_business_intelligence.py
  .claudedirector/lib/reporting/retrospective_enabled_chat_reporter.py
  .claudedirector/lib/reporting/weekly_reporter.py
  README.md
  docs/development/weekly-retrospective-system/README.md
  docs/development/weekly-retrospective-system/tasks-phase1.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: README protection script - fix invalid --staged flag and add README.md recognition
  .claudedirector/tools/ci/readme_content_protection.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

refactor: Final cleanup - Remove duplicate BI code and format improvements
  .claudedirector/lib/reporting/conversational_business_intelligence.py
  .claudedirector/lib/reporting/weekly_reporter_chat_integration.py
  docs/development/specs/003-weekly-report-agent-phase2/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

Path conditions:
  readme-content-protection: any of: ^README\.md$
  code-bloat-prevention: any of: \.py$
  code-bloat-prevention-secondary: any of: \.py$
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
