Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

docs: Update Phase 9.4 specification with completion status
  docs/phases/009-architecture-evolution/phase9.4-architectural-cleanup-spec.md
Due: documentation-size-policy

fix: Resolve CI failures with Sequential Thinking methodology
  .claudedirector/docs/SEQUENTIAL_THINKING_ENFORCEMENT.md
  .claudedirector/lib/core/analysis/bloat_analyzer.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

fix: Clean up formatting in P0EnforcementSuite validate_file_content method
  .claudedirector/docs/development/guides/CONTEXT7_MCP_UTILIZATION.md
  .claudedirector/lib/core/validation/p0_enforcer.py
  .claudedirector/tests/automation/test_weekly_report.py
Due: documentation-size-policy, architecture-compliance-policy

feat: Complete Phase 9.3/9.4 cleanup and Phase 9.5 planning
  .claudedirector/docs/SEQUENTIAL_THINKING_ENFORCEMENT.md
  docs/phases/009-architecture-evolution/phase9.3-ai-enhancement-plan.md
  docs/phases/009-architecture-evolution/phase9.5-implementation-plan.md
  docs/phases/009-architecture-evolution/phase9.5-strategic-intelligence-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.5-task-tracker.md
  docs/phases/009-architecture-evolution/plan.md
  docs/phases/009-architecture-evolution/spec.md
  docs/phases/009-architecture-evolution/tasks.md
  docs/phases/009-architecture-evolution/user-stories.md
Due: documentation-size-policy

fix: Update enhanced security scanner path in pre-commit config
  .pre-commit-config.yaml
Due: none

fix: Remove trailing whitespace from Phase 9.5 documentation
  docs/phases/009-architecture-evolution/phase9.5-implementation-plan.md
  docs/phases/009-architecture-evolution/phase9.5-strategic-intelligence-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.5-task-tracker.md
Due: documentation-size-policy

🏗️ Phase 9.4: Architectural Cleanup - Business Logic Migration (tools/ → lib/) (#130)
  .claudedirector/.claudedirector/lib/setup/__init__.py
  .claudedirector/docs/SEQUENTIAL_THINKING_ENFORCEMENT.md
  .claudedirector/docs/development/guides/CONTEXT7_MCP_UTILIZATION.md
  .claudedirector/lib/automation/__init__.py
  .claudedirector/lib/automation/stakeholder/__init__.py
  .claudedirector/lib/automation/stakeholder/manager.py
  .claudedirector/lib/automation/task_manager.py
  .claudedirector/lib/core/analysis/__init__.py
  .claudedirector/lib/core/analysis/bloat_analyzer.py
  .claudedirector/lib/core/validation/__init__.py
  .claudedirector/lib/core/validation/p0_enforcer.py
  .claudedirector/lib/reporting/__init__.py
  .claudedirector/lib/reporting/weekly_reporter.py
  .claudedirector/lib/security/__init__.py
  .claudedirector/lib/security/scanners/__init__.py
  .claudedirector/lib/security/scanners/enhanced_security_scanner.py
  .claudedirector/lib/security/scanners/security_validation_system.py
  .claudedirector/lib/setup/__init__.py
  .claudedirector/lib/setup/git_automation.py
  .claudedirector/lib/setup/meeting_intelligence.py
  .claudedirector/tests/automation/test_weekly_report.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/p0_enforcement_suite.py
  .claudedirector/tools/automation/stakeholder_ai_manager.py
  .claudedirector/tools/automation/stakeholder_manager.py
  .claudedirector/tools/setup/setup_meeting_intelligence.py
  .claudedirector/tools/setup/setup_smart_git.py
  .pre-commit-config.yaml
  docs/phases/009-architecture-evolution/phase9.3-ai-enhancement-plan.md
  docs/phases/009-architecture-evolution/phase9.4-architectural-cleanup-spec.md
  docs/phases/009-architecture-evolution/phase9.5-implementation-plan.md
  docs/phases/009-architecture-evolution/phase9.5-strategic-intelligence-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.5-task-tracker.md
  docs/phases/009-architecture-evolution/plan.md
  docs/phases/009-architecture-evolution/spec.md
  docs/phases/009-architecture-evolution/tasks.md
  docs/phases/009-architecture-evolution/user-stories.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

draft: Initialize Phase 9.5 Strategic Intelligence Consolidation
  PHASE_9.5_DRAFT_NOTES.md
Due: documentation-size-policy

feat: Phase 9.5 - Unified Prevention Engine Implementation
  .claudedirector/lib/core/validation/unified_prevention_engine.py
  .claudedirector/tools/hooks/unified_validation_hook.py
  .claudedirector/tools/validate.py
  PHASE_9.5_DRAFT_NOTES.md
  docs/phases/009-architecture-evolution/phase9.3-ai-enhancement-plan.md
  docs/phases/009-architecture-evolution/phase9.4-architectural-cleanup-spec.md
Due: documentation-size-policy, architecture-compliance-policy

docs: Phase 9.5 comprehensive consolidation analysis
  docs/phases/009-architecture-evolution/phase9.5-consolidation-analysis.md
Due: documentation-size-policy

fix: Black formatting compliance for unified prevention engine
  .claudedirector/lib/core/validation/unified_prevention_engine.py
  .claudedirector/tools/hooks/unified_validation_hook.py
  .claudedirector/tools/validate.py
Due: architecture-compliance-policy

fix: Repair intelligent backup cleanup system
  .claudedirector/tools/cleanup/intelligent_backup_cleanup.py
Due: none

fix: Black formatting compliance for backup cleanup script
  .claudedirector/tools/cleanup/intelligent_backup_cleanup.py
Due: none

fix: Trailing whitespace in Phase 9.5 analysis document
  docs/phases/009-architecture-evolution/phase9.5-consolidation-analysis.md
Due: documentation-size-policy

feat: Complete Phase 9.5 consolidation - Delete redundant systems
  .claudedirector/lib/core/analysis/bloat_analyzer.py
  .claudedirector/lib/core/validation/p0_enforcer.py
  .claudedirector/lib/core/validation/unified_prevention_engine.py
  .claudedirector/lib/security/scanners/enhanced_security_scanner.py
  .claudedirector/lib/security/scanners/security_validation_system.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/p0_enforcement_suite.py
  .claudedirector/tools/architecture/solid_validator.py
  .pre-commit-config.yaml
Due: architecture-compliance-policy, p0-test-protection-policy

fix: Black formatting compliance for unified prevention engine
  .claudedirector/lib/core/validation/unified_prevention_engine.py
Due: architecture-compliance-policy

fix: Update pre-commit hooks to use unified validation system
  .pre-commit-config.yaml
Due: none

fix: Correct argument order in pre-commit hooks
  .pre-commit-config.yaml
Due: none

🏗️ Phase 9.5: Strategic Intelligence Consolidation - DRAFT (#131)
  .claudedirector/lib/core/analysis/bloat_analyzer.py
  .claudedirector/lib/core/validation/p0_enforcer.py
  .claudedirector/lib/core/validation/unified_prevention_engine.py
  .claudedirector/lib/security/scanners/enhanced_security_scanner.py
  .claudedirector/lib/security/scanners/security_validation_system.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/p0_enforcement_suite.py
  .claudedirector/tools/architecture/solid_validator.py
  .claudedirector/tools/cleanup/intelligent_backup_cleanup.py
  .claudedirector/tools/hooks/unified_validation_hook.py
  .claudedirector/tools/validate.py
  .pre-commit-config.yaml
  docs/phases/009-architecture-evolution/phase9.3-ai-enhancement-plan.md
  docs/phases/009-architecture-evolution/phase9.4-architectural-cleanup-spec.md
  docs/phases/009-architecture-evolution/phase9.5-consolidation-analysis.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: Create spec-driven development artifacts for Story 9.5.1
  docs/phases/009-architecture-evolution/story-9.5.1-context-intelligence-spec.md
  docs/phases/009-architecture-evolution/story-9.5.1-implementation-plan.md
  docs/phases/009-architecture-evolution/story-9.5.1-task-tracker.md
Due: documentation-size-policy

feat: Complete Story 9.5.1 + Documentation Cleanup
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/context_intelligence_bridge.py
  .claudedirector/lib/strategic_intelligence/external_tool_coordinator.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/spec_kit_integrator.py
  .claudedirector/lib/strategic_intelligence/strategic_spec_enhancer.py
  README.md
  docs/phases/009-architecture-evolution/phase9.5-bloat-system-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.5-task-tracker.md
  docs/phases/009-architecture-evolution/story-9.5.1-context-intelligence-spec.md
  docs/phases/009-architecture-evolution/story-9.5.1-implementation-plan.md
  docs/phases/009-architecture-evolution/story-9.5.1-task-tracker.md
Due: documentation-size-policy, architecture-compliance-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: documentation-size-policy

🏗️ Phase 9.5.2: Context Intelligence Migration (#132)
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/context_intelligence_bridge.py
  .claudedirector/lib/strategic_intelligence/external_tool_coordinator.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/spec_kit_integrator.py
  .claudedirector/lib/strategic_intelligence/strategic_spec_enhancer.py
  docs/phases/009-architecture-evolution/phase9.5-bloat-system-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.5-task-tracker.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Complete Story 9.5.2 Strategic Enhancement Migration + Spec Cleanup
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/external_tool_coordinator.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/strategic_spec_enhancer.py
  README.md
  docs/phases/009-architecture-evolution/story-9.5.2-implementation-plan.md
  docs/phases/009-architecture-evolution/story-9.5.2-strategic-enhancement-spec.md
  docs/phases/009-architecture-evolution/story-9.5.2-task-tracker.md
Due: documentation-size-policy, architecture-compliance-policy

cleanup: Remove temporary spec-driven development artifacts
  docs/phases/009-architecture-evolution/story-9.5.2-implementation-plan.md
  docs/phases/009-architecture-evolution/story-9.5.2-strategic-enhancement-spec.md
  docs/phases/009-architecture-evolution/story-9.5.2-task-tracker.md
Due: documentation-size-policy

🏗️ Phase 9.5.2: Strategic Enhancement Migration (#133)
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/external_tool_coordinator.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/strategic_spec_enhancer.py
Due: architecture-compliance-policy

feat: Complete Story 9.5.3 Phase 3 - Core Module Consolidation with BaseManager
  .claudedirector/lib/core/database_migration.py
  .claudedirector/lib/core/enhanced_framework_manager.py
  .claudedirector/lib/core/strategy_pattern_manager.py
  .claudedirector/lib/core/unified_file_manager.py
  .claudedirector/lib/core/visual_template_manager.py
  docs/phases/009-architecture-evolution/story-9.5.3-core-module-consolidation-spec.md
  docs/phases/009-architecture-evolution/story-9.5.3-implementation-plan.md
  docs/phases/009-architecture-evolution/story-9.5.3-task-tracker.md
Due: documentation-size-policy, architecture-compliance-policy

fix: PROPER Core Module Consolidation - Delete Original Files
  .claudedirector/lib/core/file_lifecycle_manager.py
  .claudedirector/lib/core/file_organizer_processor.py
  .claudedirector/lib/core/smart_file_organizer.py
  .claudedirector/tests/integration/test_smart_file_organizer.py
Due: architecture-compliance-policy

docs: Consolidate Documentation Bloat - Remove 1,024 Lines
  docs/phases/009-architecture-evolution/story-9.5.3-core-module-consolidation-spec.md
  docs/phases/009-architecture-evolution/story-9.5.3-implementation-plan.md
  docs/phases/009-architecture-evolution/story-9.5.3-task-tracker.md
Due: documentation-size-policy

feat: Story 9.5.4 Architectural Compliance + Correct False Claims
  .claudedirector/lib/core/file_lifecycle_manager.py
  .claudedirector/lib/core/file_manager_orchestrator.py
  .claudedirector/lib/core/file_metadata_manager.py
  .claudedirector/lib/core/file_organization_manager.py
  .claudedirector/lib/core/file_processing_manager.py
  .claudedirector/lib/core/unified_file_manager.py
  README.md
  docs/phases/009-architecture-evolution/story-9.5.3-task-tracker.md
  docs/phases/009-architecture-evolution/story-9.5.4-architectural-compliance-spec.md
  docs/phases/009-architecture-evolution/story-9.5.4-task-tracker.md
  docs/phases/009-architecture-evolution/story-9.5.4-violation-inventory.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 9.5 Strategic Intelligence Consolidation Complete - Eliminated 1,398 lines of redundant functionality while maintaining 39/39 P0 tests passing
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/external_tool_coordinator.py
  .claudedirector/lib/strategic_intelligence/ml_workflow.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/spec_kit_integrator.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_spec_workflow_p0.py
  README.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Complete Phase 9.5 Strategic Intelligence Consolidation documentation
  README.md
  docs/phases/009-architecture-evolution/phase9.5-implementation-plan.md
  docs/phases/009-architecture-evolution/phase9.5-strategic-intelligence-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.5-strategic-intelligence-consolidation-task-tracker.md
Due: documentation-size-policy

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
