Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

readme-content-protection:
  name: üõ°Ô∏è README CONTENT PROTECTION (Content-Aware)
  entry: python3 .claudedirector/tools/ci/readme_content_protection.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

code-bloat-prevention:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - STRICT ENFORCEMENT
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

code-bloat-prevention-secondary:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - SECONDARY CHECK
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

fix: Removed addtional business logic pertaining to more team or organization issues which was not part of this effort
  .claudedirector/lib/reporting/retrospective_enabled_chat_reporter.py
  .claudedirector/lib/reporting/weekly_reporter_chat_integration.py
  .claudedirector/tests/integration/test_retrospective_dry_compliance.py
  .claudedirector/tests/integration/test_retrospective_simple.py
  README.md
  docs/development/weekly-retrospective-system/README.md
  docs/development/weekly-retrospective-system/tasks-phase1.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: readme-content-protection, documentation-size-policy

refactor: Final DRY compliance cleanup - Remove duplicate infrastructure files
  .claudedirector/lib/config/jira_config.py
  .claudedirector/lib/core/models.py
  .claudedirector/lib/integration/jira_client.py
  .claudedirector/lib/reporting/retrospective_enabled_chat_reporter.py
  .claudedirector/lib/reporting/weekly_reporter.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

docs: Final specification consolidation - GitHub spec-kit compliant
  .claudedirector/lib/reporting/conversational_business_intelligence.py
  docs/development/specs/004-personal-weekly-retrospective/plan.md
  docs/development/specs/004-personal-weekly-retrospective/spec.md
  docs/development/weekly-retrospective-system/MOVED.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Personal Retrospective Agent - Clean Implementation
  .claudedirector/config/weekly_report_config.yaml.template
  .claudedirector/lib/agents/personal_retrospective_agent.py
  .claudedirector/tests/unit/agents/test_personal_retrospective_agent.py
  README.md
  docs/development/specs/personal-retrospective-clean/spec.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: Restructure spec to follow GitHub spec-kit pattern
  README.md
  docs/development/specs/003-personal-retrospective-clean/README.md
  docs/development/specs/003-personal-retrospective-clean/plan.md
  docs/development/specs/003-personal-retrospective-clean/spec.md
Due: readme-content-protection, documentation-size-policy

docs: Add GitHub spec-kit compliant tasks.md
  README.md
  docs/development/specs/003-personal-retrospective-clean/tasks.md
Due: readme-content-protection, documentation-size-policy

feat: Complete Phase 2 + Bulletproof README Protection
  .claudedirector/config/ai_cleanup_config.yaml
  .claudedirector/lib/agents/personal_retrospective_agent.py
  .claudedirector/tests/unit/agents/test_personal_retrospective_agent.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: Update tasks.md with Phase 2 completion status
  README.md
  docs/development/specs/003-personal-retrospective-clean/tasks.md
Due: readme-content-protection, documentation-size-policy

docs: Add personal retrospective testing guide and user documentation
  .gitignore
  TESTING_PERSONAL_RETROSPECTIVE.md
  docs/GETTING_STARTED.md
Due: documentation-size-policy

fix: PERMANENT README deletion prevention - eliminate root cause
  .claudedirector/tools/ci/readme_content_protection.py
  .pre-commit-config.yaml
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix: Fixed formatting issues
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/integration/test_personal_retrospective_chat_integration.py
  .claudedirector/tests/regression/p0_blocking/test_cursorrules_validation_p0.py
  .cursorrules
  docs/architecture/CROSS_PLATFORM_COMPATIBILITY_ANALYSIS.md
  docs/architecture/CURSORRULES_REFACTORING_PLAN.md
  docs/architecture/CURSORRULES_VALIDATION_STRATEGY.md
  docs/development/specs/004-cursorrules-validation-phase1/README.md
  docs/development/specs/004-cursorrules-validation-phase1/plan.md
  docs/development/specs/004-cursorrules-validation-phase1/spec.md
  docs/development/specs/004-cursorrules-validation-phase1/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Clean up temporary architecture documents from PR #153
  docs/architecture/CROSS_PLATFORM_COMPATIBILITY_ANALYSIS.md
  docs/architecture/CURSORRULES_REFACTORING_PLAN.md
  docs/architecture/CURSORRULES_VALIDATION_STRATEGY.md
  docs/development/specs/004-cursorrules-validation-phase1/README.md
Due: documentation-size-policy

feat: Complete Phase 1 cursorrules-validation + architecture cleanup + P0 test fix
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/persona/test_persona_personalities.py
  .pre-commit-config.yaml
  docs/architecture/COMPONENTS.md
  docs/architecture/PATTERNS.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/reference/API_REFERENCE.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

docs: Update Phase 1 cursorrules-validation tasks.md to reflect completion
  docs/development/specs/004-cursorrules-validation-phase1/tasks.md
Due: documentation-size-policy

feat: Personal Retrospective Agent - Clean Implementation (Following PR #150 Patterns) (#153)
  .claudedirector/config/ai_cleanup_config.yaml
  .claudedirector/config/weekly_report_config.yaml.template
  .claudedirector/lib/agents/personal_retrospective_agent.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/integration/test_personal_retrospective_chat_integration.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/persona/test_persona_personalities.py
  .claudedirector/tests/regression/p0_blocking/test_cursorrules_validation_p0.py
  .claudedirector/tests/unit/agents/test_personal_retrospective_agent.py
  .claudedirector/tools/ci/readme_content_protection.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  .cursorrules
  .gitignore
  .pre-commit-config.yaml
  TESTING_PERSONAL_RETROSPECTIVE.md
  docs/GETTING_STARTED.md
  docs/architecture/COMPONENTS.md
  docs/architecture/CURSORRULES_VALIDATION_STRATEGY.md
  docs/architecture/PATTERNS.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/specs/003-personal-retrospective-clean/README.md
  docs/development/specs/003-personal-retrospective-clean/plan.md
  docs/development/specs/003-personal-retrospective-clean/spec.md
  docs/development/specs/003-personal-retrospective-clean/tasks.md
  docs/development/specs/004-cursorrules-validation-phase1/README.md
  docs/development/specs/004-cursorrules-validation-phase1/plan.md
  docs/development/specs/004-cursorrules-validation-phase1/spec.md
  docs/development/specs/004-cursorrules-validation-phase1/tasks.md
  docs/reference/API_REFERENCE.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: Personal Retrospective Agent - Clean Implementation (Following PR #150 Patterns) (#153) (#154)
  .claudedirector/config/ai_cleanup_config.yaml
  .claudedirector/config/weekly_report_config.yaml.template
  .claudedirector/lib/agents/personal_retrospective_agent.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/integration/test_personal_retrospective_chat_integration.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/persona/test_persona_personalities.py
  .claudedirector/tests/regression/p0_blocking/test_cursorrules_validation_p0.py
  .claudedirector/tests/unit/agents/test_personal_retrospective_agent.py
  .claudedirector/tools/ci/readme_content_protection.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  .cursorrules
  .gitignore
  .pre-commit-config.yaml
  TESTING_PERSONAL_RETROSPECTIVE.md
  docs/GETTING_STARTED.md
  docs/architecture/COMPONENTS.md
  docs/architecture/CURSORRULES_VALIDATION_STRATEGY.md
  docs/architecture/PATTERNS.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/specs/003-personal-retrospective-clean/README.md
  docs/development/specs/003-personal-retrospective-clean/plan.md
  docs/development/specs/003-personal-retrospective-clean/spec.md
  docs/development/specs/003-personal-retrospective-clean/tasks.md
  docs/development/specs/004-cursorrules-validation-phase1/README.md
  docs/development/specs/004-cursorrules-validation-phase1/plan.md
  docs/development/specs/004-cursorrules-validation-phase1/spec.md
  docs/development/specs/004-cursorrules-validation-phase1/tasks.md
  docs/reference/API_REFERENCE.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Development docs
  docs/development/specs/005-personal-daily-planner/README.md
  docs/development/specs/005-personal-daily-planner/plan.md
  docs/development/specs/005-personal-daily-planner/spec.md
  docs/development/specs/005-personal-daily-planner/tasks.md
Due: documentation-size-policy

fix: Updated README documentation validation logic
  .pre-commit-config.yaml
Due: none

fix: Restore README.md - bypassing all hooks to resolve deletion cycle
  .claudedirector/tools/ci/readme_content_protection.py
  .pre-commit-config.yaml
  docs/development/specs/005-personal-daily-planner/README.md
  docs/development/specs/005-personal-daily-planner/plan.md
  docs/development/specs/005-personal-daily-planner/spec.md
  docs/development/specs/005-personal-daily-planner/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix: Updated specs to be more architecturally aligned
  docs/development/specs/005-personal-daily-planner/plan.md
  docs/development/specs/005-personal-daily-planner/spec.md
  docs/development/specs/005-personal-daily-planner/tasks.md
Due: documentation-size-policy

Fix Black readme-content-protection fix
  .claudedirector/tools/ci/readme_content_protection.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

feat: Personal Daily Planner - Complete Specification & Implementation
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/unit/automation/test_daily_planning_manager.py
  docs/development/specs/005-personal-daily-planner/implementation-status.md
  docs/development/specs/005-personal-daily-planner/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Personal Daily Planner - Complete Task Completion Implementation
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/unit/automation/test_daily_planning_manager.py
  docs/development/specs/005-personal-daily-planner/spec.md
  docs/development/specs/005-personal-daily-planner/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Martin - Eliminate All Hard-Coded Values in Personal Daily Planner
  .claudedirector/lib/automation/daily_planning_config.py
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/unit/automation/test_daily_planning_manager.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

feat: Personal Daily Planning Agent - Strategic L0/L1 Integration Specification (#156)
  .claudedirector/lib/automation/daily_planning_config.py
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/unit/automation/test_daily_planning_manager.py
  .claudedirector/tools/ci/readme_content_protection.py
  docs/development/specs/005-personal-daily-planner/README.md
  docs/development/specs/005-personal-daily-planner/implementation-status.md
  docs/development/specs/005-personal-daily-planner/plan.md
  docs/development/specs/005-personal-daily-planner/spec.md
  docs/development/specs/005-personal-daily-planner/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

docs: Update documentation alignment with new daily planning features
  README.md
  docs/GETTING_STARTED.md
  docs/USER_CONFIGURATION_GUIDE.md
  docs/WORKSPACE_GUIDE.md
Due: readme-content-protection, documentation-size-policy

docs: Update documentation alignment with new daily planning features (#157)
  README.md
  docs/GETTING_STARTED.md
  docs/USER_CONFIGURATION_GUIDE.md
  docs/WORKSPACE_GUIDE.md
Due: readme-content-protection, documentation-size-policy

feat: implement /daily-plan slash commands following /retrospective pattern
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  README.md
  docs/development/specs/006-daily-planning-command-fixes/plan.md
  docs/development/specs/006-daily-planning-command-fixes/spec.md
  docs/development/specs/006-daily-planning-command-fixes/tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

Path conditions:
  readme-content-protection: any of: ^README\.md$
  code-bloat-prevention: any of: \.py$
  code-bloat-prevention-secondary: any of: \.py$
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
