Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, solid-principle-validator, p1-unit-tests, p1-test-coverage

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  solid-principle-validator: any of: ^lib/claudedirector/(p0_features|p1_features)/.*\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$

feat: Integrate workspace context with Advanced Context Engine
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
Due: architecture-compliance-policy

feat: Add P0 tests for workspace integration Phase 2.1
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_workspace_integration.py
Due: none

docs: Update documentation and clean up redundant workspace files
  .claudedirector/docs/api/WORKSPACE_API.md
  .claudedirector/lib/core/persona_file_integration.py
  .claudedirector/lib/core/workspace_file_handler.py
  .claudedirector/tests/integration/test_cli_workspace_detection.py
  .claudedirector/tests/integration/test_phase2_integration.py
  docs/CAPABILITIES.md
  docs/demo/README.md
Due: documentation-size-policy, architecture-compliance-policy

fix: Resolve CI failures from legacy test imports
  .claudedirector/tests/integration/test_cli_workspace_detection.py
  .claudedirector/tests/integration/test_phase2_integration.py
Due: none

feat: Enforce SOLID principles in local and CI validation
  .claudedirector/lib/context_engineering/workspace_integration.py
  .github/workflows/next-phase-ci-cd.yml
  .pre-commit-config.yaml
Due: architecture-compliance-policy

feat: Context Engineering Phase 2 - Advanced Intelligence & Workspace Integration (#75)
  .claudedirector/docs/api/WORKSPACE_API.md
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/lib/context_engineering/workspace_integration.py
  .claudedirector/lib/core/persona_file_integration.py
  .claudedirector/lib/core/workspace_file_handler.py
  .claudedirector/tests/integration/test_cli_workspace_detection.py
  .claudedirector/tests/integration/test_phase2_integration.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_workspace_integration.py
  .github/workflows/next-phase-ci-cd.yml
  .pre-commit-config.yaml
  docs/CAPABILITIES.md
  docs/demo/README.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2_PLAN.md
  requirements.txt
Due: documentation-size-policy, architecture-compliance-policy

fix(formatting): Apply final formatting fixes for Phase 2.2 completion
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/analytics_config.py
  .claudedirector/lib/context_engineering/analytics_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_analytics_engine.py
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2.2_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Context Engineering Phase 2 - Advanced Intelligence & Workspace Integration (#75)
  .claudedirector/lib/context_engineering/analytics_engine.py
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2.2_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Context Engineering Phase 2.2 - Advanced Analytics Engine (#76)
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/analytics_config.py
  .claudedirector/lib/context_engineering/analytics_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_analytics_engine.py
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2.2_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Context Engineering Phase 3 planning document
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3_PLAN.md
Due: documentation-size-policy

docs: Clean up development documentation - remove obsolete files and update current status
  README.md
  docs/development/PHASE2_FRAMEWORK_ENGINE_PLAN.md
  docs/development/SOLID_REFACTORING_TASK.md
  docs/development/guides/CONTEXT_ENGINEERING_DEVELOPMENT.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2.2_PLAN.md
Due: documentation-size-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: documentation-size-policy

docs: Clean up base-level documentation
  docs/CHANGELOG.md
  docs/VERSIONING_STRATEGY.md
  docs/requirements/ADVANCED_AI_INTELLIGENCE_TECHNICAL_DEPENDENCIES.md
  docs/requirements/ADVANCED_AI_INTELLIGENCE_USER_STORIES.md
  docs/requirements/FEATURE_STATUS_MATRIX.md
Due: documentation-size-policy

feat: Context Engineering Phase 3.1 - Organizational Learning Engine foundation
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/lib/context_engineering/organizational_learning_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_organizational_learning_p0.py
  README.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Update Context Engineering requirements and Phase 3 plan for Phase 3.1 completion
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy

fix: Clean up remaining unstaged changes from CLI deprecation
  .claudedirector/deprecated/cli-v2/README.md
  .claudedirector/deprecated/cli-v2/claudedirector-legacy.py
  .claudedirector/docs/api/API_DOCUMENTATION.md
  .claudedirector/docs/api/FRAMEWORK_ENGINE_API.md
  .claudedirector/docs/api/WORKSPACE_API.md
  .claudedirector/tests/regression/p0_blocking/test_setup_feature.py
  bin/claudedirector
  docs/IMPLEMENTATION_INDEX.md
  docs/reference/API_REFERENCE.md
  docs/reference/api/FRAMEWORK_ENGINE_API.md
  docs/reference/api/WORKSPACE_API.md
Due: documentation-size-policy

docs: Update Context Engineering requirements and Phase 3 status
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy

fix: Align GitHub CI SOLID validation with local pre-commit behavior
  .github/workflows/next-phase-ci-cd.yml
Due: none

fix: Eliminate CI/local discrepancies with unified workflow architecture
  .github/workflows/next-phase-ci-cd.yml
  .github/workflows/p0-mandatory-tests.yml
  .github/workflows/test-p1-features.yml
  .github/workflows/unified-ci.yml
Due: none

feat: Context Engineering Phase 3 - Enhanced Learning & Organizational Context (#77)
  .claudedirector/deprecated/cli-v2/README.md
  .claudedirector/deprecated/cli-v2/claudedirector-legacy.py
  .claudedirector/docs/api/API_DOCUMENTATION.md
  .claudedirector/docs/api/FRAMEWORK_ENGINE_API.md
  .claudedirector/docs/api/WORKSPACE_API.md
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/lib/context_engineering/organizational_learning_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_organizational_learning_p0.py
  .claudedirector/tests/regression/p0_blocking/test_setup_feature.py
  .github/workflows/next-phase-ci-cd.yml
  .github/workflows/p0-mandatory-tests.yml
  .github/workflows/test-p1-features.yml
  .github/workflows/unified-ci.yml
  bin/claudedirector
  docs/CHANGELOG.md
  docs/IMPLEMENTATION_INDEX.md
  docs/VERSIONING_STRATEGY.md
  docs/development/PHASE2_FRAMEWORK_ENGINE_PLAN.md
  docs/development/SOLID_REFACTORING_TASK.md
  docs/development/guides/CONTEXT_ENGINEERING_DEVELOPMENT.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE2.2_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3_PLAN.md
  docs/reference/API_REFERENCE.md
  docs/reference/api/FRAMEWORK_ENGINE_API.md
  docs/reference/api/WORKSPACE_API.md
  docs/requirements/ADVANCED_AI_INTELLIGENCE_TECHNICAL_DEPENDENCIES.md
  docs/requirements/ADVANCED_AI_INTELLIGENCE_USER_STORIES.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
  docs/requirements/FEATURE_STATUS_MATRIX.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Update architectural cleanup plan and Phase 3.2 plan
  docs/architecture/LIB_TOOLS_CLEANUP_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2_PLAN.md
Due: documentation-size-policy

feat: Context Engineering Phase 3.2 Team Dynamics Engine - Complete Implementation
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/lib/context_engineering/organizational_learning_engine.py
  .claudedirector/lib/context_engineering/team_dynamics_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_team_dynamics_p0.py
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: Context Engineering Phase 3.2 - Cross-Team Dynamic Understanding (#78)
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/context_orchestrator.py
  .claudedirector/lib/context_engineering/organizational_learning_engine.py
  .claudedirector/lib/context_engineering/team_dynamics_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_team_dynamics_p0.py
  docs/architecture/LIB_TOOLS_CLEANUP_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Create Context Engineering Phase 3.2B development plan
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_PLAN.md
Due: documentation-size-policy

feat: Real-Time Monitoring Implementation - Context Engineering Phase 3.2B Epic 1
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/realtime_monitor.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_realtime_monitoring_p0.py
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: Context Engineering Phase 3.2B - Advanced Intelligence & Real-Time Integration (#79)
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/realtime_monitor.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_realtime_monitoring_p0.py
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Update Context Engineering Requirements and create Epic 2 development plan
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_EPIC2_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy

feat: ML Pattern Detection Engine - Context Engineering Phase 3.2B Epic 2 Foundation
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/ml_pattern_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_ml_pattern_detection_p0.py
Due: architecture-compliance-policy, p0-test-protection-policy

cleanup: Remove empty directories and deprecated legacy code
  .claudedirector/lib/managers/__init__.py
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/monitoring/__init__.py
  .claudedirector/lib/p0_features/integration/legacy_adapter.py
Due: architecture-compliance-policy

docs: Update user-facing documentation for ML Pattern Detection capabilities
  docs/CAPABILITIES.md
  docs/CHANGELOG.md
  docs/GETTING_STARTED.md
Due: documentation-size-policy

docs: Update README.md with ML Pattern Detection and Real-Time Intelligence
  README.md
Due: documentation-size-policy

feat: Context Engineering Phase 3.2B Epic 2 - ML Pattern Detection Foundation (#80)
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/ml_pattern_engine.py
  .claudedirector/lib/managers/__init__.py
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/monitoring/__init__.py
  .claudedirector/lib/p0_features/integration/legacy_adapter.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_ml_pattern_detection_p0.py
  README.md
  docs/CAPABILITIES.md
  docs/CHANGELOG.md
  docs/GETTING_STARTED.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_EPIC2_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Update Context Engineering requirements and create Epic 2 completion plan
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_EPIC2_COMPLETION_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy
