Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

docs: Phase 9 Architecture Evolution planning and specification
  README.md
  docs/phases/009-architecture-evolution/plan.md
  docs/phases/009-architecture-evolution/spec.md
  docs/phases/009-architecture-evolution/tasks.md
Due: documentation-size-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: documentation-size-policy

docs: add Claude/Cursor integration enhancement to Phase 9
  docs/phases/009-architecture-evolution/plan.md
  docs/phases/009-architecture-evolution/spec.md
  docs/phases/009-architecture-evolution/tasks.md
Due: documentation-size-policy

fix: apply pre-commit hook formatting fixes to Phase 9 user stories
  docs/phases/009-architecture-evolution/tasks.md
  docs/phases/009-architecture-evolution/user-stories.md
Due: documentation-size-policy

feat: add architectural compliance references to Phase 9 user stories
  docs/phases/009-architecture-evolution/user-stories.md
Due: documentation-size-policy

feat: Phase 9.1 Context Engineering completion with Sequential Thinking
  .claudedirector/lib/context_engineering/ml_models/ml_pattern_engine.py
  .claudedirector/lib/context_engineering/realtime_monitor.py
Due: architecture-compliance-policy

style: Apply Black formatting to Phase 9.1 Context Engineering files
  .claudedirector/lib/context_engineering/ml_models/ml_pattern_engine.py
  .claudedirector/lib/context_engineering/realtime_monitor.py
Due: architecture-compliance-policy

docs: Update Phase 9 user stories with current progress
  docs/phases/009-architecture-evolution/user-stories.md
Due: documentation-size-policy

feat: Phase 9.2 Strategic Performance Manager implementation
  .claudedirector/lib/performance/strategic_performance_manager.py
  .claudedirector/tests/integration/test_phase92_performance_integration.py
  .claudedirector/tests/regression/p0_blocking/test_phase92_strategic_performance_p0.py
  .claudedirector/validate_phase92.py
Due: architecture-compliance-policy, p0-test-protection-policy

docs: Update Phase 9.2 user stories to show completion status
  docs/phases/009-architecture-evolution/user-stories.md
Due: documentation-size-policy

refactor: Apply Sequential Thinking DRY/SOLID compliance to Phase 9.2
  .claudedirector/lib/core/constants/performance_constants.py
  .claudedirector/lib/performance/strategic_performance_manager.py
  .claudedirector/validate_phase92.py
Due: architecture-compliance-policy

style: Apply black formatting to Phase 9.2 DRY/SOLID refactoring
  .claudedirector/lib/core/constants/performance_constants.py
  .claudedirector/lib/performance/strategic_performance_manager.py
  .claudedirector/tests/integration/test_phase92_performance_integration.py
  .claudedirector/tests/regression/p0_blocking/test_phase92_strategic_performance_p0.py
  .claudedirector/validate_phase92.py
Due: architecture-compliance-policy, p0-test-protection-policy

fix: Resolve critical flake8 violations in Phase 9.2 performance module
  .claudedirector/lib/performance/strategic_performance_manager.py
  .claudedirector/validate_phase92.py
Due: architecture-compliance-policy

🏗️ Phase 9: Architecture Evolution & System Optimization (#128)
  .claudedirector/lib/context_engineering/ml_models/ml_pattern_engine.py
  .claudedirector/lib/context_engineering/realtime_monitor.py
  .claudedirector/lib/core/constants/performance_constants.py
  .claudedirector/lib/performance/strategic_performance_manager.py
  .claudedirector/tests/integration/test_phase92_performance_integration.py
  .claudedirector/tests/regression/p0_blocking/test_phase92_strategic_performance_p0.py
  .claudedirector/validate_phase92.py
  docs/phases/009-architecture-evolution/plan.md
  docs/phases/009-architecture-evolution/spec.md
  docs/phases/009-architecture-evolution/tasks.md
  docs/phases/009-architecture-evolution/user-stories.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🧠 Sequential Thinking Phase 9.3.1: Enhanced Framework Engine with DRY/SOLID Compliance
  .claudedirector/lib/ai_intelligence/enhanced_framework_engine.py
  .claudedirector/lib/ai_intelligence/framework_detection_constants.py
  .claudedirector/lib/ai_intelligence/phase93_sequential_thinking_workflow.py
  .claudedirector/tests/regression/p0_blocking/test_phase93_enhanced_framework_p0.py
  README.md
  docs/phases/009-architecture-evolution/phase9.3-ai-enhancement-plan.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🧹 Fix formatting for Phase 9.3.1 Sequential Thinking implementation
  .claudedirector/lib/ai_intelligence/enhanced_framework_engine.py
  .claudedirector/lib/ai_intelligence/framework_detection_constants.py
  .claudedirector/lib/ai_intelligence/phase93_sequential_thinking_workflow.py
  .claudedirector/tests/regression/p0_blocking/test_phase93_enhanced_framework_p0.py
  README.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🎨 CODE FORMATTING: Black auto-formatting applied
  .claudedirector/lib/ai_intelligence/enhanced_framework_engine.py
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/tests/regression/p0_blocking/test_phase93_enhanced_framework_p0.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  README.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

fix: Remove final reference to deleted phase93_constants.py
  .claudedirector/lib/ai_intelligence/framework_detection_constants.py
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/lib/core/constants/constants.py
  .claudedirector/lib/utils/pattern_utils.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  README.md
Due: documentation-size-policy, architecture-compliance-policy

ELIMINATE: Consolidate Sequential Thinking workflows - BYPASS BLOATED BLOAT SYSTEM
  .claudedirector/lib/ai_intelligence/phase93_sequential_thinking_workflow.py
  .claudedirector/lib/ai_intelligence/phase93_workflow.py
  .claudedirector/lib/core/sequential_workflow_base.py
  .claudedirector/lib/strategic_intelligence/ml_sequential_workflow.py
  .claudedirector/lib/strategic_intelligence/ml_workflow.py
Due: architecture-compliance-policy

ELIMINATE: Remove duplicate framework_detection_constants.py
  .claudedirector/lib/ai_intelligence/framework_detection_constants.py
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/lib/ai_intelligence/phase93_workflow.py
  .claudedirector/lib/core/sequential_workflow_base.py
  .claudedirector/lib/strategic_intelligence/ml_workflow.py
Due: architecture-compliance-policy

ELIMINATE: Consolidate test and utility duplication
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/lib/utils/formatting.py
  .claudedirector/lib/utils/pattern_utils.py
  .claudedirector/tests/regression/p0_blocking/test_phase93_enhanced_framework_p0.py
Due: architecture-compliance-policy, p0-test-protection-policy

ELIMINATE: Remove massive duplicate enhanced_duplication_detector.py
  .claudedirector/tools/architecture/enhanced_duplication_detector.py
Due: none

style: Apply black formatting to elimination changes
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/lib/utils/formatting.py
Due: architecture-compliance-policy

docs: Add Phase 9.4-9.6 specifications for systematic architectural cleanup
  docs/phases/009-architecture-evolution/phase9.4-architectural-cleanup-spec.md
  docs/phases/009-architecture-evolution/phase9.5-bloat-system-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.6-prevention-strengthening-spec.md
Due: documentation-size-policy

fix: Apply formatting fixes to Phase 9.4-9.6 specifications
  docs/phases/009-architecture-evolution/phase9.4-architectural-cleanup-spec.md
  docs/phases/009-architecture-evolution/phase9.5-bloat-system-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.6-prevention-strengthening-spec.md
Due: documentation-size-policy

🤖 Phase 9.3: AI Enhancement - Intelligent Decision Support & Framework Recommendations (#129)
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/lib/ai_intelligence/phase93_workflow.py
  .claudedirector/lib/core/constants/constants.py
  .claudedirector/lib/core/sequential_workflow_base.py
  .claudedirector/lib/strategic_intelligence/ml_sequential_workflow.py
  .claudedirector/lib/strategic_intelligence/ml_workflow.py
  .claudedirector/lib/utils/formatting.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  .claudedirector/tools/architecture/enhanced_duplication_detector.py
  docs/phases/009-architecture-evolution/phase9.3-ai-enhancement-plan.md
  docs/phases/009-architecture-evolution/phase9.4-architectural-cleanup-spec.md
  docs/phases/009-architecture-evolution/phase9.5-bloat-system-consolidation-spec.md
  docs/phases/009-architecture-evolution/phase9.6-prevention-strengthening-spec.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Phase 9.4 Architectural Cleanup - Complete Business Logic Migration
  .claudedirector/.claudedirector/lib/setup/__init__.py
  .claudedirector/lib/automation/__init__.py
  .claudedirector/lib/automation/stakeholder/__init__.py
  .claudedirector/lib/automation/stakeholder/manager.py
  .claudedirector/lib/automation/task_manager.py
  .claudedirector/lib/core/analysis/__init__.py
  .claudedirector/lib/core/analysis/bloat_analyzer.py
  .claudedirector/lib/core/validation/__init__.py
  .claudedirector/lib/core/validation/p0_enforcer.py
  .claudedirector/lib/reporting/__init__.py
  .claudedirector/lib/reporting/weekly_reporter.py
  .claudedirector/lib/security/__init__.py
  .claudedirector/lib/security/scanners/__init__.py
  .claudedirector/lib/security/scanners/enhanced_security_scanner.py
  .claudedirector/lib/security/scanners/security_validation_system.py
  .claudedirector/lib/setup/__init__.py
  .claudedirector/lib/setup/git_automation.py
  .claudedirector/lib/setup/meeting_intelligence.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/automation/stakeholder_cli.py
  .claudedirector/tools/automation/strategic_task_cli.py
  .claudedirector/tools/automation/weekly_report_cli.py
  .claudedirector/tools/ci/p0_enforcement_cli.py
  .claudedirector/tools/security/security_cli.py
  README.md
  docs/phases/009-architecture-evolution/phase9.4-architectural-cleanup-spec.md
Due: documentation-size-policy, architecture-compliance-policy

fix: Complete Phase 9.4 cleanup with P0 test compliance
  .claudedirector/lib/automation/stakeholder/manager.py
  .claudedirector/lib/core/analysis/bloat_analyzer.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  .claudedirector/tools/architecture/p0_enforcement_suite.py
  .claudedirector/tools/automation/stakeholder_ai_manager.py
  .claudedirector/tools/automation/stakeholder_cli.py
  .claudedirector/tools/automation/stakeholder_manager.py
  .claudedirector/tools/automation/strategic_task_cli.py
  .claudedirector/tools/automation/strategic_task_manager.py
  .claudedirector/tools/automation/weekly_report_cli.py
  .claudedirector/tools/automation/weekly_report_generator.py
  .claudedirector/tools/ci/p0_enforcement_cli.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  .claudedirector/tools/quality/security_validation_system.py
  .claudedirector/tools/security/security_cli.py
  .claudedirector/tools/setup/setup_meeting_intelligence.py
  .claudedirector/tools/setup/setup_smart_git.py
  README.md
Due: documentation-size-policy, architecture-compliance-policy

refactor: Phase 9.4.1 - Eliminate CLI interfaces for pure chat-based system
  .claudedirector/tools/architecture/p0_enforcement_suite.py
  .claudedirector/tools/automation/stakeholder_cli.py
  .claudedirector/tools/automation/strategic_task_cli.py
  .claudedirector/tools/automation/weekly_report_cli.py
  .claudedirector/tools/ci/p0_enforcement_cli.py
  .claudedirector/tools/security/security_cli.py
  README.md
Due: documentation-size-policy

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
