Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

🚀 COMPELLING README: Zero setup + strategic value proposition
  README.md
Due: documentation-size-policy

🚀 SUPERIOR README: Use main branch version + fix broken protection hooks
  .pre-commit-config.yaml
  README.md
Due: documentation-size-policy

🏗️ ENHANCED CURSORRULES: Phase 4 challenge system integration (P0 FIXED)
  .cursorrules
Due: none

🏗️ CRITICAL FIX: Restore P0 test integrity and README
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/lib/core/persona_enhancement_engine.py
  .claudedirector/tools/ci/readme_content_protection.py
  .pre-commit-config.yaml
Due: architecture-compliance-policy

🎨 BLACK FORMAT: Fix formatting violations for CI
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/lib/core/persona_enhancement_engine.py
  .claudedirector/tools/ci/readme_content_protection.py
Due: architecture-compliance-policy

🔧 CI FIX: Allow README changes in GitHub Actions
  .github/workflows/unified-ci.yml
Due: none

🎭 Phase 4: Enhanced Persona Challenge System - Strategic Thinking Partners (#125)
  .claudedirector/config/challenge_patterns.yaml
  .claudedirector/enforcement_results/p0_critical_enforcement_20250905_155637.json
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/lib/core/persona_enhancement_engine.py
  .claudedirector/lib/personas/strategic_challenge_framework.py
  .claudedirector/tests/regression/p0_blocking/test_persona_challenge_p0.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  .claudedirector/tools/architecture/p0_enforcement_suite.py
  .claudedirector/tools/bin/capture-current-conversation
  .claudedirector/tools/bin/claudedirector-context
  .claudedirector/tools/bin/configure-user
  .claudedirector/tools/ci/git-commit-smart
  .claudedirector/tools/ci/readme_content_protection.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  .cursorrules
  .github/workflows/unified-ci.yml
  .gitignore
  .pre-commit-config.yaml
  docs/phases/PHASE3_TECHNICAL_STORIES.md
  docs/phases/PHASE4_PROGRESS.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
  docs/phases/PHASE4_TS3_COMPLETION_REPORT.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

📋 PHASE DOCUMENTATION: Clean up and Phase 5 requirements
  docs/phases/PHASE3_IMPLEMENTATION_PLAN.md
  docs/phases/PHASE4_PROGRESS.md
  docs/phases/PHASE4_TS3_COMPLETION_REPORT.md
  docs/phases/PHASE5_REQUIREMENTS.md
Due: documentation-size-policy

🎯 SPEC-DRIVEN PHASE 5: AI-Powered Decision Support Platform
  docs/archive/completed-phases/PHASE3_IMPLEMENTATION_PLAN.md
  docs/archive/completed-phases/PHASE3_TECHNICAL_STORIES.md
  docs/archive/completed-phases/PHASE4_PROGRESS.md
  docs/archive/completed-phases/PHASE4_TECHNICAL_STORIES.md
  docs/phases/SPEC_DRIVEN_DEVELOPMENT_ANALYSIS.md
  docs/research/external-tools/SPEC_KIT_ANALYSIS.md
  specs/005-strategic-ai-intelligence/plan.md
  specs/005-strategic-ai-intelligence/spec.md
Due: documentation-size-policy

🔧 P0 FIX: Update persona test for archived Phase 3-4 documentation
  .claudedirector/tests/persona/test_persona_personalities.py
Due: none

🚀 Complete Phase 5 Strategic Intelligence implementation
  .claudedirector/lib/core/models.py
  .claudedirector/lib/core/validation.py
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/context_intelligence_bridge.py
  .claudedirector/lib/strategic_intelligence/external_tool_coordinator.py
  .claudedirector/lib/strategic_intelligence/spec_kit_integrator.py
  .claudedirector/lib/strategic_intelligence/strategic_spec_enhancer.py
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0_optimized.py
  .claudedirector/tests/regression/p0_blocking/test_phase5_strategic_intelligence_p0.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  .gitignore
  docs/phases/005-strategic-ai-intelligence/plan.md
  docs/phases/005-strategic-ai-intelligence/spec.md
  docs/phases/PHASE3_IMPLEMENTATION_PLAN.md
  docs/phases/PHASE3_TECHNICAL_STORIES.md
  docs/phases/PHASE4_PROGRESS.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
  docs/research/external-tools/SPEC_KIT_ANALYSIS.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🔧 SYSTEMATIC FIX: Complete Phase 5.1 changeset with all missing files
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_spec_workflow_p0.py
  docs/phases/006-ml-powered-decision-support/plan.md
  docs/phases/006-ml-powered-decision-support/spec.md
  docs/phases/006-ml-powered-decision-support/tasks.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🛠️ SYSTEMATIC SOLUTION: Prevent Uncommitted Changes Issue
  .claudedirector/tools/development/install_systematic_commit_hooks.py
  .claudedirector/tools/development/systematic_commit.py
  .claudedirector/tools/development/systematic_commit_checker.py
  README.md
Due: documentation-size-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: documentation-size-policy

🚀 Phase 5.1: Sequential Thinking MCP Integration - BYPASS HOOKS
  .claudedirector/lib/ai_intelligence/__init__.py
  .claudedirector/lib/ai_intelligence/ml_decision_engine.py
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/ml_sequential_workflow.py
  .claudedirector/tests/regression/p0_blocking/test_ml_decision_model_p0.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_ml_workflow_p0.py
  README.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🧹 Cleanup: Remove outdated phase documents from archive
  docs/archive/completed-phases/PHASE3_IMPLEMENTATION_PLAN.md
  docs/archive/completed-phases/PHASE3_TECHNICAL_STORIES.md
  docs/archive/completed-phases/PHASE4_PROGRESS.md
  docs/archive/completed-phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy

🧹 CRITICAL: Eliminate ALL DRY violations in .claudedirector/
  .claudedirector/README.md
  .claudedirector/docs/SEQUENTIAL_THINKING_ENFORCEMENT.md
  .claudedirector/docs/development/guides/CONTEXT7_MCP_UTILIZATION.md
  pyproject.toml
Due: documentation-size-policy

🏗️ Phase 7 COMPLETE: Processor DRY Consolidation (540+ lines eliminated)
  .claudedirector/lib/ai_intelligence/context/intelligence_processor.py
  .claudedirector/lib/integration/unified_integration_processor.py
  .claudedirector/lib/strategic_intelligence/context_intelligence_bridge.py
  .claudedirector/lib/strategic_intelligence/ml_sequential_workflow.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/spec_kit_integrator.py
  .claudedirector/lib/strategic_intelligence/strategic_spec_enhancer.py
  .claudedirector/lib/workflows/workflow_processor.py
  docs/phases/000-comprehensive-dry-consolidation/master-plan.md
  docs/phases/007-processor-dry-consolidation/plan.md
  docs/phases/007-processor-dry-consolidation/spec.md
  docs/phases/007-processor-dry-consolidation/tasks.md
Due: documentation-size-policy, architecture-compliance-policy

🔧 P0 FIX: Resolve import issues in AI Intelligence modules
  .claudedirector/lib/ai_intelligence/context/intelligence_processor.py
  .claudedirector/lib/ai_intelligence/ml_decision_engine.py
  .claudedirector/lib/integration/unified_integration_processor.py
  .claudedirector/lib/strategic_intelligence/context_intelligence_bridge.py
  .claudedirector/lib/strategic_intelligence/ml_sequential_workflow.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/spec_kit_integrator.py
  .claudedirector/lib/strategic_intelligence/strategic_spec_enhancer.py
  .claudedirector/lib/workflows/workflow_processor.py
  docs/phases/000-comprehensive-dry-consolidation/master-plan.md
  docs/phases/007-processor-dry-consolidation/plan.md
  docs/phases/007-processor-dry-consolidation/spec.md
  docs/phases/007-processor-dry-consolidation/tasks.md
Due: documentation-size-policy, architecture-compliance-policy

✅ P0 COMPLETE: All test failures resolved - CI ready for merge
  .claudedirector/docs/SEQUENTIAL_THINKING_ENFORCEMENT.md
  .claudedirector/tests/persona/test_persona_personalities.py
Due: documentation-size-policy

🏗️ Phase 8.1: BaseManager Foundation & Core Infrastructure Consolidation
  .claudedirector/lib/core/base_manager.py
  .claudedirector/lib/core/database.py
  .claudedirector/lib/core/manager_factory.py
  .claudedirector/lib/core/manager_types.py
  .claudedirector/lib/performance/cache_manager.py
  README.md
  docs/phases/008-manager-dry-consolidation/plan.md
  docs/phases/008-manager-dry-consolidation/spec.md
  docs/phases/008-manager-dry-consolidation/tasks.md
Due: documentation-size-policy, architecture-compliance-policy

🚀 Phase 8.2: Performance Manager Consolidation - BaseManager Integration
  .claudedirector/lib/performance/memory_optimizer.py
  .claudedirector/lib/performance/performance_monitor.py
  README.md
  docs/phases/008-manager-dry-consolidation/tasks.md
Due: documentation-size-policy, architecture-compliance-policy

fix: Complete remaining uncommitted changes from Phase 8.3
  .claudedirector/lib/config/user_config.py
  .claudedirector/lib/core/base_manager.py
  .claudedirector/lib/core/base_processor.py
  .claudedirector/lib/security/security_manager.py
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0_optimized.py
  .claudedirector/tests/regression/p0_blocking/test_context7_utilization_p0.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
  .claudedirector/tests/regression/p0_blocking/test_setup_feature.py
  README.md
  docs/phases/008-manager-dry-consolidation/DEEP_ANALYSIS_FINDINGS.md
  docs/phases/008-manager-dry-consolidation/tasks.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: PHASE 8.4 ULTIMATE SUCCESS - 501 Lines NET Reduction + Major P0 Fixes
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/workspace_integration.py
  .claudedirector/lib/context_engineering/workspace_monitor_unified.py
  .claudedirector/lib/core/__init__.py
  .claudedirector/lib/core/enhanced_persona_manager.py
  .claudedirector/lib/core/file_lifecycle_manager.py
  .claudedirector/lib/core/hybrid_installation_manager.py
  .claudedirector/lib/core/integrated_conversation_manager.py
  .claudedirector/lib/core/unified_data_performance_manager.py
  .claudedirector/lib/core/unified_performance_manager.py
  .claudedirector/lib/mcp/chat_context_manager.py
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/performance/__init__.py
  .claudedirector/lib/performance/unified_response_handler.py
  .claudedirector/lib/platform_core/multi_tenant_manager.py
  .claudedirector/tests/conversation/test_quality_improvements.py
  .claudedirector/tests/regression/p0_blocking/test_conversation_quality.py
  .claudedirector/tests/regression/p0_blocking/test_conversation_tracking.py
  .claudedirector/tests/regression/p0_blocking/test_phase8_performance_p0.py
  .claudedirector/tests/regression/test_configuration_integrity.py
  .claudedirector/tools/automation/generate-strategic-story-report.sh
  .claudedirector/tools/automation/generate-weekly-report-claude.sh
  README.md
  docs/phases/008-manager-dry-consolidation/REMAINING_CONSOLIDATION_OPPORTUNITIES.md
  docs/phases/008-manager-dry-consolidation/tasks.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: Phase 8.4 MASSIVE CONSOLIDATION SUCCESS - 4,276 lines consolidated
  .claudedirector/lib/core/enhanced_persona_manager.py
  .claudedirector/lib/core/persona_activation_engine.py
  .claudedirector/lib/core/persona_chat_integration.py
  .claudedirector/lib/core/persona_enhanced_integration.py
  .claudedirector/lib/core/persona_enhancement_engine.py
  .claudedirector/lib/integration/__init__.py
  .claudedirector/lib/integration/unified_integration_processor.py
  .claudedirector/tests/regression/p0_blocking/test_persona_challenge_p0.py
  README.md
  docs/phases/008-manager-dry-consolidation/CONSOLIDATION_ANALYSIS.md
  docs/phases/008-manager-dry-consolidation/REMAINING_CONSOLIDATION_OPPORTUNITIES.md
  docs/phases/008-manager-dry-consolidation/tasks.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat(phase8.4): resolve P0 test failures and add weekly report automation
  .claudedirector/lib/core/enhanced_persona_manager.py
  .claudedirector/lib/core/models.py
  .claudedirector/lib/strategic_intelligence/__init__.py
  .claudedirector/lib/strategic_intelligence/context_intelligence_bridge.py
  .claudedirector/lib/strategic_intelligence/external_tool_coordinator.py
  .claudedirector/lib/strategic_intelligence/sequential_spec_workflow.py
  .claudedirector/lib/strategic_intelligence/spec_kit_integrator.py
  .claudedirector/lib/strategic_intelligence/strategic_spec_enhancer.py
  .claudedirector/tests/regression/p0_blocking/test_persona_challenge_p0.py
  .claudedirector/tools/automation/MIGRATION_SUMMARY.md
  .claudedirector/tools/automation/README_PYTHON_MIGRATION.md
  .claudedirector/tools/automation/generate-strategic-story-report.sh
  .claudedirector/tools/automation/generate-weekly-report-claude.sh
  .claudedirector/tools/automation/requirements.txt
  .claudedirector/tools/automation/run_weekly_report.sh
  .claudedirector/tools/automation/test_weekly_report.py
  .claudedirector/tools/automation/weekly_report_generator.py
  README.md
  docs/phases/008-manager-dry-consolidation/task-implementation.md
  docs/phases/008-manager-dry-consolidation/task-strategy.md
  docs/phases/008-manager-dry-consolidation/tasks-summary.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: systematic documentation cleanup using Sequential Thinking methodology
  README.md
  docs/development/development_workflow.md
  docs/development/guides/TECH_DEBT_CLEANUP_SPRINT.md
  docs/phases/000-comprehensive-dry-consolidation/master-plan.md
  docs/phases/005-strategic-ai-intelligence/plan.md
  docs/phases/005-strategic-ai-intelligence/spec.md
  docs/phases/006-ml-powered-decision-support/plan.md
  docs/phases/006-ml-powered-decision-support/spec.md
  docs/phases/006-ml-powered-decision-support/tasks.md
  docs/phases/007-processor-dry-consolidation/plan.md
  docs/phases/007-processor-dry-consolidation/spec.md
  docs/phases/007-processor-dry-consolidation/tasks.md
  docs/phases/008-manager-dry-consolidation/plan.md
  docs/phases/008-manager-dry-consolidation/spec.md
  docs/phases/008-manager-dry-consolidation/task-implementation.md
  docs/phases/008-manager-dry-consolidation/task-strategy.md
  docs/phases/008-manager-dry-consolidation/tasks-summary.md
  docs/phases/008-manager-dry-consolidation/tasks.md
  docs/phases/PHASE5_REQUIREMENTS.md
  docs/phases/SPEC_DRIVEN_DEVELOPMENT_ANALYSIS.md
  docs/reference/INTEGRATION_COMPLETE.md
  docs/reference/VALIDATION_SUCCESS.md
  docs/setup/ENHANCED_FRAMEWORK_STATUS.md
Due: documentation-size-policy

docs: clean up reference directory - remove outdated API docs with context_engineering references
  docs/reference/API_REFERENCE.md
  docs/reference/README.md
  docs/reference/api/FRAMEWORK_ENGINE_API.md
  docs/reference/api/WORKSPACE_API.md
Due: documentation-size-policy

docs: fix architecture documentation inaccuracies after Phase 8 completion
  docs/architecture/OVERVIEW.md
  docs/architecture/PROJECT_STRUCTURE.md
Due: documentation-size-policy

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
