Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, solid-principle-validator, p1-unit-tests, p1-test-coverage

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  solid-principle-validator: any of: ^lib/claudedirector/(p0_features|p1_features)/.*\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$

cleanup: Remove outdated Context Engineering planning documents
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_EPIC2_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3_PLAN.md
Due: documentation-size-policy

fix: Apply Black formatting to CollaborationScorer implementation
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/ml_pattern_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_collaboration_scorer_p0.py
Due: architecture-compliance-policy, p0-test-protection-policy

feat: Context Engineering Phase 3.2B Epic 2 Completion - CollaborationScorer with Ensemble ML Models (#81)
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/ml_pattern_engine.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_collaboration_scorer_p0.py
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_EPIC2_COMPLETION_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_EPIC2_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2_PLAN.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Fix trailing whitespace and finalize PROJECT_STRUCTURE.md
  docs/CHANGELOG.md
  docs/architecture/OVERVIEW.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/guides/SOLID_REFACTORING_CLEANUP_SPRINT_PLAN.md
Due: documentation-size-policy

fix: Remove orphaned config directory causing import errors
  .claudedirector/lib/core/constants/__init__.py
  .claudedirector/lib/core/constants/constants.py
  .claudedirector/lib/core/constants/framework_definitions.py
  .claudedirector/lib/transparency/framework_detection.py
  docs/USER_CONFIGURATION_GUIDE.md
  docs/development/guides/CONTEXT_ENGINEERING_PHASE3.2B_EPIC2_COMPLETION_PLAN.md
  docs/development/guides/CORE_ARCHITECTURE.md
Due: documentation-size-policy, architecture-compliance-policy

fix: Comprehensive README.md pre-stash protection system
  .claudedirector/tools/git-hooks/readme-pre-stash-protection.sh
  .claudedirector/tools/git-hooks/readme-protection.sh
  .pre-commit-config.yaml
Due: none

refactor: Complete centralized constants implementation with actual hard-coded string elimination
  .claudedirector/lib/core/framework_definitions.py
  .claudedirector/lib/transparency/framework_detection.py
Due: architecture-compliance-policy

refactor: Clean up new setup P0 tests and remove duplicate file
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0.py
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0_optimized.py
Due: p0-test-protection-policy

docs: Update getting started documentation to reflect P0 setup validation
  README.md
  docs/GETTING_STARTED.md
  docs/setup/INSTALLATION.md
  docs/setup/QUICK_START.md
Due: documentation-size-policy

fix: Resolve P0 test protection violations by implementing fallback mode for ML Pattern Detection
  .claudedirector/tests/regression/p0_blocking/test_ml_pattern_detection_p0.py
Due: p0-test-protection-policy

fix: Resolve additional P0 test protection violations in organizational learning and analytics
  .claudedirector/tests/regression/p0_blocking/test_analytics_engine.py
  .claudedirector/tests/regression/p0_blocking/test_organizational_learning_p0.py
Due: p0-test-protection-policy

fix: Resolve P0 test protection violation in CollaborationScorer
  .claudedirector/tests/regression/p0_blocking/test_collaboration_scorer_p0.py
Due: p0-test-protection-policy

style: Black auto-formatting of P0 test files for compliance
  .claudedirector/tests/regression/p0_blocking/test_realtime_monitoring_p0.py
  .claudedirector/tests/regression/p0_blocking/test_team_dynamics_p0.py
  .claudedirector/tests/regression/p0_blocking/test_workspace_integration.py
Due: p0-test-protection-policy

fix: Remove NotImplementedError placeholders for commit compliance
  .claudedirector/config/test_registry.yaml
  .claudedirector/tests/p0_enforcement/README.md
  .claudedirector/tests/p0_enforcement/run_mandatory_p0_tests.py
  .claudedirector/tools/ci/P0_TEST_SYSTEM.md
  .claudedirector/tools/ci/fix_coverage_ci.py
  .claudedirector/tools/git-hooks/updated-pre-push-hook.sh
  .claudedirector/tools/policy/check_p0_tests.py
Due: documentation-size-policy

fix: CRITICAL - Align local and GitHub CI by fixing workflow references
  .claudedirector/tools/ci/p0_test_generator.py
  .claudedirector/tools/ci/validate_p0_coverage.py
  .github/workflows/test-p1-features.yml
Due: none

cleanup: Delete all deprecated GitHub workflows - git history preserves them
  .github/workflows/next-phase-ci-cd.yml
  .github/workflows/p0-mandatory-tests.yml
  .github/workflows/test-p1-features.yml
Due: none

fix: P0 CRITICAL - Environment detection for GitHub CI compatibility
  .claudedirector/tools/testing/mandatory_test_validator.py
Due: none

fix: Temporarily disable SOLID validation to focus on P0 compliance
  .pre-commit-config.yaml
Due: none

docs: Update cleanup plan with P0 prequisites
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0_optimized.py
  PHASE4_CLEANUP_TRACKER.md
  docs/development/guides/SOLID_REFACTORING_CLEANUP_SPRINT_PLAN.md
Due: documentation-size-policy, p0-test-protection-policy

feat: Complete Phase 4.4 Structure Optimization
  PHASE4_CLEANUP_TRACKER.md
  docs/requirements/CONTEXT_ENGINEERING_IMPLEMENTATION_STATUS.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy

Phase 4: Folder Structure Cleanup + P0 Test Fixes (#83)
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0_optimized.py
  PHASE4_CLEANUP_TRACKER.md
  docs/development/guides/SOLID_REFACTORING_CLEANUP_SPRINT_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_IMPLEMENTATION_STATUS.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, p0-test-protection-policy

feat: Initialize Phase 5 - Performance & Architecture Optimization
  PHASE5_PERFORMANCE_ARCHITECTURE_OPTIMIZATION.md
Due: documentation-size-policy

feat: Phase 5.1 Performance Optimization - 75% P0 Test Suite Improvement
  .claudedirector/tests/regression/business_critical/test_performance.py
  PERFORMANCE_P0_OPTIMIZATION_ANALYSIS.md
  PHASE4_CLEANUP_TRACKER.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_PLAN.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_RESULTS.md
Due: documentation-size-policy

feat: Phase 5.1 Performance Architecture Optimization - Complete
  .claudedirector/tests/regression/business_critical/test_performance.py
  PERFORMANCE_P0_OPTIMIZATION_ANALYSIS.md
  PHASE4_CLEANUP_TRACKER.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_PLAN.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_RESULTS.md
  PHASE5_PERFORMANCE_ARCHITECTURE_OPTIMIZATION.md
Due: documentation-size-policy

feat: Phase 5.2 Structure Cleanup Plan
  PERFORMANCE_P0_OPTIMIZATION_ANALYSIS.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_PLAN.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_RESULTS.md
  PHASE5_2_STRUCTURE_CLEANUP_PLAN.md
Due: documentation-size-policy

temp: testing hooks
  .claudedirector/tests/regression/p0_blocking/test_setup_feature.py
  .claudedirector/tools/bin/claudedirector
  .claudedirector/tools/quality/file_size_guard.py
  PHASE5_PERFORMANCE_ARCHITECTURE_OPTIMIZATION.md
Due: documentation-size-policy

fix: Phase 5.2 Critical Issues Resolution - SOLID validation re-enabled, README fixed, AI cleanup resolved
  .claudedirector/lib/transparency/config.py
  .claudedirector/lib/transparency/example_integration.py
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/lib/transparency/simple_validation.py
  .claudedirector/tools/architecture/solid_validator.py
  .pre-commit-config.yaml
  PHASE5_PERFORMANCE_ARCHITECTURE_OPTIMIZATION.md
Due: documentation-size-policy, architecture-compliance-policy

cleanup: Remove temporary Phase 5 planning documents
  PHASE5_2_STRUCTURE_CLEANUP_PLAN.md
  PHASE5_PERFORMANCE_ARCHITECTURE_OPTIMIZATION.md
Due: documentation-size-policy

cleanup: Remove unused example_integration.py demo file
  .claudedirector/lib/transparency/example_integration.py
Due: architecture-compliance-policy

Phase 5: Performance & Architecture Optimization (#84)
  .claudedirector/lib/transparency/config.py
  .claudedirector/lib/transparency/example_integration.py
  .claudedirector/lib/transparency/framework_detection.py
  .claudedirector/lib/transparency/simple_validation.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tests/regression/p0_blocking/test_setup_feature.py
  .claudedirector/tools/architecture/solid_validator.py
  .claudedirector/tools/bin/claudedirector
  .claudedirector/tools/quality/file_size_guard.py
  .pre-commit-config.yaml
  PERFORMANCE_P0_OPTIMIZATION_ANALYSIS.md
  PHASE4_CLEANUP_TRACKER.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_PLAN.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_RESULTS.md
  PHASE5_PERFORMANCE_ARCHITECTURE_OPTIMIZATION.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Complete Phase 5.3 plan initialization
  PHASE5_3_FUNCTIONAL_ORGANIZATION_PLAN.md
Due: documentation-size-policy

feat: Phase 5.3 documentation consolidation and test fixes
  .claudedirector/tests/persona/test_persona_personalities.py
  PERFORMANCE_P0_OPTIMIZATION_ANALYSIS.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_PLAN.md
  PHASE5_1_PERFORMANCE_OPTIMIZATION_RESULTS.md
  PHASE5_3_FUNCTIONAL_ORGANIZATION_PLAN.md
  PHASE5_PERFORMANCE_ARCHITECTURE_OPTIMIZATION.md
  docs/IMPLEMENTATION_INDEX.md
  docs/architecture/LIB_TOOLS_CLEANUP_PLAN.md
  docs/development/guides/SOLID_REFACTORING_CLEANUP_SPRINT_PLAN.md
Due: documentation-size-policy

fix: Separate documentation from executable code
  docs/tools/architecture/EMBEDDED_FRAMEWORK_ENGINE_SOLID_REFACTORING_PLAN.md
  docs/tools/architecture/ROI_TRACKER_REFACTORING_PLAN.md
  docs/tools/architecture/STRUCTURE_CLEANUP_ANALYSIS.md
  docs/tools/automation/development_workflow.md
  docs/tools/ci/NEVER_USE_NO_VERIFY.md
  docs/tools/ci/P0_TEST_SYSTEM.md
  docs/tools/ci/README.md
  docs/tools/ci/test_precommit_fix.md
  docs/tools/quality/PRE_SOLID_QUALITY_ASSESSMENT.md
  docs/tools/quality/QUALITY_REMEDIATION_PLAN.md
  docs/tools/quality/REGRESSION_TEST_ANALYSIS.md
  docs/tools/quality/mypy-progress.md
Due: documentation-size-policy
