Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

Phase 3B Week 1: Pure Code Reduction Success (-275 lines)
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/organizational_layer.py
  .claudedirector/lib/context_engineering/organizational_types.py
  .claudedirector/lib/mcp/chat_visualization_generator.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/visualization_template_router.py
Due: architecture-compliance-policy

Phase 3B Week 1: Fix Black formatting violations
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/organizational_layer.py
  .claudedirector/lib/context_engineering/organizational_types.py
  .claudedirector/lib/mcp/chat_visualization_generator.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/visualization_template_router.py
Due: architecture-compliance-policy

Phase 3B Week 2: Sequential Thinking DRY Consolidation Success (-1,566 lines)
  .claudedirector/lib/ai_intelligence/predictive_analytics_engine.py
  .claudedirector/lib/ai_intelligence/predictive_engine.py
  .claudedirector/lib/ai_intelligence/predictive_processor.py
  .claudedirector/lib/context_engineering/__init__.py
  .claudedirector/lib/context_engineering/advanced_context_engine.py
  .claudedirector/lib/context_engineering/organizational_layer.py
  .claudedirector/lib/context_engineering/organizational_learning_engine.py
  .claudedirector/lib/context_engineering/organizational_processor.py
  .claudedirector/lib/context_engineering/organizational_types.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/visualization_dashboard_factory.py
  .claudedirector/lib/p0_features/shared/ai_pipeline/predictive_analytics.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
Due: architecture-compliance-policy

Fix Sequential Thinking Auto-Detection & MCP Transparency
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
Due: architecture-compliance-policy

Enable Sequential Thinking for Data Analysis Requests
  .claudedirector/lib/core/cursor_response_enhancer.py
Due: architecture-compliance-policy

Format Sequential Thinking trigger arrays for readability
  .claudedirector/lib/core/cursor_response_enhancer.py
Due: architecture-compliance-policy

Aggressive Executive Visualization Server Reduction: -268 lines
  .claudedirector/lib/mcp/executive_visualization_server.py
Due: architecture-compliance-policy

Aggressive Predictive Analytics Pipeline Reduction: -131 lines
  .claudedirector/lib/p0_features/shared/ai_pipeline/predictive_analytics.py
Due: architecture-compliance-policy

Aggressive Organizational Layer Reduction: -154 lines
  .claudedirector/lib/context_engineering/organizational_layer.py
Due: architecture-compliance-policy

Aggressive Predictive Analytics Engine Reduction: -77 lines with P0 Fix
  .claudedirector/lib/ai_intelligence/predictive_analytics_engine.py
Due: architecture-compliance-policy

MASSIVE Predictive Engine Reduction: -167 lines
  .claudedirector/lib/ai_intelligence/predictive_engine.py
Due: architecture-compliance-policy

MASSIVE File Deletion: -2,762 lines (deprecated/backup files)
  .claudedirector/deprecated/cli-v2/claudedirector-legacy.py
Due: none

Fix: Black formatting and syntax error in predictive_analytics.py
  .claudedirector/lib/ai_intelligence/predictive_analytics_engine.py
  .claudedirector/lib/ai_intelligence/predictive_engine.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/p0_features/shared/ai_pipeline/predictive_analytics.py
Due: architecture-compliance-policy

MASSIVE Documentation Cleanup: -2,743 lines consolidated
  docs/phases/completed/PHASE3A_PROGRESS.md
  docs/phases/completed/PHASE3A_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE3B_IMPLEMENTATION_OVERVIEW.md
  docs/phases/completed/PHASE3B_PURE_CODE_REDUCTION_SPRINT.md
  docs/phases/completed/PHASE3B_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE3B_WEEK1_EXECUTION.md
  docs/phases/completed/PHASE3B_WEEK2_EXECUTION.md
  docs/phases/completed/PHASE3B_WEEK3_EXECUTION.md
  docs/phases/completed/PHASE3_ARCHITECTURAL_CLEANUP_PLAN.md
Due: documentation-size-policy

MASSIVE Documentation Consolidation: -8,615 lines (60% reduction!)
  docs/phases/completed/MCP_IMPLEMENTATION_ARCHIVE.md
  docs/phases/completed/PERSONA_CHALLENGE_ENHANCEMENT_TECHNICAL_STORIES.md
  docs/phases/completed/PERSONA_CHALLENGE_ENHANCEMENT_USER_STORIES.md
  docs/phases/completed/PHASE12_MCP_BY_DEFAULT_DESIGN.md
  docs/phases/completed/PHASE12_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE12_USER_STORIES.md
  docs/phases/completed/PHASE13_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE13_USER_STORIES.md
  docs/phases/completed/PHASE14_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE14_USER_STORIES.md
  docs/phases/completed/PHASE3A_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE3B_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE3B_WEEK1_EXECUTION.md
  docs/phases/completed/PHASE3B_WEEK2_EXECUTION.md
  docs/phases/completed/PHASE3B_WEEK3_EXECUTION.md
  docs/phases/completed/PHASE7_IMPLEMENTATION_PLAN.md
  docs/phases/completed/PHASE7_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE7_USER_STORIES.md
  docs/phases/completed/PHASE7_WEEK4_ADVANCED_INTERACTIVITY_PLAN.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_ADVANCED.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_CHAT.md
  docs/phases/completed/PHASE7_WEEK4_TECHNICAL_STORIES_CORE.md
  docs/phases/completed/PHASE7_WEEK4_USER_STORIES.md
  docs/phases/completed/PYTHON_MCP_IMPLEMENTATION_ROADMAP.md
  docs/phases/completed/PYTHON_MCP_INTEGRATION_PLAN.md
  docs/phases/completed/PYTHON_MCP_PHASE1_TECHNICAL_SPECS.md
  docs/phases/completed/PYTHON_MCP_PHASE2_TECHNICAL_SPECS.md
  docs/phases/completed/PYTHON_MCP_TECHNICAL_SPECIFICATIONS.md
  docs/phases/completed/TECHNICAL_STORIES_ARCHIVE.md
  docs/phases/completed/USER_STORIES_ARCHIVE.md
Due: documentation-size-policy

Phase 4: Continued Cleanup Planning Document
  docs/phases/PHASE4_CONTINUED_CLEANUP_PLAN.md
Due: documentation-size-policy

Phase 4: Technical Stories with Zero Data Loss Guarantees
  docs/phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy

Phase 4: Executive Visualization Server -176 Line Reduction
  .claudedirector/lib/mcp/executive_visualization_server.py
Due: architecture-compliance-policy

Phase 4: HTML Templating Consolidation -216 Lines (Milestone 2)
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/html_template_processor.py
  docs/phases/PHASE4_STORY4_2_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

Phase 4: Utility Method Consolidation -131 Lines (Milestone 3.1)
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/visualization_utility_processor.py
Due: architecture-compliance-policy

Phase 4: Update Documentation - Historic 91% Progress Toward Target
  docs/phases/PHASE4_STORY4_2_PROGRESS.md
Due: documentation-size-policy

Phase 4: HISTORIC Milestone 3.2 - Ultra-Aggressive Orchestration Delegation
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/visualization_orchestration_processor.py
Due: architecture-compliance-policy

Phase 4: HISTORIC Milestone 3.2 - Ultra-Aggressive Orchestration Delegation
  .claudedirector/lib/mcp/executive_visualization_engine_factory.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/visualization_orchestration_processor.py
Due: architecture-compliance-policy

Fix Black pre-commit hook file pattern
  .pre-commit-config.yaml
Due: none

Phase 4.1.2: Analytics Engine - Create AnalyticsProcessor + Documentation Cleanup
  .claudedirector/lib/context_engineering/analytics_processor.py
  docs/phases/PHASE4_STORY4_1_PROGRESS.md
  docs/phases/completed/PHASE4_STORY4_2_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

Phase 4.1.3: HISTORIC SUCCESS - Analytics Engine 89% Reduction
  .claudedirector/lib/context_engineering/analytics_engine.py
Due: architecture-compliance-policy

🏆 PHASE 4 HISTORIC COMPLETION: Stories 4.3 & 4.4 Strategic Success
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_impact_reporter.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_intelligence_processor.py
  .claudedirector/lib/workflows/strategic_workflow_engine.py
  .claudedirector/lib/workflows/workflow_processor.py
  docs/phases/PHASE4_STORY4_3_PROGRESS.md
  docs/phases/PHASE4_STORY4_4_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

🧹 DOCUMENTATION CLEANUP: Archive Completed Phase 4 Story Progress
  docs/phases/completed/PHASE4_STORY4_1_PROGRESS.md
  docs/phases/completed/PHASE4_STORY4_3_PROGRESS.md
  docs/phases/completed/PHASE4_STORY4_4_PROGRESS.md
Due: documentation-size-policy

Phase 4: Continued Cleanup - Additional -2,000 to -3,000 Lines Target (#117)
  .claudedirector/lib/context_engineering/analytics_engine.py
  .claudedirector/lib/context_engineering/analytics_processor.py
  .claudedirector/lib/mcp/executive_visualization_engine_factory.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/html_template_processor.py
  .claudedirector/lib/mcp/visualization_orchestration_processor.py
  .claudedirector/lib/mcp/visualization_utility_processor.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_impact_reporter.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_intelligence_processor.py
  .claudedirector/lib/workflows/strategic_workflow_engine.py
  .claudedirector/lib/workflows/workflow_processor.py
  .pre-commit-config.yaml
  docs/phases/PHASE4_CONTINUED_CLEANUP_PLAN.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE4_STORY4_1_PROGRESS.md
  docs/phases/completed/PHASE4_STORY4_2_PROGRESS.md
  docs/phases/completed/PHASE4_STORY4_3_PROGRESS.md
  docs/phases/completed/PHASE4_STORY4_4_PROGRESS.md
Due: documentation-size-policy, architecture-compliance-policy

🚀 PHASE 5 INITIATION: Advanced Architectural Cleanup Plan
  docs/phases/PHASE5_ADVANCED_ARCHITECTURAL_CLEANUP_PLAN.md
Due: documentation-size-policy

🏆 Phase 5.1 Complete: Business Logic Unification Facade Transformation
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_impact_reporter.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_value_calculator.py
  docs/phases/PHASE5_ADVANCED_ARCHITECTURAL_CLEANUP_PLAN.md
  docs/phases/PHASE5_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

🔧 Fix CI Pre-commit Hook Issues + Complete Story 5.2 Phase 5.2.1
  .claudedirector/lib/integration/unified_bridge.py
  .claudedirector/lib/integration/unified_bridge_original.py
  .claudedirector/lib/integration/unified_integration_processor.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_impact_reporter.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_impact_reporter_backup_phase5.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_value_calculator.py
  docs/phases/PHASE5_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

🎨 Black Formatting: Auto-format Phase 5.2.2 & 5.2.3 files
  .claudedirector/lib/ai_intelligence/context/intelligence_processor.py
  .claudedirector/lib/ai_intelligence/context/intelligence_unified_facade.py
  .claudedirector/lib/ai_intelligence/context/intelligence_unified_original.py
  .claudedirector/lib/ai_intelligence/framework_detector_facade.py
  .claudedirector/lib/ai_intelligence/framework_detector_original.py
  .claudedirector/lib/ai_intelligence/framework_processor.py
  docs/phases/PHASE5_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

🗑️ Aggressive Bloat Elimination: Delete 4,206 lines of backup files
  .claudedirector/lib/ai_intelligence/context/intelligence_unified_facade.py
  .claudedirector/lib/ai_intelligence/context/intelligence_unified_original.py
  .claudedirector/lib/ai_intelligence/framework_detector_facade.py
  .claudedirector/lib/ai_intelligence/framework_detector_original.py
  .claudedirector/lib/integration/unified_bridge_original.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_impact_reporter_backup_phase5.py
Due: architecture-compliance-policy

Fix documentation size policy - remove oversized backup file
  .claudedirector/lib/ai_intelligence/decision_orchestrator_facade.py
  .claudedirector/lib/ai_intelligence/decision_orchestrator_original.py
  .claudedirector/lib/ai_intelligence/decision_orchestrator_original_final.py
  .claudedirector/lib/ai_intelligence/decision_processor.py
  .claudedirector/lib/core/file_organizer_processor.py
  .claudedirector/lib/core/smart_file_organizer.py
  .claudedirector/lib/core/smart_file_organizer_original.py
  .claudedirector/lib/core/smart_file_organizer_original_final.py
  .claudedirector/lib/personas/advanced_personality_engine_facade.py
  .claudedirector/lib/personas/advanced_personality_engine_original.py
  .claudedirector/lib/personas/advanced_personality_engine_original_final.py
  .claudedirector/lib/personas/personality_processor.py
  docs/phases/PHASE5_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

Cleanup: Remove backup and temporary facade files to show true code reduction
  .claudedirector/lib/ai_intelligence/decision_orchestrator_facade.py
  .claudedirector/lib/ai_intelligence/decision_orchestrator_original.py
  .claudedirector/lib/ai_intelligence/decision_orchestrator_original_final.py
  .claudedirector/lib/core/smart_file_organizer_original.py
  .claudedirector/lib/core/smart_file_organizer_original_final.py
  .claudedirector/lib/personas/advanced_personality_engine_facade.py
  .claudedirector/lib/personas/advanced_personality_engine_original.py
  .claudedirector/lib/personas/advanced_personality_engine_original_final.py
Due: architecture-compliance-policy

BaseProcessor foundation with initial processor refactoring
  .claudedirector/lib/context_engineering/analytics_processor.py
  .claudedirector/lib/core/base_processor.py
  .claudedirector/lib/core/file_organizer_processor.py
  .claudedirector/lib/personas/personality_processor.py
Due: architecture-compliance-policy

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
