Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

🚀 Phase 14: Strategic Development & Platform Maturity (#100)
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/ai_intelligence/mcp_enhanced_ml_pipeline.py
  .claudedirector/lib/ai_intelligence/performance_optimized_ml_pipeline.py
  .claudedirector/tests/regression/p0_blocking/test_mcp_enhanced_ml_pipeline_p0.py
  .claudedirector/tests/regression/p0_blocking/test_performance_optimized_ml_pipeline_p0.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  .pre-commit-config.yaml
Due: architecture-compliance-policy, p0-test-protection-policy

fix: Black formatting for Phase 14 components
  .claudedirector/lib/integration/mcp_enterprise_coordinator.py
  .claudedirector/lib/performance/sub_50ms_optimizer.py
  .claudedirector/lib/personas/__init__.py
  .claudedirector/lib/personas/advanced_personality_engine.py
  .claudedirector/lib/platform/__init__.py
  .claudedirector/lib/platform/multi_tenant_manager.py
  .claudedirector/lib/workflows/__init__.py
  .claudedirector/lib/workflows/strategic_workflow_engine.py
  .claudedirector/tests/regression/p0_blocking/test_platform_maturity_p0.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  docs/phases/PHASE14_COMPACT_IMPLEMENTATION_GUIDE.md
  docs/phases/PHASE14_TRACK2_PLATFORM_MATURITY_PLAN.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs(user): Update user documentation for Phase 14 completion and chat-only alignment
  .claudedirector/tools/quality/enhanced_security_scanner.py
  README.md
  docs/CAPABILITIES.md
  docs/GETTING_STARTED.md
  docs/phases/PHASE14_COMPACT_IMPLEMENTATION_GUIDE.md
  docs/phases/PHASE14_STRATEGIC_DEVELOPMENT_PLAN.md
  docs/phases/PHASE14_TRACK2_PLATFORM_MATURITY_PLAN.md
  docs/setup/QUICK_START.md
Due: documentation-size-policy

fix(ci): Complete import path resolution for all AI Intelligence P0 tests
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tests/regression/p0_blocking/test_context_aware_intelligence_p0.py
  .claudedirector/tests/regression/p0_blocking/test_predictive_analytics_p0.py
Due: p0-test-protection-policy

fix(ci): Resolve critical CI/local environment discrepancy for P0 test failures
  .github/workflows/unified-ci.yml
Due: none

fix: Complete CI environment parity for AI Intelligence P0 tests
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tests/regression/p0_blocking/test_context_aware_intelligence_p0.py
  .claudedirector/tests/regression/p0_blocking/test_predictive_analytics_p0.py
Due: architecture-compliance-policy, p0-test-protection-policy

debug: Add CI import diagnostic to identify root cause
  .claudedirector/tests/debug_ci_import.py
Due: none

debug: Add comprehensive import diagnostic to CI workflow
  .github/workflows/unified-ci.yml
Due: none

fix: Robust import strategy for AI Intelligence P0 tests
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tests/regression/p0_blocking/test_context_aware_intelligence_p0.py
  .claudedirector/tests/regression/p0_blocking/test_predictive_analytics_p0.py
Due: p0-test-protection-policy

fix: Resolve platform module name conflict causing CI failures
  .claudedirector/lib/platform_core/__init__.py
  .claudedirector/lib/platform_core/multi_tenant_manager.py
  .claudedirector/tests/regression/p0_blocking/test_platform_maturity_p0.py
Due: architecture-compliance-policy, p0-test-protection-policy

fix: Completely remove old platform directory causing CI conflicts
  .claudedirector/lib/platform/__init__.py
  .claudedirector/lib/platform/multi_tenant_manager.py
  ci_diagnostic_local.txt
Due: architecture-compliance-policy

fix: Improve Performance P0 test robustness with adaptive CPU tolerance
  .claudedirector/tests/regression/business_critical/test_performance.py
Due: none

Phase 14 Track 2 & 3: Platform Maturity & User Experience Excellence (#103)
  .claudedirector/lib/ai_intelligence/mcp_decision_pipeline.py
  .claudedirector/lib/integration/mcp_enterprise_coordinator.py
  .claudedirector/lib/performance/sub_50ms_optimizer.py
  .claudedirector/lib/personas/__init__.py
  .claudedirector/lib/personas/advanced_personality_engine.py
  .claudedirector/lib/platform_core/__init__.py
  .claudedirector/lib/platform_core/multi_tenant_manager.py
  .claudedirector/lib/workflows/__init__.py
  .claudedirector/lib/workflows/strategic_workflow_engine.py
  .claudedirector/tests/debug_ci_import.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tests/regression/p0_blocking/test_context_aware_intelligence_p0.py
  .claudedirector/tests/regression/p0_blocking/test_platform_maturity_p0.py
  .claudedirector/tests/regression/p0_blocking/test_predictive_analytics_p0.py
  .claudedirector/tools/quality/enhanced_security_scanner.py
  .github/workflows/unified-ci.yml
  README.md
  ci_diagnostic_local.txt
  docs/CAPABILITIES.md
  docs/GETTING_STARTED.md
  docs/phases/PHASE14_COMPACT_IMPLEMENTATION_GUIDE.md
  docs/phases/PHASE14_STRATEGIC_DEVELOPMENT_PLAN.md
  docs/phases/PHASE14_TRACK2_PLATFORM_MATURITY_PLAN.md
  docs/setup/QUICK_START.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

style: Fix Black formatting violations after merge
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tests/regression/p0_blocking/test_platform_maturity_p0.py
Due: p0-test-protection-policy

style: Fix Black formatting for strategic challenge framework
  .claudedirector/lib/personas/strategic_challenge_framework.py
  docs/phases/PERSONA_CHALLENGE_ENHANCEMENT_TECHNICAL_STORIES.md
  docs/phases/PERSONA_CHALLENGE_ENHANCEMENT_USER_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Complete persona challenge enhancement with Black formatting
  .claudedirector/config/challenge_patterns.yaml
  .claudedirector/lib/core/persona_enhancement_engine.py
  .claudedirector/lib/personas/__init__.py
  .claudedirector/lib/personas/strategic_challenge_framework.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_persona_challenge_p0.py
  docs/phases/PERSONA_CHALLENGE_ENHANCEMENT_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

fix: Update P0 new user setup tests for chat-only interface
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0.py
Due: p0-test-protection-policy

feat: Enhance demo scripts with persona challenge showcase
  docs/demo/README.md
  docs/demo/mcp-enhanced-executive-demo-script.md
Due: documentation-size-policy

style: Apply Black formatting to P0 test file
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0.py
Due: p0-test-protection-policy

docs: Mark persona challenge user stories as completed
  docs/phases/PERSONA_CHALLENGE_ENHANCEMENT_USER_STORIES.md
Due: documentation-size-policy

docs: Comprehensive documentation update for persona challenge enhancement
  docs/CAPABILITIES.md
  docs/GETTING_STARTED.md
  docs/architecture/COMPONENTS.md
  docs/architecture/DECISIONS.md
  docs/development/guides/CUSTOM_PERSONAS.md
  docs/reference/api/PERSONA_SYSTEM_API.md
Due: documentation-size-policy

feat: Persona Challenge Enhancement - Transform Agreeable Advisors to Strategic Challengers (#104)
  .claudedirector/config/challenge_patterns.yaml
  .claudedirector/lib/core/persona_enhancement_engine.py
  .claudedirector/lib/personas/__init__.py
  .claudedirector/lib/personas/strategic_challenge_framework.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tests/regression/p0_blocking/test_complete_new_setup_p0.py
  .claudedirector/tests/regression/p0_blocking/test_persona_challenge_p0.py
  .claudedirector/tests/regression/p0_blocking/test_platform_maturity_p0.py
  docs/CAPABILITIES.md
  docs/GETTING_STARTED.md
  docs/architecture/COMPONENTS.md
  docs/architecture/DECISIONS.md
  docs/demo/README.md
  docs/demo/mcp-enhanced-executive-demo-script.md
  docs/development/guides/CUSTOM_PERSONAS.md
  docs/phases/PERSONA_CHALLENGE_ENHANCEMENT_TECHNICAL_STORIES.md
  docs/phases/PERSONA_CHALLENGE_ENHANCEMENT_USER_STORIES.md
  docs/reference/api/PERSONA_SYSTEM_API.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

refactor: Move completed phases to completed directory
  docs/phases/PYTHON_MCP_IMPLEMENTATION_ROADMAP.md
  docs/phases/PYTHON_MCP_INTEGRATION_PLAN.md
  docs/phases/PYTHON_MCP_PHASE1_TECHNICAL_SPECS.md
  docs/phases/PYTHON_MCP_PHASE2_TECHNICAL_SPECS.md
  docs/phases/PYTHON_MCP_TECHNICAL_SPECIFICATIONS.md
  docs/phases/completed/PERSONA_CHALLENGE_ENHANCEMENT_TECHNICAL_STORIES.md
  docs/phases/completed/PERSONA_CHALLENGE_ENHANCEMENT_USER_STORIES.md
  docs/phases/completed/PHASE14_COMPACT_IMPLEMENTATION_GUIDE.md
  docs/phases/completed/PHASE14_STRATEGIC_DEVELOPMENT_PLAN.md
  docs/phases/completed/PHASE14_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE14_TRACK2_PLATFORM_MATURITY_PLAN.md
  docs/phases/completed/PHASE14_USER_STORIES.md
Due: documentation-size-policy

feat: Strategic Python MCP Server Phase 1 implementation
  .claudedirector/config/mcp_servers.yaml
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/mcp/strategic_python_server.py
  .claudedirector/tests/mcp/simple_test.py
  .claudedirector/tests/mcp/test_strategic_python_mcp.py
Due: architecture-compliance-policy

style: Apply Black formatting to MCP code
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/mcp/strategic_python_server.py
  .claudedirector/tests/mcp/simple_test.py
  .claudedirector/tests/mcp/test_strategic_python_mcp.py
Due: architecture-compliance-policy

style: Apply Black formatting to performance test
  .claudedirector/tests/regression/business_critical/test_performance.py
Due: none

feat: Strategic Python MCP Server Phase 1 Implementation (#106)
  .claudedirector/config/mcp_servers.yaml
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/mcp/strategic_python_server.py
  .claudedirector/tests/mcp/simple_test.py
  .claudedirector/tests/mcp/test_strategic_python_mcp.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  docs/phases/PYTHON_MCP_IMPLEMENTATION_ROADMAP.md
  docs/phases/PYTHON_MCP_INTEGRATION_PLAN.md
  docs/phases/PYTHON_MCP_PHASE1_TECHNICAL_SPECS.md
  docs/phases/PYTHON_MCP_PHASE2_TECHNICAL_SPECS.md
  docs/phases/PYTHON_MCP_TECHNICAL_SPECIFICATIONS.md
  docs/phases/completed/PERSONA_CHALLENGE_ENHANCEMENT_TECHNICAL_STORIES.md
  docs/phases/completed/PERSONA_CHALLENGE_ENHANCEMENT_USER_STORIES.md
  docs/phases/completed/PHASE14_COMPACT_IMPLEMENTATION_GUIDE.md
  docs/phases/completed/PHASE14_STRATEGIC_DEVELOPMENT_PLAN.md
  docs/phases/completed/PHASE14_TECHNICAL_STORIES.md
  docs/phases/completed/PHASE14_TRACK2_PLATFORM_MATURITY_PLAN.md
  docs/phases/completed/PHASE14_USER_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

feat: Implement Phase 2 Executive Visualization System
  .claudedirector/config/mcp_servers.yaml
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/integrated_visualization_workflow.py
  requirements.txt
Due: architecture-compliance-policy

style: Apply Black formatting to Phase 2 implementation
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/integrated_visualization_workflow.py
Due: architecture-compliance-policy

refactor: Phase 2 MCP constants refactoring for maintainability
  .claudedirector/lib/mcp/__init__.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/integrated_visualization_workflow.py
  .claudedirector/lib/mcp/strategic_python_server.py
Due: architecture-compliance-policy

style: Apply Black formatting to MCP constants refactoring
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/integrated_visualization_workflow.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/mcp/strategic_python_server.py
Due: architecture-compliance-policy

style: Apply Black formatting to resolve CI validation
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/executive_visualization_server.py
  .claudedirector/lib/mcp/integrated_visualization_workflow.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/mcp/strategic_python_server.py
Due: architecture-compliance-policy

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
