Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

readme-content-protection:
  name: üõ°Ô∏è README CONTENT PROTECTION (Content-Aware)
  entry: python3 .claudedirector/tools/ci/readme_content_protection.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

code-bloat-prevention:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - STRICT ENFORCEMENT
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

code-bloat-prevention-secondary:
  name: üèóÔ∏è CODE BLOAT PREVENTION (MCP-Enhanced) - SECONDARY CHECK
  entry: python3 .claudedirector/tools/validate.py --modules bloat .
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  verbose: true

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

🚨 AUTO-FIX: README.md restored by post-commit hook
  README.md
Due: readme-content-protection, documentation-size-policy

fix: eliminate all hardcoded values from daily planning implementation
  .claudedirector/lib/automation/daily_planning_config.py
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  README.md
  docs/development/specs/006-daily-planning-command-fixes/tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: eliminate flaky P0 Performance test behavior for deterministic reliability
  .claudedirector/tests/regression/business_critical/test_performance.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

🚨 AUTO-FIX: README.md restored by post-commit hook
  .claudedirector/lib/automation/daily_planning_config.py
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/constants.py
Due: code-bloat-prevention, code-bloat-prevention-secondary, architecture-compliance-policy

restore: README.md from main branch
  README.md
Due: readme-content-protection, documentation-size-policy

fix: restore README.md after consolidation testing
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  .pre-commit-config.yaml
Due: none

fix: complete README protection system consolidation
  .claudedirector/config/.pre-commit-config.yaml
  .claudedirector/tools/automation/protect_readme.py
  .claudedirector/tools/ci/post-commit-readme-verify.sh
  .claudedirector/tools/ci/readme-pre-stash-protection.sh
  .claudedirector/tools/ci/readme-protection.sh
  .claudedirector/tools/ci/readme_content_protection.py
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

test: minimal commit to isolate README.md deletion cause
  README.md
Due: readme-content-protection, documentation-size-policy

test: trigger pre-commit hooks to identify README deletion source
  test_file.md
Due: documentation-size-policy

test: reproduce stash/restore README deletion bug
  another_test.md
Due: documentation-size-policy

fix: implement bulletproof README.md stash corruption protection
  test_stash_fix.md
Due: documentation-size-policy

fix: complete README.md stash corruption protection system
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
Due: none

cleanup: remove root-level markdown bloat and organize documentation
  another_test.md
  docs/development/TESTING_PERSONAL_RETROSPECTIVE.md
  test_file.md
  test_stash_fix.md
Due: documentation-size-policy

docs: fix daily planning command documentation inconsistencies
  README.md
  docs/GETTING_STARTED.md
  docs/USER_CONFIGURATION_GUIDE.md
  docs/development/specs/005-personal-daily-planner/README.md
  docs/development/specs/005-personal-daily-planner/tasks.md
Due: readme-content-protection, documentation-size-policy

test: debug README.md stash corruption issue
  README.md
Due: readme-content-protection, documentation-size-policy

test: validate README.md stash corruption fix preserves committed changes
  README.md
Due: readme-content-protection, documentation-size-policy

fix: README.md stash corruption - restore from committed version instead of main
  README.md
Due: readme-content-protection, documentation-size-policy

feat: implement /daily-plan slash commands following /retrospective pattern (#158)
  .claudedirector/config/.pre-commit-config.yaml
  .claudedirector/lib/automation/daily_planning_config.py
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/constants.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/regression/business_critical/test_performance.py
  .claudedirector/tools/automation/protect_readme.py
  .claudedirector/tools/ci/post-commit-readme-verify.sh
  .claudedirector/tools/ci/readme-pre-stash-protection.sh
  .claudedirector/tools/ci/readme-protection.sh
  .claudedirector/tools/ci/readme_content_protection.py
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  .pre-commit-config.yaml
  docs/GETTING_STARTED.md
  docs/USER_CONFIGURATION_GUIDE.md
  docs/development/TESTING_PERSONAL_RETROSPECTIVE.md
  docs/development/specs/005-personal-daily-planner/README.md
  docs/development/specs/005-personal-daily-planner/tasks.md
  docs/development/specs/006-daily-planning-command-fixes/plan.md
  docs/development/specs/006-daily-planning-command-fixes/spec.md
  docs/development/specs/006-daily-planning-command-fixes/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

fix: eliminate daily planning code duplication - BLOAT_PREVENTION_SYSTEM.md compliance
  .claudedirector/lib/automation/daily_planning_manager.py
  PR_DESCRIPTION.md
  README.md
  data/strategic/memory_manager.py
  docs/development/specs/005-personal-daily-planner/README.md
  docs/development/specs/005-personal-daily-planner/implementation-status.md
  docs/development/specs/005-personal-daily-planner/plan.md
  docs/development/specs/005-personal-daily-planner/spec.md
  docs/development/specs/005-personal-daily-planner/tasks.md
  docs/development/specs/006-daily-planning-command-fixes/spec.md
  docs/development/specs/006-daily-planning-command-fixes/tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Complete PersonalDailyPlanningAgent implementation with P0 validation
  .claudedirector/lib/agents/personal_daily_planning_agent.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_personal_daily_planning_p0.py
  .claudedirector/tools/bin/daily-plan
  .cursor/commands/daily-plan-help.md
  .cursor/commands/daily-plan-review.md
  .cursor/commands/daily-plan-start.md
  .cursor/commands/daily-plan-status.md
  PR_DESCRIPTION.md
  docs/development/specs/006-daily-planning-command-fixes/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

fix: add comprehensive README.md for P0 test compliance
  README.md
Due: readme-content-protection, documentation-size-policy

revert: restore comprehensive README.md to previous working version
  README.md
Due: readme-content-protection, documentation-size-policy

Fix terminal hang bug in daily-plan commands
  .claudedirector/lib/agents/minimal_daily_planning_agent.py
  .claudedirector/lib/agents/terminal_safe_daily_planning_agent.py
  .claudedirector/lib/agents/ultra_minimal_daily_planning_agent.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tools/bin/daily-plan
  README.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

Fix README.md content to pass P0 Complete New Setup test
  README.md
Due: readme-content-protection, documentation-size-policy

docs: Update PR description to reflect terminal hang bug fixes
  PR_DESCRIPTION.md
Due: documentation-size-policy

Remove PR_DESCRIPTION.md and restore README.md
  PR_DESCRIPTION.md
Due: documentation-size-policy

fix: Daily Planning BLOAT_PREVENTION_SYSTEM.md Compliance - Eliminate Code Duplication (#159)
  .claudedirector/lib/agents/minimal_daily_planning_agent.py
  .claudedirector/lib/agents/personal_daily_planning_agent.py
  .claudedirector/lib/agents/terminal_safe_daily_planning_agent.py
  .claudedirector/lib/agents/ultra_minimal_daily_planning_agent.py
  .claudedirector/lib/automation/daily_planning_manager.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/regression/p0_blocking/test_personal_daily_planning_p0.py
  .claudedirector/tools/bin/daily-plan
  .cursor/commands/daily-plan-help.md
  .cursor/commands/daily-plan-review.md
  .cursor/commands/daily-plan-start.md
  .cursor/commands/daily-plan-status.md
  data/strategic/memory_manager.py
  docs/development/specs/005-personal-daily-planner/README.md
  docs/development/specs/005-personal-daily-planner/implementation-status.md
  docs/development/specs/005-personal-daily-planner/plan.md
  docs/development/specs/005-personal-daily-planner/spec.md
  docs/development/specs/005-personal-daily-planner/tasks.md
  docs/development/specs/006-daily-planning-command-fixes/spec.md
  docs/development/specs/006-daily-planning-command-fixes/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

Fix retrospective command integration - Complete implementation
  .claudedirector/config/weekly_report_config.yaml.template
  .claudedirector/lib/agents/personal_retrospective_agent.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .cursor/commands/retrospective-create.md
  .cursor/commands/retrospective-help.md
  .cursor/commands/retrospective-view.md
  .cursorrules
  README.md
  docs/development/specs/004-retrospective-command-integration-fix.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

Fix README.md content and P0 test failure
  README.md
Due: readme-content-protection, documentation-size-policy

Fix retrospective command integration - Complete implementation (#160)
  .claudedirector/config/weekly_report_config.yaml.template
  .claudedirector/lib/agents/personal_retrospective_agent.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .cursor/commands/retrospective-create.md
  .cursor/commands/retrospective-help.md
  .cursor/commands/retrospective-view.md
  .cursorrules
  README.md
  docs/development/specs/004-retrospective-command-integration-fix.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy, architecture-compliance-policy

feat: Complete duplication elimination consolidation
  .claudedirector/tools/quality/validate_net_reduction.py
  PR_DESCRIPTION.md
  README.md
  data/schemas/schema.sql
  docs/architecture/BLOAT_PREVENTION_SYSTEM.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/DUPLICATION_ELIMINATION_SUMMARY.md
  docs/development/specs/005-duplication-elimination-consolidation/plan.md
  docs/development/specs/005-duplication-elimination-consolidation/spec.md
  docs/development/specs/005-duplication-elimination-consolidation/tasks.md
Due: readme-content-protection, code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

fix: Restore README.md to fix P0 Complete New Setup test
  README.md
Due: readme-content-protection, documentation-size-policy

cleanup: Remove temporary PR_DESCRIPTION.md file
  PR_DESCRIPTION.md
Due: documentation-size-policy

fix: Removed unnecessary documnetation
  docs/development/DUPLICATION_ELIMINATION_SUMMARY.md
Due: documentation-size-policy

feat: Massive architectural cleanup - 99%+ bloat elimination
  .claudedirector/demo_enhanced_diego.py
  .claudedirector/demo_multi_persona.py
  .claudedirector/tools/automation/demo_meeting_intelligence.py
  .claudedirector/tools/automation/demo_strategic_scenario.py
  .claudedirector/tools/automation/persona_chat_demo.py
  .claudedirector/tools/demo/phase7_demo.py
  .claudedirector/tools/demo/phase7_week2_demo.py
  .claudedirector/tools/demo/phase7_week3_demo.py
Due: code-bloat-prevention, code-bloat-prevention-secondary

feat: Duplication Elimination Consolidation - 100% Architectural Compliance (#161)
  .claudedirector/demo_enhanced_diego.py
  .claudedirector/demo_multi_persona.py
  .claudedirector/tools/automation/demo_meeting_intelligence.py
  .claudedirector/tools/automation/demo_strategic_scenario.py
  .claudedirector/tools/automation/persona_chat_demo.py
  .claudedirector/tools/demo/phase7_demo.py
  .claudedirector/tools/demo/phase7_week2_demo.py
  .claudedirector/tools/demo/phase7_week3_demo.py
  .claudedirector/tools/quality/validate_net_reduction.py
  data/schemas/schema.sql
  docs/architecture/BLOAT_PREVENTION_SYSTEM.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/development/specs/005-duplication-elimination-consolidation/plan.md
  docs/development/specs/005-duplication-elimination-consolidation/spec.md
  docs/development/specs/005-duplication-elimination-consolidation/tasks.md
Due: code-bloat-prevention, code-bloat-prevention-secondary, documentation-size-policy

Path conditions:
  readme-content-protection: any of: ^README\.md$
  code-bloat-prevention: any of: \.py$
  code-bloat-prevention-secondary: any of: \.py$
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
