Repository chriscantu/ClaudeDirector: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy, p1-unit-tests, p1-test-coverage

documentation-size-policy:
  name: üìã DOCUMENTATION SIZE POLICY (500 lines max - aligned with code)
  entry: python3 .claudedirector/tools/quality/check_doc_size.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-compliance-policy:
  name: üèóÔ∏è ARCHITECTURE COMPLIANCE POLICY
  entry: python3 .claudedirector/tools/quality/check_architecture.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p0-test-protection-policy:
  name: üõ°Ô∏è P0 TEST PROTECTION POLICY
  entry: python3 .claudedirector/tools/quality/check_p0_tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

p1-unit-tests:
  name: P1 Unit Tests
  entry: python .claudedirector/tools/quality/run_p1_unit_tests.py
  language: python
  pass_filenames: false

p1-test-coverage:
  name: P1 Test Coverage Check
  entry: python .claudedirector/tools/quality/check_p1_coverage.py
  language: python
  pass_filenames: false

fix: ROBUST ASYNCIO HANDLING - Fix CI event loop issues in Phase 8 Performance P0 test
  .claudedirector/tests/regression/p0_blocking/test_phase8_performance_p0.py
Due: p0-test-protection-policy

fix: PERFORMANCE OPTIMIZATION - Resolve Phase 8 Performance P0 test execution time
  .claudedirector/lib/core/unified_performance_manager.py
Due: architecture-compliance-policy

fix: ULTRA-FAST DIRECT EXECUTION - Remove all overhead from optimize_call for CI performance
  .claudedirector/lib/core/unified_performance_manager.py
Due: architecture-compliance-policy

fix: CI-aware performance thresholds for Phase 8 P0 test
  .claudedirector/lib/core/unified_performance_manager.py
  .claudedirector/tests/regression/p0_blocking/test_phase8_performance_p0.py
Due: architecture-compliance-policy, p0-test-protection-policy

docs: cleanup outdated Phase 4 and Phase 5 documentation
  docs/phases/PHASE4_CONTINUED_CLEANUP_PLAN.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
  docs/phases/PHASE5_ADVANCED_ARCHITECTURAL_CLEANUP_PLAN.md
  docs/phases/PHASE5_TECHNICAL_STORIES.md
Due: documentation-size-policy

🏗️ Phase 2: Advanced Architectural Patterns & Deep Code Optimization (#122)
  .claudedirector/lib/ai_intelligence/context/intelligence_unified.py
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/decision_processor.py
  .claudedirector/lib/ai_intelligence/framework_detector.py
  .claudedirector/lib/ai_intelligence/performance_optimized_ml_pipeline.py
  .claudedirector/lib/core/base_processor.py
  .claudedirector/lib/core/file_organizer_processor_refactored.py
  .claudedirector/lib/core/smart_file_organizer.py
  .claudedirector/lib/core/strategy_pattern_manager.py
  .claudedirector/lib/core/unified_factory.py
  .claudedirector/lib/core/unified_performance_manager.py
  .claudedirector/lib/integration/unified_bridge.py
  .claudedirector/lib/mcp/executive_visualization_engine_factory.py
  .claudedirector/lib/mcp/visualization_dashboard_factory.py
  .claudedirector/lib/p0_features/domains/strategic_metrics/business_value_calculator.py
  .claudedirector/lib/p0_features/integration/model_factory.py
  .claudedirector/lib/performance/__init__.py
  .claudedirector/lib/performance/response_optimizer.py
  .claudedirector/lib/performance/sub_50ms_optimizer.py
  .claudedirector/lib/personas/advanced_personality_engine.py
  .claudedirector/lib/personas/personality_processor.py
  .claudedirector/tests/regression/p0_blocking/test_phase8_performance_p0.py
  docs/phases/PHASE2_PLANNING.md
  docs/phases/PHASE2_TECHNICAL_STORIES.md
  docs/phases/PHASE4_CONTINUED_CLEANUP_PLAN.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
  docs/phases/PHASE5_ADVANCED_ARCHITECTURAL_CLEANUP_PLAN.md
  docs/phases/PHASE5_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

docs: Initialize Phase 2.4 Performance Bottleneck Elimination
  docs/phases/PHASE2.4_IMPLEMENTATION_PLAN.md
Due: documentation-size-policy

feat: TS-2 Cache Consolidation Complete - 387+ lines eliminated
  .claudedirector/lib/ai_intelligence/mcp_enhanced_ml_pipeline.py
  .claudedirector/lib/benchmark.py
  .claudedirector/lib/utils/cache.py
  .claudedirector/tests/regression/p0_blocking/test_performance_optimized_ml_pipeline_p0.py
  docs/phases/PHASE2.4_DUPLICATION_ANALYSIS.md
  docs/phases/PHASE2.4_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

feat: TS-3 Memory Consolidation Complete - 312+ lines eliminated
  .claudedirector/lib/benchmark.py
  .claudedirector/lib/utils/memory.py
Due: architecture-compliance-policy

✅ P0 CRITICAL: Achieve 100% P0 success + complete TS-4/TS-5 acceptance criteria
  .claudedirector/README.md
  .claudedirector/compliance_reports/p0_critical_compliance_20250905_155637.md
  .claudedirector/docs/SEQUENTIAL_THINKING_ENFORCEMENT.md
  .claudedirector/docs/development/guides/CONTEXT7_MCP_UTILIZATION.md
  .claudedirector/enforcement_results/p0_critical_enforcement_20250905_155637.json
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/decision_processor.py
  .claudedirector/lib/ai_intelligence/framework_processor.py
  .claudedirector/lib/ai_intelligence/predictive_processor.py
  .claudedirector/lib/core/__init__.py
  .claudedirector/lib/core/enhanced_persona_manager.py
  .claudedirector/lib/core/framework_types.py
  .claudedirector/lib/core/lightweight_fallback.py
  .claudedirector/lib/core/persona_chat_integration.py
  .claudedirector/lib/core/unified_performance_manager.py
  .claudedirector/lib/mcp/conversational_data_manager.py
  .claudedirector/lib/mcp/conversational_interaction_manager.py
  .claudedirector/lib/mcp/mcp_integration.py
  .claudedirector/lib/ml_intelligence/ml_prediction_router.py
  .claudedirector/lib/performance/__init__.py
  .claudedirector/lib/performance/performance_monitor.py
  .claudedirector/lib/performance/unified_response_handler.py
  .claudedirector/lib/personas/personality_processor.py
  .claudedirector/lib/personas/strategic_challenge_framework.py
  .claudedirector/tests/p0_enforcement/p0_test_definitions.yaml
  .claudedirector/tests/persona_integration/__init__.py
  .claudedirector/tests/persona_integration/test_chat_interface.py
  .claudedirector/tests/persona_integration/test_p2_chat_adapter.py
  .claudedirector/tests/persona_integration/test_persona_bridge.py
  .claudedirector/tests/regression/p0_blocking/test_ai_intelligence.py
  .claudedirector/tests/regression/p0_blocking/test_context7_utilization_p0.py
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/p0_critical_feature_enforcer.py
  .claudedirector/tools/architecture/sequential_thinking_validator.py
  .claudedirector/validation_results/sequential_thinking_validation_20250905_155637.json
  docs/development/guides/CONTEXT7_MCP_UTILIZATION.md
  docs/phases/PHASE2.4_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🔧 FIX: Move Black formatting to first step in pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: P0 critical fixes + comprehensive bloat elimination
  .claudedirector/tests/regression/p0_blocking/test_sequential_thinking_p0.py
  .claudedirector/tools/architecture/p0_critical_feature_enforcer.py
  .claudedirector/tools/architecture/p0_enforcement_suite.py
  .claudedirector/tools/architecture/sequential_thinking_validator.py
  README.md
  docs/architecture/CODE_ELIMINATION_PHASE1_PLAN.md
  docs/demo/README.md
  docs/demo/generated/demo_alvaro_roi_dashboard.html
  docs/demo/generated/demo_leadership_dashboard.html
  docs/demo/mcp-enhanced-complete-demo-package.md
  docs/demo/mcp-enhanced-demo-script.md
  docs/demo/mcp-enhanced-demo-visuals.md
  docs/demo/mcp-enhanced-executive-demo-script.md
  docs/deprecated/cli-v2-README.md
  docs/development/PHASE1_ARCHITECTURAL_PLAN.md
  docs/development/PHASE2C_FINAL_CLEANUP_PLAN.md
  docs/development/PHASE2_ENGINE_MIGRATION_PLAN.md
  docs/development/PHASE2_HYBRID_DATABASE_MIGRATION.md
  docs/development/PHASE2_PHASE3_CLEANUP_TODOS.md
  docs/development/TECHNICAL_STORIES_PHASE1.md
  docs/development/guides/CONTEXT_ENGINEERING_DEVELOPMENT.md
  docs/phases/PHASE2.4_DUPLICATION_ANALYSIS.md
  docs/phases/PHASE2.4_IMPLEMENTATION_PLAN.md
  docs/requirements/CONTEXT_ENGINEERING_ARCHITECTURE.md
  docs/requirements/CONTEXT_ENGINEERING_IMPLEMENTATION_STATUS.md
  docs/requirements/CONTEXT_ENGINEERING_REQUIREMENTS.md
Due: documentation-size-policy, p0-test-protection-policy

🛡️ Implement Enhanced Duplication Prevention System
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/tests/persona/test_persona_personalities.py
  .claudedirector/tools/architecture/enhanced_duplication_detector.py
  .pre-commit-config.yaml
  docs/TECHNICAL_INDEX.md
  docs/USER_CONFIGURATION_GUIDE.md
  docs/architecture/ADR-016-MANDATORY-ARCHITECTURAL-DISCOVERY.md
  docs/architecture/DECISIONS.md
  docs/architecture/PHASE_TRACKING_MASTER.md
  docs/architecture/SCOPE_PROTECTION_SYSTEM.md
  docs/phases/PHASE2.4_TECHNICAL_STORIES.md
  docs/phases/PHASE2_PLANNING.md
  docs/phases/PHASE2_TECHNICAL_STORIES.md
  docs/phases/PHASE3_IMPLEMENTATION_PLAN.md
  docs/phases/PHASE3_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

🚀 TS-4 Enhanced Cursor Integration - Phase 1 Complete (70%)
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/lib/integration/code_strategic_mapper.py
  docs/architecture/ADR-017-TS4-ENHANCED-CURSOR-INTEGRATION.md
  docs/phases/PHASE3_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

🎨 Fix Black formatting for TS-4 components
  .claudedirector/lib/integration/code_strategic_mapper.py
  docs/phases/PHASE3_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

🛡️ Re-enable Duplication Prevention with TS-4 Threshold Adjustment
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .pre-commit-config.yaml
Due: none

🎨 Fix Black formatting for TS-4 components
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/decision_processor.py
  .claudedirector/lib/context_engineering/workspace_integration.py
  .claudedirector/lib/integration/unified_integration_processor.py
  .claudedirector/lib/integration/workflow_optimizer.py
  .pre-commit-config.yaml
  docs/phases/PHASE3_TECHNICAL_STORIES.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

✅ Phase 3: TS-4 Enhanced Cursor Integration - Complete Implementation (100%) (#124)
  .claudedirector/lib/ai_intelligence/decision_orchestrator.py
  .claudedirector/lib/ai_intelligence/decision_processor.py
  .claudedirector/lib/context_engineering/workspace_integration.py
  .claudedirector/lib/core/cursor_response_enhancer.py
  .claudedirector/lib/integration/code_strategic_mapper.py
  .claudedirector/lib/integration/unified_integration_processor.py
  .claudedirector/lib/integration/workflow_optimizer.py
  .claudedirector/tests/persona/test_persona_personalities.py
  .claudedirector/tools/architecture/bloat_prevention_hook.py
  .claudedirector/tools/architecture/enhanced_duplication_detector.py
  .pre-commit-config.yaml
  docs/TECHNICAL_INDEX.md
  docs/USER_CONFIGURATION_GUIDE.md
  docs/architecture/ADR-016-MANDATORY-ARCHITECTURAL-DISCOVERY.md
  docs/architecture/ADR-017-TS4-ENHANCED-CURSOR-INTEGRATION.md
  docs/architecture/DECISIONS.md
  docs/architecture/PHASE_TRACKING_MASTER.md
  docs/architecture/SCOPE_PROTECTION_SYSTEM.md
  docs/phases/PHASE2.4_TECHNICAL_STORIES.md
  docs/phases/PHASE2_PLANNING.md
  docs/phases/PHASE2_TECHNICAL_STORIES.md
  docs/phases/PHASE3_IMPLEMENTATION_PLAN.md
  docs/phases/PHASE3_TECHNICAL_STORIES.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy

🎭 Phase 4: Enhanced Persona Challenge System - Project Initiation
  docs/phases/PHASE4_PROGRESS.md
Due: documentation-size-policy

🎭 TS-1: Enhanced Challenge Detection Engine - COMPLETE
  .claudedirector/config/challenge_patterns.yaml
Due: none

🔧 Fix trailing whitespace in Phase 4 Technical Stories
  docs/phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy

🔧 Fix trailing whitespace in Phase 4 Technical Stories
  .claudedirector/config/challenge_patterns.yaml
  .claudedirector/enforcement_results/p0_enforcement_results_20250907_144353.json
  .claudedirector/enforcement_results/p0_enforcement_results_20250907_150000.json
  .claudedirector/enforcement_results/p0_enforcement_results_20250907_150029.json
  .claudedirector/tests/regression/p0_blocking/test_persona_challenge_p0.py
  .claudedirector/tools/architecture/p0_enforcement_suite.py
  README.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy, p0-test-protection-policy

🧹 Repository Cleanup: Remove Enforcement Results from Source Control
  .claudedirector/enforcement_results/p0_critical_enforcement_20250905_155637.json
  .claudedirector/enforcement_results/p0_enforcement_results_20250907_144353.json
  .claudedirector/enforcement_results/p0_enforcement_results_20250907_150000.json
  .claudedirector/enforcement_results/p0_enforcement_results_20250907_150029.json
  .gitignore
Due: none

📋 Phase 4 Documentation: Repository Cleanup Completion
  docs/phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy

📋 Phase 3 Documentation: Fix Technical Stories Status Inconsistency
  docs/phases/PHASE3_TECHNICAL_STORIES.md
Due: documentation-size-policy

🧹 Phase 3 Documentation Cleanup: Eliminate Confusion
  docs/phases/PHASE3_TECHNICAL_STORIES.md
Due: documentation-size-policy

🔧 Restore and Improve Black Python Formatter Pre-commit Hook
  .claudedirector/tools/bin/claudedirector-context
  .claudedirector/tools/bin/configure-user
  .claudedirector/tools/ci/git-commit-smart
  .claudedirector/tools/hooks/pre-commit-ai-cleanup
  .pre-commit-config.yaml
Due: none

TS-3 Config: Adaptive Challenge Intelligence Configuration
  .claudedirector/config/challenge_patterns.yaml
Due: none

TS-3 Core: Adaptive Challenge Intelligence Framework
  .claudedirector/lib/personas/strategic_challenge_framework.py
Due: architecture-compliance-policy

📋 Fix CI: Documentation Size Policy Compliance
  docs/phases/PHASE4_TECHNICAL_STORIES.md
  docs/phases/PHASE4_TS3_COMPLETION_REPORT.md
Due: documentation-size-policy

🧠 P0 CRITICAL: Sequential Thinking Universal Activation
  .claudedirector/lib/core/cursor_response_enhancer.py
Due: architecture-compliance-policy

🔒 Fix Security Scanner: Replace sensitive table name
  .claudedirector/tools/bin/capture-current-conversation
Due: none

🏗️ PHASE 4 COMPLETE: TS-4 & TS-5 Enhanced Challenge Integration with Major DRY Improvements
  .claudedirector/config/challenge_patterns.yaml
  .claudedirector/lib/core/persona_enhancement_engine.py
  .claudedirector/lib/personas/strategic_challenge_framework.py
  .claudedirector/tests/regression/p0_blocking/test_persona_challenge_p0.py
  docs/phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy, architecture-compliance-policy, p0-test-protection-policy

🔧 CRITICAL FIX: Black formatting for CI compliance
  .claudedirector/lib/personas/strategic_challenge_framework.py
Due: architecture-compliance-policy

🔧 BLACK FORMATTING: Apply formatting to enhanced static analyzer
  .claudedirector/config/challenge_patterns.yaml
  .claudedirector/lib/personas/strategic_challenge_framework.py
  .claudedirector/tools/architecture/bloat_prevention_system.py
Due: architecture-compliance-policy

📚 DOCUMENTATION: Clean up Phase 4 and restore README value proposition
  README.md
  docs/phases/PHASE4_TECHNICAL_STORIES.md
Due: documentation-size-policy

Path conditions:
  documentation-size-policy: any of: \.md$
  architecture-compliance-policy: any of: ^\.claudedirector/lib/.*\.py$
  p0-test-protection-policy: any of: ^\.claudedirector/tests/.*test.*p0.*\.py$|^\.claudedirector/tests/.*_p0_.*\.py$, but not: ^\.claudedirector/tests/p0_enforcement/run_mandatory_p0_tests\.py$
  p1-unit-tests: any of: ^(lib/claudedirector/p1_features/.*\.py|tests/p1_features/unit/.*\.py)$
  p1-test-coverage: any of: ^lib/claudedirector/p1_features/.*\.py$
